Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: where the async nature of setMessages prevents updateMessage from accessing the messages in sync.
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb
  bun.lockb
Due: none

refactor: useSyncState
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/__tests__/useSyncState.test.tsx
  components/useXChat/index.ts
  components/useXChat/useSyncState.ts
Due: biome check --write --files-ignore-unknown=true

test: refactor the test cases for XRequest
  components/x-request/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: improve the Content-Type matching
  components/x-request/__tests__/index.test.tsx
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

test: add test for same instance for the same baseURL or fetch
  components/x-request/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: add test for XFetch
  components/x-request/__tests__/x-fetch.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: prettier code
  components/x-request/demo/custom-transformer.tsx
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: add test for XRequest 1.0.2
  components/x-request/__tests__/index-v1.0.2.test.tsx
  components/x-request/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: refactor ts
  components/x-request/demo/basic.tsx
  components/x-request/demo/custom-transformer.tsx
Due: biome check --write --files-ignore-unknown=true

test: mod x-request test file name
  components/x-request/__tests__/x-request.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: refactor test case and supplemental coverage
  components/x-request/__tests__/index.test.tsx
  components/x-request/__tests__/x-request.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: add test case for TransformStream error
  components/x-request/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update version
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: changelog for 1.0.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update RICH head img
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

chore: Update site-deploy.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

chore: add release to X github action
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

chore: rename key
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

feat(bubble): add typing suffix support
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/typing.tsx
  components/bubble/hooks/useTypingConfig.ts
  components/bubble/interface.ts
  tests/utils.tsx
Due: biome check --write --files-ignore-unknown=true

fix: resolve lint issues encountered using pnpm installation
  tests/utils.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Bubble width overflow problem
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: enable prefetch for dumi Link
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/builtins/LocaleLink/index.tsx
  .dumi/theme/common/Link.tsx
  .dumi/theme/slots/Footer/index.tsx
  .dumirc.ts
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

feat(bubble): add typing suffix support
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/typing.tsx
  components/bubble/hooks/useTypingConfig.ts
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: XStream 返回流同时支持异步迭代
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

refactor: bubble style
  components/bubble/demo/debug.md
  components/bubble/demo/debug.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snapshot for debug demo
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: add basic placement: end demo
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/debug.tsx
Due: biome check --write --files-ignore-unknown=true

docs(Bubble): improve typing demo documentation
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/typing.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Editable properties of bubble
  components/bubble/Bubble.tsx
  components/bubble/Editor.tsx
  components/bubble/demo/editable.md
  components/bubble/demo/editable.tsx
  components/bubble/hooks/useMergedConfig.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Add the api of editable property in Bubble
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Improve document syntax
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: asyncGenerator -> asyncIterable
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

Update components/x-stream/index.ts
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: Intention
  docs/spec/define-intention-type.en-US.md
  docs/spec/define-intention-type.zh-CN.md
  docs/spec/guide-intention-expression.en-US.md
  docs/spec/guide-intention-expression.zh-CN.md
  docs/spec/intention-introduce.en-US.md
  docs/spec/intention-introduce.zh-CN.md
  docs/spec/provide-intention-expectation.en-US.md
  docs/spec/provide-intention-expectation.zh-CN.md
Due: prettier --ignore-unknown --write
