Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: site build
  .dumi/hooks/useScrollY.ts
  .dumi/pages/index/common/CustomizationProvider.tsx
  .dumi/pages/index/common/CustomizationSender.tsx
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/CompIntroduction/Customization.tsx
  .dumi/pages/index/components/CompIntroduction/index.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  .dumi/pages/index/components/SceneIntroduction/Independent.tsx
  .dumi/pages/index/components/SceneIntroduction/Nest.tsx
  .dumi/pages/index/constants/color.ts
  .dumi/pages/index/constants/locales.ts
Due: biome check --write --files-ignore-unknown=true

docs: adjust the cn desc
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

docs: mod font-family
  .dumi/pages/index/common/Container.tsx
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/theme/slots/Header/Logo.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: use svg instead png in lottie.json
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: useLottie to manage lottie lazyload
  .dumi/hooks/useLottie.ts
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: index load
  .dumi/pages/index/common/CustomizationSender.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: css
  .dumi/pages/index/common/Container.tsx
  .dumi/pages/index/common/CustomizationProvider.tsx
  .dumi/pages/index/common/CustomizationSender.tsx
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/CompIntroduction/Customization.tsx
  .dumi/pages/index/components/CompIntroduction/index.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  .dumi/pages/index/components/SceneIntroduction/Independent.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/theme/SiteThemeProvider.tsx
  .dumi/theme/slots/Header/Logo.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: Conversations Style
  components/conversations/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: playground
  .dumi/theme/slots/Content/index.tsx
  .dumi/theme/slots/Header/Navigation.tsx
  docs/playground/assistant.en-US.md
  docs/playground/assistant.tsx
  docs/playground/assistant.zh-CN.md
  docs/playground/independent.en-US.md
  docs/playground/independent.tsx
  docs/playground/independent.zh-CN.md
  docs/playground/nest.en-US.md
  docs/playground/nest.tsx
  docs/playground/nest.zh-CN.md
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

refactor: index page always use dark theme
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: fix style and replace img
  .dumi/pages/index/components/CompIntroduction/index.tsx
  .dumi/pages/index/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: reorder site
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/themeConfig.ts
  components/attachments/FileList/FileListCard.tsx
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
  components/prompts/index.en-US.md
  components/prompts/index.zh-CN.md
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
  components/suggestion/index.en-US.md
  components/suggestion/index.zh-CN.md
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
  components/welcome/index.en-US.md
  components/welcome/index.zh-CN.md
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
  components/x-stream/index.en-US.md
  components/x-stream/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: all cover
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
  components/prompts/index.en-US.md
  components/prompts/index.zh-CN.md
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
  components/suggestion/index.en-US.md
  components/suggestion/index.zh-CN.md
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
  components/welcome/index.en-US.md
  components/welcome/index.zh-CN.md
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
  components/x-stream/index.en-US.md
  components/x-stream/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: update snapshot
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix: index page theme
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

feat: design spec
  docs/spec/authentic-consistent.zh-CN.md
  docs/spec/confirm-generation-process.zh-CN.md
  docs/spec/confirm.zh-CN.md
  docs/spec/conversation-design.zh-CN.md
  docs/spec/define-intention-type.zh-CN.md
  docs/spec/end.zh-CN.md
  docs/spec/error.zh-CN.md
  docs/spec/expression-user-input.zh-CN.md
  docs/spec/expression-user-send.zh-CN.md
  docs/spec/feedback-result-application.zh-CN.md
  docs/spec/feedback-result-display.zh-CN.md
  docs/spec/follow-up.zh-CN.md
  docs/spec/guide-intention-expression.zh-CN.md
  docs/spec/hint.zh-CN.md
  docs/spec/human-touch.zh-CN.md
  docs/spec/hybrid-ui-design.zh-CN.md
  docs/spec/intention-introduce.zh-CN.md
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
  docs/spec/provide-intention-expectation.zh-CN.md
  docs/spec/role-design.zh-CN.md
  docs/spec/smooth-natural.zh-CN.md
  docs/spec/start.zh-CN.md
  docs/spec/wake-up-ai-icon.zh-CN.md
  docs/spec/wake-up-welcome-message.zh-CN.md
Due: prettier --ignore-unknown --write

feat: design spec
  docs/spec/authentic-consistent.en-US.md
  docs/spec/confirm-generation-process.en-US.md
  docs/spec/confirm.en-US.md
  docs/spec/conversation-design.en-US.md
  docs/spec/define-intention-type.en-US.md
  docs/spec/end.en-US.md
  docs/spec/error.en-US.md
  docs/spec/expression-user-input.en-US.md
  docs/spec/expression-user-send.en-US.md
  docs/spec/feedback-result-application.en-US.md
  docs/spec/feedback-result-display.en-US.md
  docs/spec/follow-up.en-US.md
  docs/spec/guide-intention-expression.en-US.md
  docs/spec/hint.en-US.md
  docs/spec/human-touch.en-US.md
  docs/spec/hybrid-ui-design.en-US.md
  docs/spec/intention-introduce.en-US.md
  docs/spec/provide-intention-expectation.en-US.md
  docs/spec/role-design.en-US.md
  docs/spec/smooth-natural.en-US.md
  docs/spec/start.en-US.md
  docs/spec/wake-up-ai-icon.en-US.md
  docs/spec/wake-up-welcome-message.en-US.md
Due: prettier --ignore-unknown --write

refactor: navigate
  .dumi/pages/index/common/Container.tsx
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/DesignGuide.tsx
Due: biome check --write --files-ignore-unknown=true

chore: remove code about antd-with-locales
  index-with-locales.js
  package.json
  tests/dekko/dist.test.js
  webpack.config.js
Due: biome check --write --files-ignore-unknown=true

feat: design freamwork
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/CompIntroduction/index.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/pages/index/index.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  docs/playground/independent.tsx
  docs/react/common-props.en-US.md
  docs/react/common-props.zh-CN.md
  docs/react/css-variables.en-US.md
  docs/react/css-variables.zh-CN.md
  docs/react/recommendation.en-US.md
  docs/react/recommendation.zh-CN.md
  docs/spec/wake-up-ai-icon.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: design banner lottie
  .dumi/pages/index/components/DesignBanner.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: dasign guide lottie
  .dumi/pages/index/components/DesignGuide.tsx
Due: biome check --write --files-ignore-unknown=true

chore: delete docs
  docs/playground/assistant.en-US.md
  docs/playground/assistant.tsx
  docs/playground/assistant.zh-CN.md
  docs/playground/nest.en-US.md
  docs/playground/nest.tsx
  docs/playground/nest.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update readme
  README-zh_CN.md
  README.md
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

chore: mod predeploy script
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: update readme
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: update ip img
  .dumi/pages/index/components/CompIntroduction/Customization.tsx
  .dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  .dumi/pages/index/components/SceneIntroduction/Independent.tsx
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/demo/_semantic.tsx
  components/welcome/demo/background.tsx
  components/welcome/demo/basic.tsx
  components/welcome/demo/variant.tsx
  docs/playground/independent.tsx
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update img url
  .dumi/pages/index/components/SceneIntroduction/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update model-use-openai
  .dumi/pages/index/components/DesignFramework.tsx
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update model-use
  .dumi/pages/index/components/DesignGuide.tsx
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
  docs/react/model-use-other.en-US.md
  docs/react/model-use-other.zh-CN.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update use openai
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
Due: prettier --ignore-unknown --write

fix: useXAgent set dangerouslyApiKey to XRequest
  components/useXAgent/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: ip lottie update
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix RICH introduce
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix define-intention-type
  docs/spec/define-intention-type.en-US.md
  docs/spec/define-intention-type.zh-CN.md
Due: prettier --ignore-unknown --write

docs: sync .dumi from antd
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/common/ComponentChangelog/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/Content/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix documentation contributor list
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
