Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: ai cr
  packages/x/.dumi/theme/common/CodePreview.tsx
Due: biome check --write --files-ignore-unknown=true

feat: a2ui
  packages/x-card/src/A2UI/Card.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/src/A2UI/Card.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/catalog.ts
  packages/x-card/src/A2UI/index.ts
  packages/x-card/src/A2UI/types/command_v0.9.ts
  packages/x-card/src/index.ts
  packages/x/docs/x-card/a2ui-v-0-8.en-US.md
  packages/x/docs/x-card/a2ui-v-0-8.zh-CN.md
  packages/x/docs/x-card/a2ui-v-0-9.en-US.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog.json
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.tsx
  packages/x/docs/x-card/introduce.zh-CN.md
  packages/x/docs/x-card/quick-start.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Card.v0.8.ts
  packages/x-card/src/A2UI/Card.v0.9.ts
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/format/components.ts
  packages/x-card/src/A2UI/types/command_v0.8.ts
  packages/x-card/src/A2UI/utils.ts
  packages/x/docs/x-card/a2ui-v-0-8.zh-CN.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/progressive.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/progressive.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/.jest.js
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/__tests__/Box.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/Card.v0.8.test.ts
  packages/x-card/src/A2UI/__tests__/Card.v0.9.test.ts
  packages/x-card/src/A2UI/__tests__/catalog.test.ts
  packages/x-card/src/A2UI/__tests__/components.test.ts
  packages/x-card/src/A2UI/__tests__/integration.test.tsx
  packages/x-card/src/A2UI/__tests__/utils.test.ts
  packages/x-card/src/__tests__/CardLoader.test.tsx
  packages/x-card/src/index.ts
  packages/x-card/tests/setup.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  scripts/check-repo.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  scripts/pre-publish.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/tests/setup.ts
  packages/x/docs/x-card/a2ui-v-0-8.en-US.md
  packages/x/docs/x-card/a2ui-v-0-8.zh-CN.md
  packages/x/docs/x-card/a2ui-v-0-9.en-US.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.md
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/progressive.md
  packages/x/docs/x-card/demo/A2UI_v0.8/progressive.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.md
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.md
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/__tests__/Box.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/integration.test.tsx
  packages/x-card/src/A2UI/types/box.ts
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/progressive.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/src/A2UI/Card.v0.8.ts
  packages/x-card/src/A2UI/__tests__/Box.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/integration.test.tsx
  packages/x/docs/x-card/a2ui-v-0-8.en-US.md
  packages/x/docs/x-card/a2ui-v-0-8.zh-CN.md
  packages/x/docs/x-card/a2ui-v-0-9.en-US.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.8/filter-search.md
  packages/x/docs/x-card/demo/A2UI_v0.8/filter-search.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/form-validation.md
  packages/x/docs/x-card/demo/A2UI_v0.8/form-validation.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/multi-card-sync.md
  packages/x/docs/x-card/demo/A2UI_v0.8/multi-card-sync.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/nested-interaction.md
  packages/x/docs/x-card/demo/A2UI_v0.8/nested-interaction.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/streaming.md
  packages/x/docs/x-card/demo/A2UI_v0.8/streaming.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog-cart.json
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog-filter.json
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog-form.json
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog-nested.json
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog-streaming.json
  packages/x/docs/x-card/demo/A2UI_v0.9/filter-search.md
  packages/x/docs/x-card/demo/A2UI_v0.9/filter-search.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/form-validation.md
  packages/x/docs/x-card/demo/A2UI_v0.9/form-validation.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/multi-card-sync.md
  packages/x/docs/x-card/demo/A2UI_v0.9/multi-card-sync.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/nested-interaction.md
  packages/x/docs/x-card/demo/A2UI_v0.9/nested-interaction.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/streaming.md
  packages/x/docs/x-card/demo/A2UI_v0.9/streaming.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/Card.v0.8.ts
  packages/x-card/src/A2UI/types/command_v0.8.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/filter-search.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/form-validation.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/multi-card-sync.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/nested-interaction.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/progressive.tsx
  packages/x/docs/x-card/demo/A2UI_v0.8/streaming.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/catalog-cart.json
  packages/x/docs/x-card/demo/A2UI_v0.9/filter-search.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/form-validation.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/multi-card-sync.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/nested-interaction.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/streaming.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  .codefuse/plans/Plan_20260316180524.md
  .codefuse/plans/Plan_20260316180525.md
  .codefuse/skills/components/SKILL.md
Due: prettier --ignore-unknown --write

feat: x-card
  packages/x-skill/.claude-plugin/marketplace.json
Due: biome check --write --files-ignore-unknown=true

feat: update span
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat: x-card
  README-zh_CN.md
  README.md
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/utils.ts
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x/docs/react/introduce.en-US.md
  packages/x/docs/react/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update span
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: x-card
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.v0.9.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat: x-card
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix(ThoughtChain): fix status overriding custom icon, duplicate className, and contentOpen undefined
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/Status.tsx
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix(ThoughtChain): remove duplicate className in clsx call
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix(ThoughtChain): default contentOpen to false instead of undefined
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(ThoughtChain): preserve custom icon when status is set
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/Status.tsx
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: title preview
  packages/x-skill/src/skill-meta.json
  packages/x/components/folder/DirectoryTree.tsx
  packages/x/components/folder/FilePreview.tsx
  packages/x/components/folder/demo/basic.tsx
  packages/x/components/folder/index.tsx
  packages/x/components/folder/style/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: folder
  packages/x/components/folder/DirectoryTree.tsx
  packages/x/components/folder/FilePreview.tsx
  packages/x/components/folder/demo/basic.tsx
Due: biome check --write --files-ignore-unknown=true

chore: mako config
  packages/x/.dumirc.ts
  packages/x/mako.config.json
Due: biome check --write --files-ignore-unknown=true

fix: 删除一些无用按钮
  packages/x/.dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: 删除一些无用按钮
  packages/x/components/folder/index.en-US.md
  packages/x/components/folder/index.zh-CN.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
