Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: demo
  components/attachments/demo/with-sender.tsx
Due: biome check --write --files-ignore-unknown=true

test: basic test case
  components/attachments/DropArea.tsx
  components/attachments/SilentUploader.tsx
  components/attachments/__tests__/__snapshots__/demo.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/__tests__/demo-extend.test.ts
  components/attachments/__tests__/demo.test.ts
  components/attachments/__tests__/demo.test.tsx
  components/attachments/__tests__/image.test.ts
  components/attachments/__tests__/index.test.tsx
  components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Logo style adjust.
  .dumi/theme/slots/Header/Logo.tsx
Due: biome check --write --files-ignore-unknown=true

test: coverage
  components/attachments/DropArea.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/__tests__/drag.test.tsx
  components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: semantic block
  components/attachments/FileList/Progress.tsx
  components/attachments/FileList/index.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/__tests__/drag.test.tsx
  components/attachments/demo/_semantic.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update demo
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: fix lint
  components/attachments/FileList/index.tsx
  components/attachments/__tests__/drag.test.tsx
  components/attachments/style/index.ts
  components/attachments/util.ts
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test: update snapshot
  tests/__snapshots__/index.test.ts.snap
Due: none

chore: update lock file
  bun.lockb
Due: none

test: update snapshot
  components/attachments/FileList/index.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

docs: update demo
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/demo/basic.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/demo/with-sender.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: adjust code
  components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update demo
  components/attachments/demo/with-sender.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.0.0-alpha.6
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

fix: the first upload could not trigger the upload request.
  components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snap
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: update bun.lockb
  bun.lockb
Due: none

docs: changelog of 1.0.0-alpha.7
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: code error
  components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.0.0-alpha.8
  package.json
Due: biome check --write --files-ignore-unknown=true

test: update snap
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: Sender.Header can not focus
  components/sender/__tests__/index.test.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.0.0-alpha.9
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: init welcome logic
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/index.ts
  components/theme/components.ts
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/index.test.tsx.snap
  components/welcome/__tests__/demo-extend.test.ts
  components/welcome/__tests__/demo.test.ts
  components/welcome/__tests__/image.test.ts
  components/welcome/__tests__/index.test.tsx
  components/welcome/demo/_semantic.tsx
  components/welcome/demo/basic.md
  components/welcome/demo/basic.tsx
  components/welcome/demo/variant.md
  components/welcome/demo/variant.tsx
  components/welcome/index.en-US.md
  components/welcome/index.tsx
  components/welcome/index.zh-CN.md
  components/welcome/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: the rendering control issue of DropArea component's children, preventing the loss of input instance that leads to upload failure.
  components/attachments/DropArea.tsx
Due: biome check --write --files-ignore-unknown=true

test: update drop on placeholder test
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/__tests__/drag.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.0.0-alpha.10
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update doc
  components/welcome/demo/_semantic.tsx
  components/welcome/demo/extra.md
  components/welcome/demo/extra.tsx
  components/welcome/demo/variant.md
  components/welcome/demo/variant.tsx
  components/welcome/index.en-US.md
  components/welcome/index.tsx
  components/welcome/index.zh-CN.md
  components/welcome/style/index.ts
  components/x-provider/context.ts
  components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snapshot
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/index.test.tsx.snap
  components/welcome/__tests__/demo-extend.test.ts
  components/welcome/__tests__/demo.test.ts
  components/welcome/__tests__/image.test.ts
  components/welcome/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint
  components/welcome/__tests__/index.test.tsx
  components/welcome/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: add devDependencies lottie-web for site
  package.json
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/demo/background.md
  components/welcome/demo/background.tsx
  components/welcome/demo/extra.md
  components/welcome/demo/extra.tsx
  components/welcome/demo/variant.tsx
  components/welcome/index.en-US.md
  components/welcome/index.zh-CN.md
  components/welcome/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint
  components/welcome/demo/background.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs: update doc
  components/welcome/demo/background.tsx
Due: biome check --write --files-ignore-unknown=true
