Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: prepublishOnly
  scripts/pre-publish.ts
Due: biome check --write --files-ignore-unknown=true

chore: prepublishOnly
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: prepublishOnly
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
  scripts/pre-publish.ts
Due: biome check --write --files-ignore-unknown=true

fix: subscribe cleanup problem
  packages/x-sdk/src/x-chat/store.ts
  packages/x-sdk/src/x-conversations/store.ts
Due: biome check --write --files-ignore-unknown=true

feat: update
  packages/x-markdown/scripts/generate-plugin-meta.ts
  packages/x-markdown/src/plugins/version/version.ts
  packages/x-markdown/src/version/version.ts
Due: biome check --write --files-ignore-unknown=true

feat: update
  biome.json
Due: biome check --write --files-ignore-unknown=true

feat: update
  packages/x-sdk/src/x-conversations/store.ts
  packages/x-sdk/src/x-stream/__test__/index.test.ts
  packages/x/components/x-stream/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update
  packages/x-markdown/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: prepublishOnly
  .gitignore
  packages/x-markdown/src/plugins/version/plugin-meta.json
  packages/x/components/bubble/demo/editable.tsx
Due: biome check --write --files-ignore-unknown=true

Update ignored files
  packages/x-markdown/src/plugins/version/plugin-meta.json
  packages/x-markdown/src/plugins/version/version.ts
Due: biome check --write --files-ignore-unknown=true

feat: prestart
  package.json
  packages/x-sdk/package.json
Due: biome check --write --files-ignore-unknown=true

feat: prestart
  package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: prestart
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: prestart
  .github/workflows/preview-build.yml
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: prestart
  .github/workflows/preview-build.yml
Due: prettier --ignore-unknown --write

fix(Bubble): api name fixed
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/EditableContent.tsx
  packages/x/components/bubble/__tests__/index.test.tsx
  packages/x/components/bubble/demo/editable.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

docs(Bubble): lint
  packages/x/components/bubble/demo/editable.tsx
Due: biome check --write --files-ignore-unknown=true

docs(Bubble): api description
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore(biome): remove don't exist rule "useUniqueElementIds"
  biome.json
Due: biome check --write --files-ignore-unknown=true

chore(biome): recover biome config
  biome.json
Due: biome check --write --files-ignore-unknown=true

fix: fix Semantic
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/sender/SenderHeader.tsx
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix Semantic
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/header.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/switch.test.tsx.snap
Due: none

feat: actions copy
  packages/x-markdown/src/version/version.ts
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/style/copy.ts
  packages/x/components/actions/style/feedback.ts
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions copy
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/style/copy.ts
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions
  packages/x/components/actions/ActionsAudio.tsx
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.tsx
  packages/x/components/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: update biome config and fix test transform stream formatting
  biome.json
  components/x-stream/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot for use-x-agent demo and remove unused import in useActive test
  components/suggestion/__tests__/useActive.test.tsx
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

docs: 补全文档中类似Prefix等属性
  components/welcome/index.en-US.md
  components/welcome/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: Actions
  packages/x/components/actions/ActionsAudio.tsx
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/demo/basic.tsx
  packages/x/components/actions/demo/sub.tsx
  packages/x/components/actions/demo/variant.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/style/audio.tsx
  packages/x/components/actions/style/copy.ts
  packages/x/components/actions/style/feedback.ts
  packages/x/components/actions/style/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/useLocale.ts
  packages/x/components/locale/zh_CN.ts
  packages/x/components/x-provider/demo/direction.tsx
  packages/x/components/x-provider/demo/locale.tsx
  packages/x/components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: Actions
  packages/x/components/actions/ActionsAudio.tsx
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/__tests__/audio.test.tsx
  packages/x/components/actions/__tests__/copy.test.tsx
  packages/x/components/actions/__tests__/feedback.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/locale/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

feat: Actions
  .gitignore
Due: none

feat: Actions
  biome.json
Due: biome check --write --files-ignore-unknown=true

feat: Actions
  packages/x/components/actions/demo/sub.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Actions
  packages/x/components/actions/style/audio.tsx
  packages/x/components/actions/style/copy.ts
  packages/x/components/actions/style/feedback.ts
Due: biome check --write --files-ignore-unknown=true

feat: Actions
  packages/x/components/actions/ActionsAudio.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
