Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: fix scripts tsconfig allowJs
  packages/x/scripts/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

fix: image mask
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-sdk): auto cleanup throttle timer when all listeners unsubscribe
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

fix: set mermaid height to aviod render shaking
  packages/x/components/mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: with markdown docs
  packages/x/components/mermaid/demo/with-xmarkdown.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/demo/slot-with-suggestion.tsx
Due: biome check --write --files-ignore-unknown=true

test: snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: snap
  packages/x/components/sender/demo/slot-with-suggestion.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-sdk/src/x-chat/__test__/store.test.ts
Due: biome check --write --files-ignore-unknown=true

fix: ts
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update
  packages/x/components/introduce/index.en-US.md
  packages/x/components/introduce/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update
  packages/x/components/introduce/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update release-dingtalk
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

chore: changelog of 2.1.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.1.1
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: prettier --ignore-unknown --write

fix: skill focus
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: focus
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: focus
  packages/x/components/sender/hooks/use-cursor.ts
  packages/x/components/sender/hooks/use-input-height.ts
Due: biome check --write --files-ignore-unknown=true

feat: focus
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

refactor: slot
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

refactor:dingtalk
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

docs: tbox
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: tbox
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sursor
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/components/notification/index.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
  packages/x/components/sender/hooks/use-slot-builder.ts
Due: biome check --write --files-ignore-unknown=true

feat: sursor
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

fix test
  packages/x-markdown/.jest.js
  packages/x-sdk/.jest.js
  packages/x/.jest.js
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
