Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: docs
  package.json
  packages/x-markdown/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: docs
  packages/x-markdown/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

docs: Change demo image URL in README
  README.md
Due: prettier --ignore-unknown --write

fix: fix lint
  biome.json
Due: biome check --write --files-ignore-unknown=true

Update demo image link in README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

feat: ut site 报错
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

feat: HighlightCode test case
  packages/x-markdown/src/plugins/HighlightCode/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 将x-markdown中HighlightCode、Mermaid插件的操作图标替换为x/Actions
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x/components/locale/zh_CN.ts
Due: biome check --write --files-ignore-unknown=true

fteat: Fix spelling mistakes
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Simplified writing method
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

test(mermaid): 更新测试用例和按钮交互方式
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: supply the test case in markdown footer
  packages/x-markdown/src/XMarkdown/__test__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

feat(x-markdown): 添加footer支持
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__test__/footer.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/index.css
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x/docs/x-markdown/demo/codeDemo/footer.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(demo): 添加国际化支持
  packages/x/docs/x-markdown/demo/codeDemo/footer.tsx
Due: biome check --write --files-ignore-unknown=true

style(x-markdown): 优化页脚样式和类名结构
  packages/x-markdown/src/XMarkdown/index.css
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/footer.tsx
Due: biome check --write --files-ignore-unknown=true

refactor(x-markdown): 简化样式类名
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__test__/footer.test.tsx
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

chore: remove unused devDependencies
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

chore: Update workflow to use test-utoo.yml
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

feat: sender
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

test(bubble): update test snapshot.
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: changelog 2.0.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/react/migration-v2.en-US.md
  packages/x/docs/react/migration-v2.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog 2.0.0
  packages/x/docs/react/migration-v2.zh-CN.md
Due: prettier --ignore-unknown --write

feat: site
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: site
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

docs: update badages in README.md
  README.md
Due: prettier --ignore-unknown --write

Fix npm version badge for @ant-design/x
  README-zh_CN.md
Due: prettier --ignore-unknown --write

feat: site
  .github/workflows/preview-deploy.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

feat: site
  .github/workflows/preview-deploy.yml
Due: prettier --ignore-unknown --write

feat: site
  .github/workflows/site-deploy.yml
  CNAME
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: site
  package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

style(x-markdown): 优化footer部分样式
  packages/x-markdown/src/XMarkdown/index.css
Due: biome check --write --files-ignore-unknown=true
