Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: version
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: version
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/scripts/generate-version.ts
Due: biome check --write --files-ignore-unknown=true

feat: version
  packages/x-skill/.claude-plugin/marketplace.json
Due: biome check --write --files-ignore-unknown=true

feat: version
  packages/x-skill/bin/index.js
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: ask
  packages/x-skill/.jest.js
  packages/x-skill/__tests__/cli.test.js
  packages/x-skill/__tests__/error-handling.test.js
  packages/x-skill/__tests__/index.test.js
  packages/x-skill/__tests__/install.test.js
  packages/x-skill/__tests__/interactive.test.js
  packages/x-skill/__tests__/simple-cli.test.js
  packages/x-skill/__tests__/ui.test.js
  packages/x-skill/__tests__/utils.test.js
  packages/x-skill/__tests__/version.test.js
Due: biome check --write --files-ignore-unknown=true

feat: fix
  packages/x/components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: skill
  packages/x-skill/package.json
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

feat: version
  packages/x-skill/scripts/generate-version.ts
Due: biome check --write --files-ignore-unknown=true

fix: accept
  packages/x/components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: ts
  packages/x/components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 优化
  packages/x-skill/__tests__/index.test.js
  packages/x/components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: prompt
  packages/x/.dumi/theme/builtins/PromptTemplate.tsx
  packages/x/docs/x-skill/prompt.en-US.md
  packages/x/docs/x-skill/prompt.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: prompt
  packages/x/.dumi/theme/builtins/PromptTemplate.tsx
Due: biome check --write --files-ignore-unknown=true

feat: prompt
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/use-x-chat/reference/CORE.md
  packages/x-skill/skills-zh/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

feat: prompt
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.md
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sdk queueRequest
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
Due: biome check --write --files-ignore-unknown=true

feat: queueRequest
  packages/x/docs/x-sdk/demos/x-conversations/session-key.md
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: prompt
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: chat input
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

feat: currentConversationKey
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: currentConversationKey
  packages/x/docs/x-skill/prompt.zh-CN.md
Due: prettier --ignore-unknown --write

fix: useMergedState
  packages/x/components/conversations/demo/controlled-mode.tsx
  packages/x/components/conversations/demo/with-menu.tsx
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.tsx
  packages/x/components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-markdown): When dark mode is enabled, the styles of the CodeHighlighter and Mermaid components are incorrect.
  packages/x-markdown/src/themes/dark.css
Due: biome check --write --files-ignore-unknown=true

fix: skill
  packages/x-skill/scripts/generate-version.ts
Due: biome check --write --files-ignore-unknown=true

feat(useXChat): queueRequest (#1761)
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.md
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
  packages/x/docs/x-skill/prompt.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: skill
  packages/x/components/conversations/demo/controlled-mode.tsx
  packages/x/components/conversations/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: skill
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x-skill/package.json
  packages/x-skill/scripts/skillApi.ts
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x-skill/skills/x-request/reference/CORE.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: skill
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

fix(x-markdown):change dark mode css code and pre class name
  packages/x-markdown/src/themes/dark.css
Due: biome check --write --files-ignore-unknown=true

feat: api
  packages/x-skill/package.json
  packages/x-skill/scripts/skillApi.ts
  packages/x-skill/scripts/skillApi/config.ts
  packages/x-skill/scripts/skillApi/index.ts
  packages/x-skill/skills-zh/use-x-chat/reference/API.md
  packages/x-skill/skills-zh/x-request/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/x-request/reference/API.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-markdown): class name typo error
  packages/x-markdown/src/themes/dark.css
Due: biome check --write --files-ignore-unknown=true
