Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: Actions
  biome.json
Due: biome check --write --files-ignore-unknown=true

feat: Actions
  packages/x/docs/x-markdown/demo/codeDemo/xss.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Actions
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: 补充common-props文档
  components/welcome/index.en-US.md
  components/welcome/index.zh-CN.md
  docs/react/common-props.en-US.md
  docs/react/common-props.zh-CN.md
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

feat: actions
  packages/x/components/actions/ActionsItem.tsx
Due: biome check --write --files-ignore-unknown=true

feat: actions
  packages/x/components/actions/demo/preset.tsx
Due: biome check --write --files-ignore-unknown=true

feat: doc
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: doc
  packages/x/components/actions/demo/_semantic.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: enable utoopack when bundle umd
  .fatherrc.ts
  .jest.js
  .npmrc
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: update for 2.0
  packages/x/CHANGELOG.zh-CN.md
  packages/x/README-zh_CN.md
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/notification/index.en-US.md
  packages/x/docs/react/common-props.en-US.md
  packages/x/docs/react/common-props.zh-CN.md
Due: prettier --ignore-unknown --write

docs: readme and changelog
  README-zh_CN.md
  README.md
  package.json
  packages/x-markdown/README-zh_CN.md
  packages/x-markdown/README.md
  packages/x-markdown/package.json
  packages/x-sdk/README-zh_CN.md
  packages/x-sdk/README.md
  packages/x-sdk/package.json
  packages/x/CHANGELOG.en-US.md
  packages/x/CHANGELOG.zh-CN.md
  packages/x/README-zh_CN.md
  packages/x/README.md
  packages/x/docs/react/dangerously-api-key.en-US.md
  packages/x/docs/react/dangerously-api-key.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: readme and changelog
  packages/x-markdown/package.json
  packages/x-sdk/package.json
Due: biome check --write --files-ignore-unknown=true

docs: readme and changelog
  packages/x-markdown/README-zh_CN.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

docs: x-sdk
  packages/x-sdk/package.json
  packages/x/CHANGELOG.md
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/__tests__/audio.test.tsx
  packages/x/components/actions/__tests__/copy.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: change
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: change
  packages/x-markdown/package.json
  packages/x-sdk/package.json
Due: biome check --write --files-ignore-unknown=true

chore: change
  packages/x-markdown/src/version/version.ts
Due: biome check --write --files-ignore-unknown=true

chore: change
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
  scripts/check-repo.ts
Due: biome check --write --files-ignore-unknown=true

Update ignored files
  packages/x-markdown/src/version/version.ts
Due: biome check --write --files-ignore-unknown=true

fix: actions
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/demo/preset.tsx
Due: biome check --write --files-ignore-unknown=true

chore: version
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: version
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/themes/dark.css
Due: biome check --write --files-ignore-unknown=true

chore: change
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: enable utoopack for antdx/antdx-sdk umd bundle
  .npmrc
  package.json
  packages/x-markdown/.fatherrc.ts
  packages/x-sdk/.fatherrc.ts
  packages/x/.fatherrc.ts
  packages/x/.jest.js
  packages/x/components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

fix(Bubble): style
  packages/x/components/bubble/demo/basic.tsx
  packages/x/components/bubble/style/bubble.ts
Due: biome check --write --files-ignore-unknown=true

docs(Bubble): demo tab
  packages/x/components/bubble/demo/basic.tsx
Due: biome check --write --files-ignore-unknown=true

fix(Bubble): keep edited content format
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/EditableContent.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/index.test.tsx
  packages/x/components/bubble/demo/gpt-vis.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/demo/markdown.tsx
Due: biome check --write --files-ignore-unknown=true

fix: file-card SemanticType
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/demo/_semantic-list.tsx
  packages/x/components/file-card/demo/image.tsx
  packages/x/components/file-card/demo/list.tsx
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: file-card SemanticType
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/demo/_semantic-item.tsx
  packages/x/components/thought-chain/index.tsx
  packages/x/components/thought-chain/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: file-card SemanticType
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/demo/audio.tsx
  packages/x/components/file-card/demo/basic.tsx
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: file-card SemanticType
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: file-card SemanticType
  packages/x/components/file-card/components/File.tsx
  packages/x/components/file-card/demo/basic.tsx
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: file-card SemanticType
  packages/x/components/file-card/components/File.tsx
Due: biome check --write --files-ignore-unknown=true

fix: file-card SemanticType
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs(Bubble): Bubble.List autoScroll explanation
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

dosc(Bubble): Bubble.List autoScroll explanation
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
