Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(Bubble): semantic of Bubble
  packages/x/.dumi/components/SemanticPreview.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/Divider.tsx
  packages/x/components/bubble/__tests__/divider.test.tsx
  packages/x/components/bubble/demo/_semantic-divider.tsx
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/demo/_semantic-system.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

fix: x-sdk requestFallback error
  packages/x-sdk/src/x-request/index.ts
  packages/x-sdk/src/x-stream/index.ts
  packages/x/.dumi/theme/builtins/Sandpack/index.tsx
  packages/x/components/introduce/index.en-US.md
  packages/x/components/introduce/index.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/introduce.en-US.md
  packages/x/docs/x-sdk/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: x-sdk requestFallback error
  packages/x-sdk/src/x-request/index.ts
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true

fix: antd-token-previewer updated
  packages/x-markdown/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: ignore scripts
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

feat(FileCaed): support jfif format
  packages/x/components/file-card/FileCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add sources component
  packages/x/components/index.ts
  packages/x/components/sources/Sources.tsx
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/sources/__tests__/demo-extend.test.ts
  packages/x/components/sources/__tests__/demo.test.ts
  packages/x/components/sources/__tests__/image.test.ts
  packages/x/components/sources/__tests__/index.test.tsx
  packages/x/components/sources/components/CarouselCard.tsx
  packages/x/components/sources/demo/_semantic.tsx
  packages/x/components/sources/demo/basic.md
  packages/x/components/sources/demo/basic.tsx
  packages/x/components/sources/demo/expand.md
  packages/x/components/sources/demo/expand.tsx
  packages/x/components/sources/demo/icon.md
  packages/x/components/sources/demo/icon.tsx
  packages/x/components/sources/demo/inline.md
  packages/x/components/sources/demo/inline.tsx
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.tsx
  packages/x/components/sources/index.zh-CN.md
  packages/x/components/sources/style/index.ts
  packages/x/components/theme/interface/components.ts
  packages/x/components/x-provider/context.ts
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint fix
  packages/x/components/sources/style/index.ts
  packages/x/components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint fix
  packages/x/components/sources/Sources.tsx
  packages/x/components/sources/components/CarouselCard.tsx
  packages/x/components/sources/demo/_semantic.tsx
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: add display
  packages/x/components/sources/Sources.tsx
Due: biome check --write --files-ignore-unknown=true

fix: update test
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: test fix
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs: modification tips (#844)
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: Conversations ellipsis lose efficacy (#877)
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/demo/basic.tsx
  components/conversations/demo/group.tsx
  components/conversations/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: ConversationsItem title display [Object Object] and support extr… (#898)
  components/conversations/Item.tsx
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/conversations/index.tsx
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: demo在消息请求过程中不可创建会话 (#816)
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.4.0 (#882)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: sender supplement documents to address user inquiries (#835)
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: change llm (#880)
  components/use-x-agent/demo/model.tsx
  components/use-x-chat/demo/model.tsx
  components/x-request/demo/model.tsx
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: resolve the security issues of apikey (#840)
  components/use-x-agent/demo/model.tsx
  components/use-x-chat/demo/model.tsx
  components/x-request/demo/model.tsx
  components/x-request/index.ts
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.3.0 (#845)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: Bubble.List footer has no key (#876)
  components/bubble/BubbleList.tsx
  components/bubble/demo/markdown.tsx
Due: biome check --write --files-ignore-unknown=true

fixed: semantic of filelist (#1017)
  components/attachments/FileList/index.tsx
  components/attachments/demo/_semantic.tsx
  components/attachments/index.tsx
  components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

fix: sender doc
  components/sender/demo/_semantic.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.5.0 (#1026)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: upgrade biome to 2.0 (#969)
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  biome.json
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: fix lint (#993)
  package.json
Due: biome check --write --files-ignore-unknown=true

feat[Bubble.List]: support to listen onScroll callback
  components/bubble/BubbleList.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/onScroll.md
  components/bubble/demo/onScroll.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: enhance theme switching functionality (#940)
  .dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --files-ignore-unknown=true

type: fix type error in scripts/generate-authors.ts (#968)
  scripts/generate-authors.ts
Due: biome check --write --files-ignore-unknown=true

Add pickAttrs & direction (#995)
  components/actions/index.tsx
  components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix[Conversations]: onActiveChange be triggered when click disabled menu item
  components/conversations/Item.tsx
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix dumi useLocale type error (#1036)
  .dumi/hooks/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

feat: unset color in ReactNode
  components/attachments/FileList/FileListCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: use uid in demo
  components/attachments/demo/files-custom.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add custom icon options for FileCard
  components/attachments/FileList/FileListCard.tsx
  components/attachments/demo/files-custom.md
  components/attachments/demo/files-custom.tsx
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

type(bubble): remove repeat type declare
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

chore: update icon
  components/attachments/demo/files-custom.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
