Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: modification tips
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: sender
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: delete
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.3.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.3.0
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: changelog of 1.3.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: coverage
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: ci
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/demo/semantic-list-custom.md
  packages/x/components/bubble/demo/semantic-list-custom.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Potential fix for code scanning alert no. 16: Workflow does not contain permissions
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

chore: size-limit
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

chore: pkg manager
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

chore: size-limit
  .github/workflows/size-limit.yml
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: scripts
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

feat: opt docs for Actions
  components/actions/__tests__/actionMenu.test.tsx
  components/actions/__tests__/demo-extend.test.ts
  components/actions/__tests__/demo.test.ts
  components/actions/__tests__/image.test.ts
  components/actions/__tests__/index.test.tsx
  components/actions/demo/sub.md
  components/actions/demo/variant.md
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: actions test
  components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/actions/__tests__/demo-extend.test.ts
  components/actions/__tests__/demo.test.ts
  components/actions/__tests__/image.test.ts
  components/actions/index.zh-CN.md
  components/x-provider/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add actions snap
  components/actions/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: add displayName
  components/actions/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: actions opt
  components/actions/ActionMenu.tsx
  components/actions/demo/sub.tsx
  components/actions/index.en-US.md
  components/actions/index.tsx
  components/actions/index.zh-CN.md
  components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: test
  components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: update snap
  components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: add menu click test
  components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update sub item click test
  components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-shard
  packages/x-shared/package.json
Due: biome check --write --files-ignore-unknown=true

chore: fix deploy
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

feat: x-markdown init
  packages/x-markdown/core/Lexer.ts
  packages/x-markdown/core/Parser.ts
  packages/x-markdown/core/Renderer.ts
  packages/x-markdown/core/helpers.ts
  packages/x-markdown/core/index.ts
  packages/x-markdown/hooks/useBuffer.ts
  packages/x-markdown/index.tsx
  packages/x-markdown/interface.ts
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

feat: sender add suffix
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: ConversationsItem title display [Object Object] and support extra html properties
  components/conversations/Item.tsx
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update Conversation docs
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add suffix docs
  components/sender/demo/_semantic.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat add prefixNoFocus
  components/sender/demo/_semantic.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add prefixNoFocus docs
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(prefixNoFocus): update explanation
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: init preivew docs
  packages/x-markdown/XMarkdown.tsx
  packages/x-markdown/core/Parser.ts
  packages/x-markdown/core/Renderer.ts
  packages/x-markdown/core/helpers.ts
  packages/x-markdown/core/index.ts
  packages/x-markdown/index.ts
  packages/x-markdown/interface.ts
  packages/x-markdown/mako.config.json
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

fix(Safari): Event execution sequence
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix(isSafari): add hooks
  .dumi/hooks/useIsSafari.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: add note
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true
