Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(sender): 修复loadingButton传入icon属性时同时显示两个图标
  components/sender/components/LoadingButton.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update snapshot
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: fix ThoughtChain.item style
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/demo/gpt-vis.tsx
  packages/x/components/bubble/style/bubble.ts
Due: biome check --write --files-ignore-unknown=true

chore: update snapshot
  components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/actions/__tests__/__snapshots__/demo.test.ts.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/index.test.tsx.snap
  components/x-provider/__tests__/__snapshots__/index.test.tsx.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
  tests/__snapshots__/changelog.test.ts.snap
  tests/__snapshots__/index.test.ts.snap
Due: none

feat: xmarkdown locale
  package.json
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/locale/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/locale/context.ts
  packages/x-markdown/src/plugins/Mermaid/locale/en_US.ts
  packages/x-markdown/src/plugins/Mermaid/locale/index.tsx
  packages/x-markdown/src/plugins/Mermaid/locale/useLocale.ts
  packages/x-markdown/src/plugins/Mermaid/locale/warning.ts
  packages/x-markdown/src/plugins/Mermaid/locale/zh_CN.ts
  packages/x/docs/x-markdown/demo/components/compare.tsx
Due: biome check --write --files-ignore-unknown=true

fix: history page
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: none

test: update snapshots
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: sdk
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sdk
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

fix: history page
  packages/x/docs/x-markdown/demo/_utils/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/supersets/HighlightCode/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
Due: biome check --write --files-ignore-unknown=true

fix: history page
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: history page
  packages/x-sdk/src/x-chat/__test__/providers.test.ts
Due: biome check --write --files-ignore-unknown=true

fix: type
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

docs: datachart demo
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/components-data.en-US.md
  packages/x/docs/x-markdown/components-data.zh-CN.md
  packages/x/docs/x-markdown/demo/components/dataChart.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 插件主题和国际化
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/locale/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/locale/context.ts
  packages/x-markdown/src/plugins/Mermaid/locale/en_US.ts
  packages/x-markdown/src/plugins/Mermaid/locale/index.tsx
  packages/x-markdown/src/plugins/Mermaid/locale/useLocale.ts
  packages/x-markdown/src/plugins/Mermaid/locale/warning.ts
  packages/x-markdown/src/plugins/Mermaid/locale/zh_CN.ts
  packages/x-markdown/tsconfig.json
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/useLocale.ts
  packages/x/components/locale/zh_CN.ts
  packages/x/components/x-provider/context.ts
  packages/x/components/x-provider/demo/theme.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/basic.tsx
  packages/x/docs/x-markdown/plugin-theme-locale.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 插件主题和国际化
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

feat: 插件主题和国际化
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x/.dumi/theme/builtins/XMarkdownComponentTokenTable/index.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/useLocale.ts
  packages/x/components/locale/zh_CN.ts
  packages/x/docs/x-markdown/demo/supersets/Mermaid/basic.tsx
  packages/x/docs/x-markdown/demo/xprovider/locale.tsx
  packages/x/docs/x-markdown/plugin-highlightcode.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.en-US.md
  packages/x/docs/x-markdown/plugin-mermaid.en-US.md
  packages/x/docs/x-markdown/plugin-theme-locale.en-US.md
  packages/x/docs/x-markdown/plugin-theme-locale.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 插件主题和国际化
  packages/x-markdown/package.json
  packages/x-markdown/scripts/collect-token-statistic.ts
  packages/x-markdown/scripts/generate-cssinjs.ts
  packages/x-markdown/scripts/generate-token-meta.ts
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x-markdown/src/plugins/theme/XMarkdownPluginsType.ts
  packages/x-markdown/src/plugins/theme/interface/alias.ts
  packages/x-markdown/src/plugins/theme/interface/cssinjs-utils.ts
  packages/x-markdown/src/plugins/theme/interface/index.ts
  packages/x-markdown/src/plugins/theme/interface/maps/colors.ts
  packages/x-markdown/src/plugins/theme/interface/maps/font.ts
  packages/x-markdown/src/plugins/theme/interface/maps/index.ts
  packages/x-markdown/src/plugins/theme/interface/maps/size.ts
  packages/x-markdown/src/plugins/theme/interface/maps/style.ts
  packages/x-markdown/src/plugins/theme/interface/presetColors.ts
  packages/x-markdown/src/plugins/theme/interface/seeds.ts
  packages/x-markdown/src/plugins/version/token-meta.json
  packages/x-markdown/src/plugins/version/token.json
  packages/x-markdown/src/version/token-meta.json
  packages/x/.dumi/theme/builtins/XMarkdownComponentTokenTable/index.tsx
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/x-provider/context.ts
  packages/x/components/x-provider/demo/theme.tsx
  packages/x/docs/x-markdown/demo/xprovider/locale.tsx
  packages/x/docs/x-markdown/demo/xprovider/theme.tsx
  packages/x/docs/x-markdown/plugin-mermaid.en-US.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/plugin-theme-locale.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 插件主题和国际化
  .gitignore
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/version/token.json
Due: biome check --write --files-ignore-unknown=true

feat: 插件主题和国际化
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/theme/XMarkdownPluginsType.ts
  packages/x/components/locale/index.tsx
  packages/x/components/theme/interface/components.ts
  packages/x/docs/x-markdown/demo/xprovider/theme.tsx
Due: biome check --write --files-ignore-unknown=true

feat: transfer class to className and add theme
  packages/x-markdown/src/XMarkdown/__test__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x/docs/x-markdown/demo/_utils/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
  packages/x/docs/x-markdown/demo/themes/custom.tsx
  packages/x/docs/x-markdown/streaming.en-US.md
  packages/x/docs/x-markdown/streaming.zh-CN.md
  packages/x/docs/x-markdown/themes.en-US.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix lint error
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: 插件主题和国际化
  .gitignore
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x-markdown/src/plugins/theme/interface/components.ts
  packages/x-markdown/src/plugins/version/token-meta.json
  packages/x-markdown/src/plugins/version/token.json
  packages/x/components/theme/interface/components.ts
Due: biome check --write --files-ignore-unknown=true

feat: 插件主题和国际化
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/version/token.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

Remove ignored files
  packages/x-markdown/src/version/token-meta.json
Due: biome check --write --files-ignore-unknown=true

Remove ignored files
  .gitignore
  packages/x-markdown/src/plugins/version/token-meta.json
  packages/x-markdown/src/plugins/version/token.json
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 插件主题和国际化
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 插件主题和国际化
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

feat: 插件主题和国际化
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 新增token
  packages/x-markdown/scripts/generate-token-meta.ts
  packages/x-markdown/src/plugins/theme/interface/components.ts
Due: biome check --write --files-ignore-unknown=true

feat: 新增token
  packages/x/docs/x-markdown/plugin-theme-locale.en-US.md
Due: prettier --ignore-unknown --write

feat: useTheme
  packages/x/docs/x-markdown/demo/_utils/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: file-card status fix
  packages/x/components/file-card/List.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test fix
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: code lint
  packages/x/components/file-card/List.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
