Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.1.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: 修复思维链折叠问题, 增加collapsible demo
  components/thought-chain/demo/collapsible.tsx
  components/thought-chain/hooks/useCollapsible.ts
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: demo更新
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(conversations): fix typo of group-sort demo
  components/conversations/demo/group-sort.tsx
Due: biome check --write --files-ignore-unknown=true

test(conversations): update demo snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: add test case for disabled action button
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: Update ActionButton.tsx
  components/sender/components/ActionButton.tsx
Due: biome check --write --files-ignore-unknown=true

fix
  components/sender/__tests__/index.test.tsx
  components/sender/components/ActionButton.tsx
  components/sender/index.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: 调整Bubble foot,header参数,支持头部获取上下文
  components/bubble/Bubble.tsx
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: # 支持useXAgent通过deps 获取最新状态
  components/use-x-agent/demo/deps.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Apply suggestions from code review
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: 剔多余提交
  components/use-x-agent/demo/deps.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: 英文文档格式修复
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix 简化参数
  components/bubble/Bubble.tsx
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Update header-and-footer.tsx
  components/bubble/demo/header-and-footer.tsx
Due: biome check --write --files-ignore-unknown=true

chore: Update release-x.yml
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

feat: i18n
  docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

feat: use Prompts component
  docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

fix use hooks
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix link
  .dumi/pages/404/index.tsx
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/common/CommonHelmet.tsx
  .dumi/theme/common/EditButton.tsx
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/layouts/IndexLayout/index.tsx
  .dumi/theme/slots/Content/ColumnCard.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix lint
  .dumi/components/SemanticPreview.tsx
  .dumi/pages/index/components/SiteContext.ts
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

fix lint
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix code block button
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/theme/builtins/ComponentOverview/ProComponentsList.ts
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/builtins/Previewer/RiddleButton.tsx
  .dumi/theme/icons/RiddleIcon.tsx
Due: biome check --write --files-ignore-unknown=true

fix code block button
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/plugin.ts
  README-zh_CN.md
  README.md
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 增加思维链受控组件, 非受控组件的demo和测试用例
  components/thought-chain/__tests__/index.test.tsx
  components/thought-chain/demo/collapsible.tsx
Due: biome check --write --files-ignore-unknown=true

update
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/common/Loading.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/Header/SwitchBtn.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 思维链单测
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

update
  .dumi/theme/builtins/LocaleLink/index.tsx
Due: biome check --write --files-ignore-unknown=true

update
  .dumi/pages/index/common/Introduction.tsx
Due: biome check --write --files-ignore-unknown=true

Update components/bubble/index.en-US.md
  components/bubble/index.en-US.md
Due: prettier --ignore-unknown --write

update
  .dumi/pages/index/common/Introduction.tsx
  .dumi/theme/common/EditButton.tsx
  .dumi/theme/layouts/SidebarLayout/index.tsx
  .dumi/theme/slots/Sidebar/index.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

useState => useRef
  .dumi/hooks/useLottie.ts
Due: biome check --write --files-ignore-unknown=true

load lottie-web async
  .dumi/hooks/useLottie.ts
  .dumirc.ts
Due: biome check --write --files-ignore-unknown=true

remove devDeps
  package.json
Due: biome check --write --files-ignore-unknown=true

Update .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
Due: biome check --write --files-ignore-unknown=true

update
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
Due: biome check --write --files-ignore-unknown=true

fix: SemanticPreview componentName
  .dumi/components/SemanticPreview.tsx
  components/attachments/demo/_semantic.tsx
  components/bubble/demo/_semantic.tsx
  components/prompts/demo/_semantic.tsx
  components/sender/demo/_semantic.tsx
  components/welcome/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

fix use hooks
  components/thought-chain/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
