Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

refactor: defaultXComponentStyleConfig
  components/_util/hooks/use-x-component-config.ts
  components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true

chore: Update .lintstagedrc.json
  .lintstagedrc.json
Due: biome check --write --files-ignore-unknown=true

refactor: rename
  components/index.ts
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/demo.test.ts
  components/useXChat/__tests__/image.test.ts
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/demo/_semantic.tsx
  components/useXChat/demo/basic.md
  components/useXChat/demo/basic.tsx
  components/useXChat/demo/suggestions.md
  components/useXChat/demo/suggestions.tsx
  components/useXChat/index.en-US.md
  components/useXChat/index.ts
  components/useXChat/index.zh-CN.md
  components/useXChat/useSyncState.ts
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: tmp of ts def
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXAgent/__tests__/demo.test.ts
  components/useXAgent/__tests__/image.test.ts
  components/useXAgent/__tests__/index.test.tsx
  components/useXAgent/demo/basic.md
  components/useXAgent/demo/basic.tsx
  components/useXAgent/demo/suggestions.md
  components/useXAgent/demo/suggestions.tsx
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
  components/useXAgent/presets/gpt-3.5-turbo.ts
  components/useXChat/demo/_semantic.tsx
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: base fin
  components/useXAgent/index.ts
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: demo of it
  components/index.ts
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
  components/useXChat/demo/basic.tsx
  components/useXChat/demo/suggestions.tsx
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: arr return
  components/useXAgent/index.ts
  components/useXChat/demo/basic.tsx
  components/useXChat/demo/suggestions.tsx
Due: biome check --write --files-ignore-unknown=true

docs: demo of streaming
  components/useXChat/demo/stream.md
  components/useXChat/demo/stream.tsx
  components/useXChat/index.en-US.md
  components/useXChat/index.ts
  components/useXChat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: api
  components/useXAgent/demo/basic.tsx
  components/useXAgent/demo/custom.md
  components/useXAgent/demo/custom.tsx
  components/useXAgent/demo/preset.md
  components/useXAgent/demo/preset.tsx
  components/useXAgent/demo/suggestions.tsx
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
  components/useXChat/demo/basic.tsx
  components/useXChat/demo/stream.tsx
  components/useXChat/demo/suggestions.tsx
  components/useXChat/index.en-US.md
  components/useXChat/index.ts
  components/useXChat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: of useXAgent
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXAgent/__tests__/demo.test.ts
  components/useXAgent/__tests__/image.test.ts
  components/useXAgent/__tests__/index.test.tsx
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

test: coverage
  components/useXAgent/__tests__/index.test.tsx
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: fix demo
  components/useXAgent/demo/custom.tsx
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/demo/basic.tsx
  components/useXChat/demo/stream.tsx
  components/useXChat/demo/suggestions.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.0.0-alpha.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update roles for generate-component-changelog.
  scripts/generate-component-changelog.ts
Due: biome check --write --files-ignore-unknown=true

chore: delete console.log.
  scripts/generate-component-changelog.ts
Due: biome check --write --files-ignore-unknown=true

feat: new x-tools function xStream.
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

feat: variant
  components/bubble/demo/variant.tsx
  components/bubble/interface.ts
  components/bubble/style/index.ts
  components/bubble/style/variant.ts
  components/prompts/style/index.ts
  package.json
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: fix lint
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: force
  package.json
Due: biome check --write --files-ignore-unknown=true

refactor: ConfigProvider => XProvider
  .dumi/components/SemanticPreview.tsx
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/index.tsx
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/builtins/InstallDependencies/index.tsx
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/layouts/ResourceLayout/index.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/slots/Sidebar/index.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: import version from x
  .dumi/hooks/useMenu.tsx
Due: biome check --write --files-ignore-unknown=true

docs: 5.0 => x
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/pages/index/components/Theme/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: remove .dumi/scripts/mirror-modal.js
  .dumi/scripts/mirror-modal.js
Due: biome check --write --files-ignore-unknown=true

revert: antd => antdx
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/common/EditButton.tsx
  .dumi/theme/common/Loading.tsx
  .dumi/theme/slots/Content/ColumnCard.tsx
  .dumi/theme/slots/Footer/index.tsx
  .dumi/theme/slots/Header/Logo.tsx
  .dumi/theme/slots/Header/Navigation.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: ConfigProvider => XProvider
  .dumi/theme/layouts/DocLayout/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: rm lock file
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: revert .dumi/theme/themeConfig.ts
  .dumi/theme/themeConfig.ts
Due: biome check --write --files-ignore-unknown=true

revert: antd => antdx
  .dumi/theme/slots/Header/Logo.tsx
  .dumi/theme/slots/Header/Navigation.tsx
Due: biome check --write --files-ignore-unknown=true

chore: remove homepage block
  .dumi/pages/index/components/ComponentsList.tsx
  .dumi/pages/index/components/Theme/BackgroundImage.tsx
  .dumi/pages/index/components/Theme/ColorPicker.tsx
  .dumi/pages/index/components/Theme/MobileCarousel.tsx
  .dumi/pages/index/components/Theme/RadiusPicker.tsx
  .dumi/pages/index/components/Theme/ThemePicker.tsx
  .dumi/pages/index/components/Theme/colorUtil.ts
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: revert link
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/common/EditButton.tsx
Due: biome check --write --files-ignore-unknown=true

chore: revert changes
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/layouts/ResourceLayout/AffixTabs.tsx
  .dumi/theme/layouts/ResourceLayout/index.tsx
  bun.lockb
Due: biome check --write --files-ignore-unknown=true

chore: remove happy work theme
  .dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --files-ignore-unknown=true

remove useThemeAnimation
  .dumi/hooks/useThemeAnimation.ts
  .dumi/theme/common/ThemeSwitch/index.tsx
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update slogan
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/slots/Header/Navigation.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update slogan
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

fix lint
  .dumi/pages/index/components/BannerRecommends.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
Due: none
