Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: demo
  components/sender/SenderHeader.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/demo/_semantic.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/header.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Semantic DOM
  .dumi/components/SemanticPreview.tsx
  components/sender/SenderHeader.tsx
  components/sender/demo/_semantic.tsx
  components/sender/style/header.ts
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: update doc
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add closable
  components/sender/SenderHeader.tsx
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.0.0-alpha.4
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: init
  components/attachment/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachment/__tests__/__snapshots__/demo.test.ts.snap
  components/attachment/__tests__/__snapshots__/index.test.tsx.snap
  components/attachment/__tests__/demo-extend.test.ts
  components/attachment/__tests__/demo.test.ts
  components/attachment/__tests__/image.test.ts
  components/attachment/__tests__/index.test.tsx
  components/attachment/demo/_semantic.tsx
  components/attachment/demo/basic.md
  components/attachment/demo/basic.tsx
  components/attachment/index.en-US.md
  components/attachment/index.tsx
  components/attachment/index.zh-CN.md
  components/attachment/interface.ts
  components/attachment/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: drap upload
  components/attachment/demo/basic.md
  components/attachment/demo/basic.tsx
  components/attachment/index.tsx
  components/attachment/style/index.ts
  components/attachments/DropUploader.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/SilentUploader.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.ts.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/__tests__/demo-extend.test.ts
  components/attachments/__tests__/demo.test.ts
  components/attachments/__tests__/image.test.ts
  components/attachments/__tests__/index.test.tsx
  components/attachments/demo/_semantic.tsx
  components/attachments/demo/basic.md
  components/attachments/demo/basic.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/interface.ts
  components/attachments/style/index.ts
  components/index.ts
  components/theme/components.ts
  components/x-provider/context.ts
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: support placeholder
  components/attachments/PlaceholderUploader.tsx
  components/attachments/demo/placeholder.md
  components/attachments/demo/placeholder.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: placeholder drag
  components/attachments/DropUploader.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: update doc
  components/attachments/demo/placeholder.tsx
Due: biome check --write --files-ignore-unknown=true

feat: file list
  components/attachments/DropArea.tsx
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/index.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/index.tsx
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: filelist attachment
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/index.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/index.tsx
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

test: add polyfill for web streams.
  package.json
  tests/setup-streams.ts
  tests/setup.ts
Due: biome check --write --files-ignore-unknown=true

test: add polyfill for web streams.
  tests/setup-streams.ts
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb
  bun.lockb
Due: none

chore: remove not allowed config value.
  .fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

chore: img style
  components/attachments/DropArea.tsx
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/Progress.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/style/index.ts
  components/attachments/util.ts
Due: biome check --write --files-ignore-unknown=true

feat: img scale
  components/attachments/FileList/FileListCard.tsx
  components/attachments/util.ts
Due: biome check --write --files-ignore-unknown=true

chore: type of it
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/index.tsx
  components/attachments/demo/overflow.md
  components/attachments/demo/overflow.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/interface.ts
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: droparea support container
  components/attachments/DropArea.tsx
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/index.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/context.tsx
  components/attachments/demo/overflow.tsx
  components/attachments/demo/with-sender.md
  components/attachments/demo/with-sender.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/style/index.ts
  components/sender/index.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: good for drop
  components/attachments/DropArea.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/demo/with-sender.tsx
  components/attachments/index.tsx
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: update demo
  components/attachments/demo/placeholder.tsx
Due: biome check --write --files-ignore-unknown=true

fix: cssVar logic
  components/theme/useToken.ts
  components/x-provider/__tests__/cssVar.test.tsx
  components/x-provider/__tests__/index.test.tsx
  components/x-provider/hooks/use-x-provider-context.ts
  components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  components/x-provider/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: has cssVar config
  components/theme/genStyleUtils.ts
  components/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  components/theme/genStyleUtils.ts
Due: biome check --write --files-ignore-unknown=true

feat: new x-tools xRequest xStream.
  components/index.ts
  components/useXAgent/demo/preset.md
  components/useXAgent/demo/preset.tsx
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/demo.test.ts
  components/x-request/__tests__/index.test.tsx
  components/x-request/__tests__/x-fetch.test.tsx
  components/x-request/demo/basic.md
  components/x-request/demo/basic.tsx
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
  components/x-request/x-fetch.ts
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/demo.test.ts
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/demo/basic.md
  components/x-stream/demo/basic.tsx
  components/x-stream/demo/custom-protocol.md
  components/x-stream/demo/custom-protocol.tsx
  components/x-stream/demo/default-protocol.md
  components/x-stream/demo/default-protocol.tsx
  components/x-stream/index.en-US.md
  components/x-stream/index.ts
  components/x-stream/index.zh-CN.md
  tests/__snapshots__/index.test.ts.snap
  tests/shared/demoTest.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

refactor: rm avatar margin
  components/bubble/demo/bubble-custom.md
  components/bubble/demo/bubble-custom.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: ci error
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/demo/default-protocol.tsx
Due: biome check --write --files-ignore-unknown=true

feat: support loadingRender
  components/bubble/Bubble.tsx
  components/bubble/demo/bubble-custom.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: updated snapshots
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: default theme use dark.
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: 1.0.0-alpha.5 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: rename xRequest -> XRequest \ xStream -> XStream
  components/index.ts
  components/useXAgent/demo/preset.md
  components/useXAgent/index.ts
  components/x-request/__tests__/index.test.tsx
  components/x-request/demo/basic.md
  components/x-request/demo/basic.tsx
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
  components/x-request/x-fetch.ts
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/demo/custom-protocol.tsx
  components/x-stream/demo/default-protocol.md
  components/x-stream/demo/default-protocol.tsx
  components/x-stream/index.en-US.md
  components/x-stream/index.ts
  components/x-stream/index.zh-CN.md
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snap
  tests/__snapshots__/index.test.ts.snap
Due: none

chore: update logo
  .dumi/theme/common/Loading.tsx
  .dumirc.ts
  README-zh_CN.md
  README.md
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write
