Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: bubble
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/Divider.tsx
  packages/x/components/bubble/System.tsx
  packages/x/components/bubble/demo/_semantic-divider.tsx
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: agent
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/system.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: 新增测试用例
  packages/x/components/bubble/demo/_semantic-divider.tsx
  packages/x/components/bubble/demo/_semantic-system.tsx
Due: biome check --write --files-ignore-unknown=true

test: 新增测试用例
  packages/x/components/bubble/Divider.tsx
Due: biome check --write --files-ignore-unknown=true

test: 新增测试用例
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

fix: update doc cover
  packages/x/components/sources/demo/inline.tsx
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.zh-CN.md
  packages/x/components/sources/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: update test
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: x-sdk
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-openai.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/basic.md
  packages/x/docs/x-sdk/demos/x-chat/custom-request.md
  packages/x/docs/x-sdk/demos/x-chat/custom-request.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.md
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/demos/x-chat/openai-node.md
  packages/x/docs/x-sdk/demos/x-chat/openai-node.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: x-sdk
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.md
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.md
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: x-sdk
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
Due: biome check --write --files-ignore-unknown=true

fix: md eror
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

feat: activeConversationKey
  packages/x-sdk/src/x-conversations/__test__/index.test.tsx
  packages/x-sdk/src/x-conversations/index.ts
  packages/x-sdk/src/x-conversations/store.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-sdk/demos/x-conversations/multi-instances.tsx
  packages/x/docs/x-sdk/demos/x-conversations/operations.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: activeConversationKey
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
Due: prettier --ignore-unknown --write

feat: activeConversationKey
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.md
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: activeConversationKey
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/react/demo/qwen-sdk.tsx
  packages/x/docs/react/demo/tbox.tsx
  packages/x/docs/x-sdk/demos/x-chat/custom-request.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true

feat: activeConversationKey
  packages/x-markdown/src/XMarkdown/AnimationNode.tsx
Due: biome check --write --files-ignore-unknown=true

feat: activeConversationKey
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/react/demo/qwen-sdk.tsx
  packages/x/docs/react/demo/tbox.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true

feat: modify useStreaming cache
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/streaming.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

feat: modify useStreaming cache
  packages/x-markdown/src/XMarkdown/hooks/streaming.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

docs: 更新文档
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
  packages/x/docs/x-sdk/x-stream.en-US.md
  packages/x/docs/x-sdk/x-stream.zh-CN.md
Due: prettier --ignore-unknown --write

fxi: fix openLinksInNewTab is filtered by dompurify
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

feat: modify streamging way
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

feat: 基础功能完成
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test cases and demo
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

feat: beatify code
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

fix: 修复onrequest 数据处理
  packages/x-sdk/src/x-chat/__test__/providers.test.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/providers/AbstractChatProvider.ts
  packages/x-sdk/src/x-chat/providers/DeepSeekChatProvider.ts
  packages/x-sdk/src/x-chat/providers/OpenAIChatProvider.ts
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: 修改测试用例
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/__test__/providers.test.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/providers/DefaultChatProvider.ts
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add
  packages/x/components/style/think.ts
Due: biome check --write --files-ignore-unknown=true

feat: add
  packages/x-sdk/src/x-chat/__test__/providers.test.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/providers/DefaultChatProvider.ts
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: css
  packages/x/components/style/motion.ts
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/item.ts
  packages/x/components/thought-chain/style/motion.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix animation flash and remove useanimation
  packages/x-markdown/src/XMarkdown/AnimationText.tsx
  packages/x-markdown/src/XMarkdown/__test__/AnimationNode.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/index.ts
  packages/x-markdown/src/XMarkdown/hooks/useAnimation.tsx
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/index.ts
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

docs: modify docs
  packages/x/docs/x-markdown/streaming-animation.en-US.md
  packages/x/docs/x-markdown/streaming-animation.zh-CN.md
  packages/x/docs/x-markdown/streaming-syntax.en-US.md
  packages/x/docs/x-markdown/streaming-syntax.zh-CN.md
Due: prettier --ignore-unknown --write

feat: support config animation
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

feat: beatify code and modify test case
  packages/x-markdown/src/XMarkdown/AnimationText.tsx
  packages/x-markdown/src/XMarkdown/__test__/AnimationText.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: inline katex support 19761\n..\n19761 formart
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: support inline \[ \] math
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: docs and test case
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/basic.tsx
Due: biome check --write --files-ignore-unknown=true

chore: chengelog of 2.0.0-alpha.10
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write
