Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update useXAgent file name
  components/index.ts
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-agent/__tests__/demo.test.ts
  components/use-x-agent/__tests__/image.test.ts
  components/use-x-agent/__tests__/index.test.tsx
  components/use-x-agent/demo/custom.md
  components/use-x-agent/demo/custom.tsx
  components/use-x-agent/demo/preset.md
  components/use-x-agent/demo/preset.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update useXChat file name
  components/index.ts
  components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-chat/__tests__/demo.test.ts
  components/use-x-chat/__tests__/image.test.ts
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/__tests__/useSyncState.test.tsx
  components/use-x-chat/demo/basic.md
  components/use-x-chat/demo/basic.tsx
  components/use-x-chat/demo/stream-cancel.md
  components/use-x-chat/demo/stream-cancel.tsx
  components/use-x-chat/demo/stream.md
  components/use-x-chat/demo/stream.tsx
  components/use-x-chat/demo/suggestions.md
  components/use-x-chat/demo/suggestions.tsx
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
  components/use-x-chat/index.zh-CN.md
  components/use-x-chat/useSyncState.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: hook test use baseTest
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-agent/__tests__/demo.test.ts
  components/use-x-agent/__tests__/image.test.ts
  components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-chat/__tests__/demo.test.ts
  components/use-x-chat/__tests__/image.test.ts
Due: biome check --write --files-ignore-unknown=true

chore: update react version
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb
  bun.lockb
Due: none

chore: add @ant-design/v5-patch-for-react-19
  .dumi/theme/layouts/GlobalLayout.tsx
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update bun lock file
  bun.lockb
Due: none

docs: hide gpt-vis demo
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update @petercatai/assistant version
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb `
  bun.lockb
Due: none

fix: react-intl bug version
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update test
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: petercat style
  .dumi/theme/common/PeterCat.tsx
Due: biome check --write --files-ignore-unknown=true

fix chalk import
  .dumi/theme/plugin.ts
  tests/dekko/dist.test.js
  tests/dekko/lib.test.js
  tests/dekko/use-client.test.js
Due: biome check --write --files-ignore-unknown=true

fix chalk import
  package.json
  tests/dekko/dist.test.ts
  tests/dekko/index.test.js
  tests/dekko/index.test.ts
  tests/dekko/lib.test.ts
  tests/dekko/use-client.test.js
  tests/dekko/use-client.test.ts
  typings/custom-typings.d.ts
Due: biome check --write --files-ignore-unknown=true

refactor: BubbleProps
  components/bubble/Bubble.tsx
  components/bubble/demo/gpt-vis.tsx
  components/bubble/demo/markdown.tsx
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

refactor: ts
  components/bubble/Bubble.tsx
  components/bubble/demo/gpt-vis.tsx
  components/bubble/demo/markdown.tsx
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

refactor: ForwardBubble type
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 拖拽文件上传无法删除
  components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

feat: 移除助手代码
  components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

feat: 移除注释代码
  components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.0.5
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update version
  package.json
Due: biome check --write --files-ignore-unknown=true

更新 CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: format
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: supplement #404 to en changelog
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update readme
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: update readme
  README-zh_CN.md
Due: prettier --ignore-unknown --write

feat: refine useTypedEffect
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --files-ignore-unknown=true

fix: update docsOnlineUrl
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --files-ignore-unknown=true

Fix: Resolve dual scrollbar issue and flickering on initial load
  components/conversations/demo/infinite-load.tsx
Due: biome check --write --files-ignore-unknown=true

fix: add snapshot
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs(sender): add onPasteFile callback
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(BubbleList.tsx, useListData.ts)：更新RolesType类型以包含索引参数 feat(useListData.ts)：更新getRoleBubbleProps函数以接受索引参数
  components/bubble/BubbleList.tsx
  components/bubble/hooks/useListData.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
