Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: css
  packages/x/components/style/motion/fade.ts
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: css
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: doc
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/mermaid/index.en-US.md
  packages/x/components/mermaid/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: doc
  packages/x/components/actions/style/feedback.ts
Due: biome check --write --files-ignore-unknown=true

docs: tag for components
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/attachments/index.en-US.md
  packages/x/components/attachments/index.zh-CN.md
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.zh-CN.md
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: actions
  packages/x/components/actions/ActionsMenu.tsx
Due: biome check --write --files-ignore-unknown=true

docs: tag for components
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: deepseek
  packages/x/docs/x-sdk/demos/chat-providers/deep-seek-chat-provider.tsx
Due: biome check --write --files-ignore-unknown=true

feat: think
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
Due: biome check --write --files-ignore-unknown=true

feat: think
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
Due: biome check --write --files-ignore-unknown=true

test: provider
  packages/x-sdk/src/chat-providers/__test__/providers.test.ts
Due: biome check --write --files-ignore-unknown=true

test: provider
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
Due: biome check --write --files-ignore-unknown=true

fix: file-card css
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/components/ImageLoading.tsx
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: file card css
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/style/index.ts
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

docs: add FAQ explain block html tag not properyly closed
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
Due: prettier --ignore-unknown --write

fix: css
  packages/x/components/actions/style/index.ts
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/content.ts
  packages/x/components/bubble/style/slot.ts
  packages/x/components/bubble/style/system.ts
  packages/x/components/conversations/style/index.ts
  packages/x/components/file-card/style/index.ts
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/switch.test.tsx.snap
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/switch.ts
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: setMessages did not refresh component
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

feat: css
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

docs: set docs height
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/codeDemo/link.md
  packages/x/docs/x-markdown/demo/codeDemo/plugin.md
  packages/x/docs/x-markdown/demo/codeDemo/renderer.md
  packages/x/docs/x-markdown/demo/codeDemo/tokenizer.md
  packages/x/docs/x-markdown/demo/codeDemo/walkTokens.md
  packages/x/docs/x-markdown/demo/components/codeHighlighter.tsx
  packages/x/docs/x-markdown/demo/components/custom.tsx
  packages/x/docs/x-markdown/demo/components/dataChart.tsx
  packages/x/docs/x-markdown/demo/components/mermaid.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/streaming.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: sources docs
  packages/x/docs/x-markdown/demo/components/sources.tsx
Due: biome check --write --files-ignore-unknown=true

docs: change source demo height
  packages/x/docs/x-markdown/demo/components/sources.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/components/codeHighlighter.tsx
  packages/x/docs/x-markdown/demo/components/custom.tsx
  packages/x/docs/x-markdown/demo/components/dataChart.tsx
  packages/x/docs/x-markdown/demo/components/mermaid.tsx
  packages/x/docs/x-markdown/demo/components/sources.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/basic.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: setMessages did not refresh component
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/store.ts
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
Due: biome check --write --files-ignore-unknown=true

fix: revert test code
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint error
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

fix: set error
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

refactor: use symbol
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ios 16.3 compatibility
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix: declare dependence
  packages/x-sdk/package.json
Due: biome check --write --files-ignore-unknown=true

chore: changelog
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.1.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.1.0
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix
  packages/x/components/actions/context.ts
  packages/x/components/thought-chain/Node.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
