Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: snapshots
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

feat: support map incomplete image and link to components
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/animation.en-US.md
  packages/x/docs/x-markdown/animation.zh-CN.md
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/streaming-format.en-US.md
  packages/x/docs/x-markdown/streaming-format.zh-CN.md
  packages/x/docs/x-markdown/streaming.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: change x-markdown docs
  packages/x/docs/x-markdown/animation.en-US.md
  packages/x/docs/x-markdown/animation.zh-CN.md
  packages/x/docs/x-markdown/components-custom.en-US.md
  packages/x/docs/x-markdown/components-custom.zh-CN.md
  packages/x/docs/x-markdown/components-data.en-US.md
  packages/x/docs/x-markdown/components-data.zh-CN.md
  packages/x/docs/x-markdown/components-think.en-US.md
  packages/x/docs/x-markdown/components-think.zh-CN.md
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/plugins.en-US.md
  packages/x/docs/x-markdown/plugins.zh-CN.md
  packages/x/docs/x-markdown/streaming-animation.en-US.md
  packages/x/docs/x-markdown/streaming-animation.zh-CN.md
  packages/x/docs/x-markdown/streaming-syntax.en-US.md
  packages/x/docs/x-markdown/streaming-syntax.zh-CN.md
  packages/x/docs/x-markdown/themes.en-US.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: prettier --ignore-unknown --write

feat: 移除对 emphasis 语法的缓存，避免误识别导致的异常
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x/docs/x-markdown/demo/streaming/combined.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/streaming-animation.en-US.md
  packages/x/docs/x-markdown/streaming-animation.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: docs change
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

fix: 移除支持动画标签，避免闪动
  packages/x-markdown/src/XMarkdown/hooks/useAnimation.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix lint error
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: seeConf
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

docs: seeConf
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: seeConf
  packages/x/components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: site home
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Prompt.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Sender.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/StartPage.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: site home
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
  packages/x/.dumi/theme/common/Link.tsx
  packages/x/.dumi/theme/layouts/DocLayout/index.tsx
  packages/x/.dumi/theme/layouts/IndexLayout/index.tsx
  packages/x/.dumi/theme/slots/Header/Logo.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix the component names in semanticDom
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/file-card/demo/_semantic-list.tsx
  packages/x/components/thought-chain/demo/_semantic-item.tsx
Due: biome check --write --files-ignore-unknown=true

feat: version v3
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
  packages/x/.dumi/theme/layouts/IndexLayout/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: version v3
  packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: version v3
  packages/x-markdown/src/themes/dark.css
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/StartPage.tsx
Due: biome check --write --files-ignore-unknown=true

feat: version v3
  packages/x/components/sender/demo/_semantic.tsx
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site
  packages/x/.dumi/pages/index/common/CustomizationSender.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site home lottie
  packages/x/.dumi/pages/index/common/CustomizationSender.tsx
  packages/x/.dumi/pages/index/components/DesignBanner.tsx
  packages/x/.dumi/pages/index/components/DesignGuide.tsx
  packages/x/.dumi/pages/index/components/Lottie.tsx
  packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site home lottie
  packages/x/.dumi/hooks/useLottie.ts
  packages/x/.dumi/pages/index/components/DesignBanner.tsx
  packages/x/.dumi/pages/index/components/Lottie.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snap
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snap
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snap
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: lazy site compontents
  packages/x/.dumi/pages/index/components/DesignBanner.tsx
  packages/x/.dumi/pages/index/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: site home
  packages/x/.dumi/pages/index/components/DesignBanner.tsx
  packages/x/.dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

feat: image and json
  packages/x/.dumi/hooks/useLottie.ts
  packages/x/.dumi/pages/index/components/DesignBanner.tsx
  packages/x/.dumi/pages/index/components/DesignGuide.tsx
  packages/x/.dumi/pages/index/components/Lottie.tsx
  packages/x/.dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

feat: image and json
  packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/theme/layouts/IndexLayout/index.tsx
  packages/x/.dumi/theme/slots/Content/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Bubble.System & Bubble.Divider
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/Divider.tsx
  packages/x/components/bubble/System.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/divider.test.tsx
  packages/x/components/bubble/__tests__/system.test.tsx
  packages/x/components/bubble/demo/divider.md
  packages/x/components/bubble/demo/divider.tsx
  packages/x/components/bubble/demo/system.md
  packages/x/components/bubble/demo/system.tsx
  packages/x/components/bubble/index.tsx
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/content.ts
  packages/x/components/bubble/style/divider.ts
  packages/x/components/bubble/style/index.ts
  packages/x/components/bubble/style/system.ts
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Bubble
  packages/x/components/bubble/Divider.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/demo/divider.tsx
  packages/x/components/bubble/demo/list-extra.tsx
  packages/x/components/bubble/demo/list-ref.tsx
  packages/x/components/bubble/demo/semantic-list-custom.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: Bubble.List support Bubble.System and Bubble.Divider
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/Divider.tsx
  packages/x/components/bubble/System.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/divider.test.tsx
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/__tests__/system.test.tsx
  packages/x/components/bubble/demo/divider.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/demo/system.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/bubble/style/list.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint
  packages/x/components/bubble/style/content.ts
  packages/x/components/x-provider/demo/direction.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-markdown/.jest.js
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/demo/list.tsx
Due: biome check --write --files-ignore-unknown=true

test: snapshot
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/bubble/System.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

fix: update onPasteFile
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/demo/paste-image.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix the local config
  packages/x/.dumi/theme/layouts/DocLayout/index.tsx
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/sender/StopLoading.tsx
  packages/x/components/sender/components/SpeechButton/RecordingIcon.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix the local config
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
