Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Role
  docs/spec/authentic-consistent.en-US.md
  docs/spec/authentic-consistent.zh-CN.md
  docs/spec/human-touch.en-US.md
  docs/spec/human-touch.zh-CN.md
  docs/spec/role-design.en-US.md
  docs/spec/role-design.zh-CN.md
  docs/spec/smooth-natural.en-US.md
  docs/spec/smooth-natural.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Conversation
  docs/spec/confirm.en-US.md
  docs/spec/confirm.zh-CN.md
  docs/spec/conversation-design.en-US.md
  docs/spec/conversation-design.zh-CN.md
  docs/spec/end.en-US.md
  docs/spec/end.zh-CN.md
  docs/spec/error.en-US.md
  docs/spec/error.zh-CN.md
  docs/spec/follow-up.en-US.md
  docs/spec/follow-up.zh-CN.md
  docs/spec/hint.en-US.md
  docs/spec/hint.zh-CN.md
  docs/spec/start.en-US.md
  docs/spec/start.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Hybrid UI
  docs/spec/confirm-generation-process.en-US.md
  docs/spec/confirm-generation-process.zh-CN.md
  docs/spec/expression-user-input.en-US.md
  docs/spec/expression-user-input.zh-CN.md
  docs/spec/expression-user-send.en-US.md
  docs/spec/expression-user-send.zh-CN.md
  docs/spec/feedback-result-application.en-US.md
  docs/spec/feedback-result-application.zh-CN.md
  docs/spec/feedback-result-display.en-US.md
  docs/spec/feedback-result-display.zh-CN.md
  docs/spec/hybrid-ui-design.en-US.md
  docs/spec/hybrid-ui-design.zh-CN.md
  docs/spec/wake-up-ai-icon.en-US.md
  docs/spec/wake-up-ai-icon.zh-CN.md
  docs/spec/wake-up-welcome-message.en-US.md
  docs/spec/wake-up-welcome-message.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: return to asyncGenerator
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: Editable properties of bubble
  components/bubble/Bubble.tsx
  components/bubble/Editor.tsx
  components/bubble/demo/editable.md
  components/bubble/demo/editable.tsx
  components/bubble/hooks/useMergedConfig.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Add the api of editable property in Bubble
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: update editable logic based on collaborator feedback
  components/bubble/Bubble.tsx
  components/bubble/Editor.tsx
  components/bubble/demo/editable.tsx
  components/bubble/hooks/useEditableConfig.ts
  components/bubble/hooks/useMergedConfig.ts
  components/bubble/interface.ts
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: fix link
  docs/react/model-use-openai.en-US.md
  docs/spec/conversation-design.en-US.md
  docs/spec/conversation-design.zh-CN.md
Due: prettier --ignore-unknown --write

[Feat]支持 Sender 组件 content 自定义渲染，以支持类似的 speech 交互变体需求或者支持其他的content自定义渲染需求
  components/sender/demo/CustomContent.md
  components/sender/demo/CustomContent.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Update README.md
  README.md
Due: prettier --ignore-unknown --write

Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

docs: Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

chore: update version
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: update changelog of 1.0.3
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: extend Sender onChange parameter
  components/sender/__tests__/index.test.tsx
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: fix sider border issue of documentation
  .dumi/theme/slots/Sidebar/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix chinamirror link
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: delete try..finally
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

refactor: add type
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: return stream
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: XReadableStream -> XReadableStream<Output>
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: style unit bug
  components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: add test
  components/x-stream/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add interrupt streaming output demo
  components/useXChat/demo/stream-cancel.md
  components/useXChat/demo/stream-cancel.tsx
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add cleanup code
  components/useXChat/demo/stream-cancel.tsx
Due: biome check --write --files-ignore-unknown=true

fix: add useEffect import
  components/useXChat/demo/stream-cancel.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add petercat assistant
  .dumi/theme/common/PeterCat.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: fix ci
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: 更新文档中类型
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: replace img url
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update bun.lockb
  bun.lockb
Due: none

style: 类型风格变更
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint
  components/useXChat/demo/stream-cancel.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update snapshot
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat(bubble): add typing suffix support (#316)
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/typing.tsx
  components/bubble/hooks/useTypingConfig.ts
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

Update README.md
  README.md
Due: prettier --ignore-unknown --write

refactor: code semantics, typingSuffix -> customSuffix
  bun.lockb
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

fix: code error
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
