Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: standardize the Tools group title
  components/x-provider/index.en-US.md
  components/x-stream/index.en-US.md
Due: prettier --ignore-unknown --write

refactor: make the agent parameter optional to support data management functionality using only useXChat
  components/useXChat/index.ts
Due: biome check --write --files-ignore-unknown=true

test: add test case for agent parameter optional change
  components/useXChat/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update use description for agent parameter
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: update the TypeScript types related to SSEOutput according to the SSE protocol standard
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

refactor: add a message ts parameter to RequestFnInfo to provide better type hints.
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: ts lint error
  components/useXChat/demo/suggestions.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update the TypeScript type desc in the useXAgent usage documentation.
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update model use docs.
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
  docs/react/use-with-rsbuild.en-US.md
  docs/react/use-with-rsbuild.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update README.md
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: update dangerouslyApiKey explanation in docs
  README.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
  docs/react/model-use-qwen.en-US.md
Due: prettier --ignore-unknown --write

docs: adjust to emphasize high risk
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix path
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

Update docs/react/dangerously-api-key.zh-CN.md
  docs/react/dangerously-api-key.zh-CN.md
Due: prettier --ignore-unknown --write

docs: mod use XRequest demo code
  README-zh_CN.md
  README.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add warning for dangerouslyApiKey
  docs/react/dangerously-api-key.en-US.md
Due: prettier --ignore-unknown --write

docs: fix title
  docs/react/dangerously-api-key.en-US.md
Due: prettier --ignore-unknown --write

chore: update version
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: update changelog of 1.0.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: ci error
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: mod change log
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix playground style and enhance user experience
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/common/EditButton.tsx
  .dumi/theme/common/styles/Demo.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix pr link
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix mention omission
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: remove daily maintenance.
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: remove changelog entries that are not relevant to the user.
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update change log
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add chart demo for bubble
  components/bubble/demo/chart.md
  components/bubble/demo/chart.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update mention
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: rename to gpt-vis
  .dumirc.ts
  components/bubble/demo/gpt-vis.md
  components/bubble/demo/gpt-vis.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: ignore gpt-vis demo for temporary, need browser env not jsdom
  components/bubble/__tests__/demo-extend.test.ts
  components/bubble/__tests__/demo.test.ts
Due: biome check --write --files-ignore-unknown=true

Revert "docs: add GPT-Vis demo for bubble (#278)"
  .dumirc.ts
  components/bubble/__tests__/demo-extend.test.ts
  components/bubble/__tests__/demo.test.ts
  components/bubble/demo/gpt-vis.md
  components/bubble/demo/gpt-vis.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

perf: esm/cls browser targets
  .fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

chore: v0.3
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: set 150ms
  components/bubble/demo/gpt-vis.tsx
Due: biome check --write --files-ignore-unknown=true

chore: note stream output
  components/bubble/demo/gpt-vis.md
  components/bubble/demo/gpt-vis.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: typo
  components/bubble/demo/gpt-vis.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: XRequest to support custom protocols.
  components/x-request/demo/basic.tsx
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: add demo
  components/x-request/demo/custom-transformer.md
  components/x-request/demo/custom-transformer.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snapshots
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
