Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: move @ctrl/tinycolor out of dependencies
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: Update tsconfig.json
  tsconfig.json
Due: biome check --write --files-ignore-unknown=true

Update .fatherrc.ts
  .fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

Update tsconfig.json
  tsconfig.json
Due: biome check --write --files-ignore-unknown=true

docs: new slogan
  .dumi/theme/layouts/DocLayout/index.tsx
  README-zh_CN.md
  README.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

添加了 nextjs 文档的直接链接
  docs/react/use-with-next.zh-CN.md
Due: prettier --ignore-unknown --write

chore: add logLevel for typedoc
  scripts/generate-token-meta.ts
Due: biome check --write --files-ignore-unknown=true

Update use-with-next.en-US.md
  docs/react/use-with-next.en-US.md
Due: prettier --ignore-unknown --write

fix: update doc img (#245)
  docs/spec/authentic-consistent.en-US.md
  docs/spec/authentic-consistent.zh-CN.md
Due: prettier --ignore-unknown --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --ignore-unknown --write

added file attachment display feature
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

file upload feature that shows details of attached file
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: throw error while the onRequest method is used
  components/useXChat/index.en-US.md
  components/useXChat/index.ts
  components/useXChat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: replace github-contributors-lists plugin
  .dumi/theme/slots/Content/ContributorAvatar.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: fix import wrap style
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/slots/Content/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: refactor metaThemeColor.
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

implemented input box, show added attachments and status badge
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix site style.
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: refactor style
  .dumi/pages/index/common/Container.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: optimize the experience issues with the top navigation changes during scrolling
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: refactor site user experience.
  .dumi/hooks/useLottie.ts
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumirc.ts
Due: biome check --write --files-ignore-unknown=true

fix: ssr window undefined
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --files-ignore-unknown=true

fixed bubble list overflow issue, fixed attachment removal bug
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: refactor mobile style
  .dumi/pages/index/components/SceneIntroduction/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: semantic html element for import statement
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: optimize attachment display and TS types, optimize controlled Sender
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: code and style
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

chore: recovery change
  components/x-request/index.ts
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: docs error
  docs/react/model-use-qwen.zh-CN.md
Due: prettier --ignore-unknown --write

test: update
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: docs error
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
Due: prettier --ignore-unknown --write

fix: update qwen docs
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
Due: prettier --ignore-unknown --write

test: add test for onRequest without agent
  components/useXChat/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix Tool docs group title
  components/useXAgent/index.en-US.md
  components/useXChat/index.en-US.md
  components/x-request/index.en-US.md
Due: prettier --ignore-unknown --write

docs: mod group title
  components/useXAgent/index.en-US.md
  components/useXChat/index.en-US.md
  components/x-provider/index.en-US.md
  components/x-request/index.en-US.md
  components/x-stream/index.en-US.md
Due: prettier --ignore-unknown --write

docs: refactor
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Update components/useXChat/index.en-US.md
  components/useXChat/index.en-US.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
