Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix(Conversation): change htmlAttrs to attribute transfer
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(Safari): Event execution sequence(en)
  .dumi/hooks/useIsSafari.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add plugins and demos
  packages/x-markdown/XMarkdown.tsx
  packages/x-markdown/core/Parser.ts
  packages/x-markdown/core/Renderer.ts
  packages/x-markdown/core/helpers.ts
  packages/x-markdown/index.ts
  packages/x-markdown/interface.ts
  packages/x-markdown/package.json
  packages/x-markdown/plugins/CodeHighLight/index.tsx
  packages/x-markdown/plugins/Latex/index.ts
  packages/x-markdown/plugins/index.ts
  packages/x/docs/x-markdown/demo/basic.md
  packages/x/docs/x-markdown/demo/basic.tsx
  packages/x/docs/x-markdown/demo/streaming.md
  packages/x/docs/x-markdown/demo/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets.md
  packages/x/docs/x-markdown/demo/supersets.tsx
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: approve test workflow
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/conversations/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Additional Safari-specific checks
  .dumi/hooks/useIsSafari.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Remove isSafari and Ensure the sequence of multiple events
  .dumi/hooks/useIsSafari.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add onlyInputFocus
  components/sender/demo/_semantic.tsx
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: typescript
  packages/x-markdown/hooks/useBuffer.ts
Due: biome check --write --files-ignore-unknown=true

fix: ConversationsItem title display [Object Object] and support extr… (#898)
  packages/x/components/conversations/Item.tsx
  packages/x/components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/conversations/index.tsx
  packages/x/components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true

chore: workspace init (#823)
  packages/x/biome.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: document initialization for adding SDK and markdown (#895)
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: modify latex and codehighlight types
  packages/x-markdown/plugins/CodeHighLight/index.tsx
  packages/x-markdown/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: merge
  biome.json
Due: biome check --write --files-ignore-unknown=true

chore: x-markdown
  .github/workflows/main.yml
  package.json
  packages/x-card/index.ts
  packages/x-card/package.json
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/mako.config.json
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/core/Lexer.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/core/helpers.ts
  packages/x-markdown/src/XMarkdown/core/index.ts
  packages/x-markdown/src/XMarkdown/hooks/useBuffer.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/index.ts
  packages/x-markdown/src/plugins/CodeHighLight/index.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
  packages/x-markdown/src/plugins/index.ts
  packages/x-sdk/index.ts
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: x-markdown
  packages/x/components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

feat: justify xmarkdown structure
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: justify xmarkdown structure
  packages/x-markdown/src/XMarkdown/hooks/use-x-provider-context.ts
  packages/x-markdown/src/XMarkdown/index.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/index.ts
  packages/x-markdown/src/plugins/CodeHighLight/index.tsx
  packages/x-markdown/src/plugins/CodeHighLight/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix code review
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/useBuffer.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: fix circle dependece
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/core/helpers.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
Due: biome check --write --files-ignore-unknown=true

chore: x-markdown
  biome.json
Due: biome check --write --files-ignore-unknown=true

chore: x-markdown
  package.json
  packages/x-card/.fatherrc.ts
  packages/x-markdown/.fatherrc.ts
  packages/x-sdk/.fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

chore: x-markdown
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: x-markdown
  packages/x-markdown/src/plugins/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: reference in bubble #523
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

feat: reference in bubble interface #523
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

docs: added reference in bubble as example
  components/bubble/demo/reference.tsx
Due: biome check --write --files-ignore-unknown=true

docs: linked reference in bubble in `en-us`, `zh-cn` docs
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

chores: removed console.log and basic example correction
  components/bubble/Bubble.tsx
  components/bubble/demo/reference.tsx
Due: biome check --write --files-ignore-unknown=true

fix: reference overflow in bubble
  components/bubble/Bubble.tsx
  components/bubble/demo/reference.tsx
Due: biome check --write --files-ignore-unknown=true

chores: fixed for review comment in MR
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

chores: undo unnecessary change
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

docs: updated docs for chat-reference
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: add think component
  packages/x/components/index.ts
  packages/x/components/theme/interface/components.ts
  packages/x/components/think/Think.tsx
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/think/__tests__/demo-extend.test.ts
  packages/x/components/think/__tests__/demo.test.ts
  packages/x/components/think/__tests__/image.test.ts
  packages/x/components/think/__tests__/index.test.tsx
  packages/x/components/think/demo/basic.md
  packages/x/components/think/demo/basic.tsx
  packages/x/components/think/demo/expand.md
  packages/x/components/think/demo/expand.tsx
  packages/x/components/think/demo/status.md
  packages/x/components/think/demo/status.tsx
  packages/x/components/think/icons/think.tsx
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.tsx
  packages/x/components/think/index.zh-CN.md
  packages/x/components/think/style/index.ts
  packages/x/components/x-provider/context.ts
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint style fixed
  packages/x/components/think/demo/basic.tsx
  packages/x/components/think/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: modify component properties
  packages/x/components/think/Think.tsx
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/think/__tests__/index.test.tsx
  packages/x/components/think/demo/basic.tsx
  packages/x/components/think/demo/expand.tsx
  packages/x/components/think/demo/status.tsx
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
  packages/x/components/think/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: modify component properties
  packages/x/components/think/Think.tsx
  packages/x/components/think/__tests__/index.test.tsx
  packages/x/components/think/demo/basic.tsx
  packages/x/components/think/demo/expand.tsx
  packages/x/components/think/demo/status.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add slot mode for sender
  package.json
  packages/x/components/_util/hooks/useGetState.ts
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/demo/slot-filling.md
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: rename useGetState hooks
  packages/x/components/_util/hooks/use-get-state.ts
  packages/x/components/_util/hooks/useGetState.ts
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

docs(attachments): add high-quality preview example for image attachments
  components/attachments/demo/with-sender.tsx
Due: biome check --write --files-ignore-unknown=true
