Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: css
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/theme/useToken.ts
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/think/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: docs
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.0.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: actions
  packages/x/components/actions/demo/_semantic-item.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: actions
  packages/x/components/actions/ActionsAudio.tsx
Due: biome check --write --files-ignore-unknown=true

test: snapshots updated
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: montin css
  packages/x/components/style/motion/fade.ts
Due: biome check --write --files-ignore-unknown=true

fix: bubble typing
  packages/x/components/bubble/TypingContent.tsx
  packages/x/components/bubble/demo/animation.tsx
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: bubble typing
  packages/x/components/bubble/TypingContent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: bubble typing
  packages/x/components/style/motion/fade.ts
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/style/motion/fade.ts
Due: biome check --write --files-ignore-unknown=true

fix: bubble typing
  packages/x/components/bubble/demo/animation.tsx
Due: biome check --write --files-ignore-unknown=true

docs: add tag
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/attachments/index.en-US.md
  packages/x/components/attachments/index.zh-CN.md
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.zh-CN.md
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/notification/index.en-US.md
  packages/x/components/notification/index.zh-CN.md
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.zh-CN.md
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: snap update
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: custom-typing
  packages/x/components/bubble/demo/animation.tsx
Due: biome check --write --files-ignore-unknown=true

fix: class
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/style/copy.ts
Due: biome check --write --files-ignore-unknown=true

feat: deepseek
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: deepseek
  packages/x/components/actions/ActionsItem.tsx
Due: biome check --write --files-ignore-unknown=true

docs: modify mermaid code highlighter sources docs
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/mermaid/index.en-US.md
  packages/x/components/mermaid/index.zh-CN.md
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.zh-CN.md
  packages/x/docs/x-markdown/components-codeHighlighter.en-US.md
  packages/x/docs/x-markdown/components-mermaid.en-US.md
  packages/x/docs/x-markdown/demo/components/sources.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

style: use componentCls instead of & avoid css loss
  packages/x/components/code-highlighter/style/index.ts
  packages/x/components/mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fest: Actions.Item
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/copy.tsx
Due: biome check --write --files-ignore-unknown=true

fest: Actions.Item
  packages/x/components/actions/__tests__/copy.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: mermaid and code highlighter cover
  packages/x/components/code-highlighter/demo/custom-header.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/mermaid/index.en-US.md
  packages/x/components/mermaid/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: mermaid add onRenderTypeChange props and mofidy semantic
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/components/mermaid/__tests__/index.test.tsx
  packages/x/components/mermaid/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

feat: change mermaid to peerDependece and lazy log
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  package.json
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: remove declare module
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: mermaid size
  packages/x/.fatherrc.ts
  packages/x/components/code-highlighter/CodeHighlighter.tsx
Due: biome check --write --files-ignore-unknown=true

fix: change package size limit
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/actions/ActionsAudio.tsx
  packages/x/components/actions/style/audio.tsx
  packages/x/components/actions/style/copy.ts
  packages/x/components/actions/style/feedback.ts
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/sources/Sources.tsx
  packages/x/components/sources/style/index.ts
  packages/x/components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
