Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain.item
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/demo/simple.tsx
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain.item
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: thought-chain.item
  packages/x/components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.1.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.1.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat(XSdk): XRequest support retry
  packages/x-sdk/src/x-request/__test__/index.test.ts
  packages/x-sdk/src/x-request/index.ts
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: geshi
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

fix: update clsx
  packages/x/components/sender/hooks/use-slot-builder.ts
Due: biome check --write --files-ignore-unknown=true

chore: noUndeclaredDependencies
  biome.json
  package.json
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/__tests__/AnimationText.test.tsx
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__tests__/index.test.tsx
  packages/x/components/locale/__tests__/index.test.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: noUndeclaredDependencies
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: attachments
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/attachments/index.tsx
  packages/x/components/file-card/FileCard.tsx
Due: biome check --write --files-ignore-unknown=true

fix: attachments
  packages/x/components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: attachments
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

feature: sdk
  packages/x-sdk/src/x-request/index.ts
  packages/x-sdk/src/x-stream/index.ts
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-request/stream-separator.md
  packages/x/docs/x-sdk/demos/x-request/stream-separator.tsx
  packages/x/docs/x-sdk/demos/x-request/stream-timeout.md
  packages/x/docs/x-sdk/demos/x-request/stream-timeout.tsx
  packages/x/docs/x-sdk/demos/x-stream/default-protocol.tsx
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
  packages/x/docs/x-sdk/x-stream.en-US.md
  packages/x/docs/x-sdk/x-stream.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feature: sdk
  packages/x/docs/x-sdk/demos/x-request/stream-timeout.tsx
Due: biome check --write --files-ignore-unknown=true

test: x-sdk
  packages/x-sdk/src/x-request/__test__/index.test.ts
  packages/x-sdk/src/x-stream/__test__/index.test.ts
  packages/x-sdk/src/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: layer
  packages/x/components/theme/genStyleUtils.ts
Due: biome check --write --files-ignore-unknown=true

fix: inster container
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

feat: cursor
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

feat: cursor
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

feat: cursor
  packages/x/components/sender/__tests__/use-cursor.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add data-slot-key attribute to SlotTextArea for improved accessibility and identification
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: slot test
  packages/x/components/sender/__tests__/slot_new.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.1.3
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.1.3
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: update snapshot files to reflect changes in class names and add data-slot-key attributes for improved accessibility
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: custom slot
  packages/x/components/sender/__tests__/slot_new.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test of sender
  packages/x/components/sender/__tests__/slot-boundary.test.tsx
  packages/x/components/sender/__tests__/slot-error.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/__tests__/slot_new.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test of sender
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: hook cursor
  packages/x/components/sender/__tests__/use-cursor.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: hook cursor
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Modified the error in writing the extension budget symbol in markdown
  packages/x/components/x-provider/index.en-US.md
  packages/x/components/x-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: hook cursor
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

feat: hook cursor
  packages/x/docs/x-sdk/demos/x-stream/default-protocol.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
