Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: bubble list scroll
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

docs: style
  packages/x/components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: remove test
  packages/x/components/bubble/demo/_test.md
  packages/x/components/bubble/demo/_test.tsx
  packages/x/components/bubble/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: suggestion
  packages/x/components/suggestion/__tests__/index.test.tsx
  packages/x/components/suggestion/__tests__/useActive.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: suggestion
  packages/x/components/suggestion/__tests__/useActive.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(docs): modify conversations semanticDom name
  packages/x/components/conversations/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

test: snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(x-sdk): add throttling to ChatMessagesStore to prevent update depth warnings
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

docs: Chat Provider
  package.json
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/providers/AbstractChatProvider.ts
  packages/x-sdk/src/x-request/index.ts
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
  packages/x/docs/x-sdk/chat-provider-deepseek.en-US.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-open-ai.en-US.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/demos/chat-provider/deep-seek-chat-provider.md
  packages/x/docs/x-sdk/demos/chat-provider/deep-seek-chat-provider.tsx
  packages/x/docs/x-sdk/demos/chat-provider/default-chat-provider.md
  packages/x/docs/x-sdk/demos/chat-provider/default-chat-provider.tsx
  packages/x/docs/x-sdk/demos/chat-provider/default-chat-provider_width_ui.md
  packages/x/docs/x-sdk/demos/chat-provider/default-chat-provider_width_ui.tsx
  packages/x/docs/x-sdk/demos/chat-provider/open-ai-chat-provider.md
  packages/x/docs/x-sdk/demos/chat-provider/open-ai-chat-provider.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.md
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.md
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore(x-sdk): add destroy method to clean up throttle timer
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

docs: Chat Provider
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
Due: prettier --ignore-unknown --write

docs: x-sdk
  packages/x/components/introduce/index.zh-CN.md
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/react/agent-use-tbox.zh-CN.md
  packages/x/docs/react/introduce.zh-CN.md
  packages/x/docs/react/model-use-openai.zh-CN.md
  packages/x/docs/react/model-use-qwen.zh-CN.md
  packages/x/docs/x-markdown/demo/_utils/adx-markdown.ts
  packages/x/docs/x-markdown/demo/streaming/combined.tsx
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/custom-request.md
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/openai-node.md
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: x-sdk
  CHANGELOG.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/renderer.md
Due: prettier --ignore-unknown --write

docs: x-sdk
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: x-sdk
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: cache reset never took effect due to stable reference
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix: add test case
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown:HighlightCode): 修复代码复制功能传递错误参数
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix test case
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(docs): modify conversations semanticDom name (#1416)
  packages/x/components/conversations/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Use Actions.copy instead of navigator.clipboard to prevent compatibility issues
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add max lengtha and show count
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix: modify build config
  packages/x-markdown/.fatherrc.ts
  packages/x/.fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

docs: description
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix test case
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/tests/dekko/dist.test.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/tests/dekko/lib.test.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: docs of sdk
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/providers/AbstractChatProvider.ts
  packages/x-sdk/src/providers/DeepSeekChatProvider.ts
  packages/x-sdk/src/providers/DefaultChatProvider.ts
  packages/x-sdk/src/providers/OpenAIChatProvider.ts
  packages/x-sdk/src/providers/index.ts
  packages/x-sdk/src/providers/types/model.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.en-US.md
  packages/x/docs/x-sdk/chat-provider-open-ai.en-US.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/demos/chat-provider/custom-provider-width-ui.md
  packages/x/docs/x-sdk/demos/chat-provider/custom-provider-width-ui.tsx
  packages/x/docs/x-sdk/demos/x-chat/custom-request-fetch-zh.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
  packages/x/docs/x-sdk/demos/x-request/basic.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-transformer.tsx
  packages/x/docs/x-sdk/demos/x-request/manual.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/x-request.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: docs of sdk
  packages/x-sdk/src/chat-providers/AbstractChatProvider.ts
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
  packages/x-sdk/src/chat-providers/DefaultChatProvider.ts
  packages/x-sdk/src/chat-providers/OpenAIChatProvider.ts
  packages/x-sdk/src/chat-providers/index.ts
  packages/x-sdk/src/chat-providers/types/model.ts
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/__test__/providers.test.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-open-ai.en-US.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.md
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
  packages/x/docs/x-sdk/demos/chat-providers/deep-seek-chat-provider.md
  packages/x/docs/x-sdk/demos/chat-providers/deep-seek-chat-provider.tsx
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider-width-ui.md
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider-width-ui.tsx
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider.md
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider.tsx
  packages/x/docs/x-sdk/demos/chat-providers/open-ai-chat-provider.md
  packages/x/docs/x-sdk/demos/chat-providers/open-ai-chat-provider.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-request/basic.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-params-headers.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-transformer.tsx
  packages/x/docs/x-sdk/demos/x-request/manual.tsx
  packages/x/docs/x-sdk/demos/x-request/timeout.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: docs of sdk
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
Due: prettier --ignore-unknown --write

feat: docs of sdk
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider-width-ui.tsx
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: docs of sdk
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
  packages/x/docs/x-sdk/demos/chat-providers/deep-seek-chat-provider.tsx
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider-width-ui.tsx
  packages/x/docs/x-sdk/demos/chat-providers/default-chat-provider.tsx
  packages/x/docs/x-sdk/demos/chat-providers/open-ai-chat-provider.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
  packages/x/docs/x-sdk/demos/x-conversations/basic.tsx
  packages/x/docs/x-sdk/demos/x-conversations/multi-instances.tsx
  packages/x/docs/x-sdk/demos/x-conversations/operations.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
  packages/x/docs/x-sdk/demos/x-request/basic.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-params-headers.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-transformer.tsx
  packages/x/docs/x-sdk/demos/x-request/manual.tsx
  packages/x/docs/x-sdk/demos/x-request/timeout.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

test: sdk
  packages/x-sdk/src/x-request/__test__/index.test.ts
Due: biome check --write --files-ignore-unknown=true

test: sdk
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

test: sdk
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/react/demo/qwen-sdk.tsx
  packages/x/docs/react/demo/tbox.tsx
  packages/x/docs/x-sdk/chat-provider-deepseek.en-US.md
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
  packages/x/docs/x-sdk/demos/x-request/basic.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-params-headers.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: docs of sdk
  package.json
  packages/x-markdown/package.json
  packages/x/.dumi/theme/builtins/Sandpack/index.tsx
  packages/x/components/actions/style/index.ts
  packages/x/components/attachments/style/index.ts
  packages/x/components/bubble/Divider.tsx
  packages/x/components/bubble/System.tsx
  packages/x/components/bubble/style/list.ts
  packages/x/components/sender/style/slot-textarea.ts
  packages/x/components/thought-chain/style/item.ts
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: css
  packages/x/components/style/motion/blink.ts
  packages/x/components/think/style/index.ts
Due: biome check --write --files-ignore-unknown=true
