Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.1.1
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: changelog of 1.1.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: Update release-x.yml
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

fix: sender header overflow
  components/sender/style/header.ts
Due: biome check --write --files-ignore-unknown=true

docs: x-request request-options
  components/x-request/demo/request-options.md
  components/x-request/demo/request-options.tsx
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: type of OutputType
  components/use-x-agent/demo/custom.tsx
Due: biome check --write --files-ignore-unknown=true

fix: use-x-chat
  components/use-x-chat/demo/model.tsx
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: use-x-chat
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: use-x-chat
  components/use-x-agent/__tests__/index.test.tsx
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: type of OutputType
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: use-x-chat
  components/x-request/demo/request-options.tsx
Due: biome check --write --files-ignore-unknown=true

fix: chunks is empty
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: useXAgent & x-request's XRequestOptions chenge
  components/use-x-agent/demo/preset.md
  components/use-x-agent/demo/request-options.md
  components/use-x-agent/demo/request-options.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: useXAgent & x-request's XRequestOptions chenge
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/index.test.tsx
  components/x-request/demo/request-options.tsx
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: update transformMessage
  docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

fix: useXAgent & x-request's XRequestOptions chenge
  components/use-x-agent/index.ts
  components/x-request/__tests__/index.test.tsx
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: useXAgent & x-request's XRequestOptions chenge
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain collapsible not work(#743)
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain collapsible is boolean not work(#747)
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

fix: code optimization for defaultValue(#747)
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain collapsible demo
  components/thought-chain/demo/collapsible.tsx
Due: biome check --write --files-ignore-unknown=true

feat: independent opt 90%
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: independent sider optimization
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: ThoughtChain without expandedKeys isn't UnControlled
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain is not controlled (#743)
  components/thought-chain/demo/collapsible.tsx
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

feat: welcome prompts opt
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

Update components/thought-chain/hooks/useCollapsible.ts
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

feat: add test for 'collapsible without expandedKeys'
  components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

perf: ThoughtChain component work with controlled mode test case
  components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: sync main to feature branch
  .dumi/hooks/useMenu.tsx
Due: biome check --write --files-ignore-unknown=true

fix: auto scroll
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: copilot auto scroll & code opt
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

test: add test of thought-chain hool
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: css opt
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix(attachment): fix image display style
  components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

docs: update a new contributions charts
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

Fix: Conversations Item ToolTip unexpectedly open
  components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
