Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: andv6
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

chore: andv6
  packages/x/.dumi/theme/common/PeterCat.tsx
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
  packages/x/components/actions/index.tsx
  packages/x/components/actions/style/index.ts
  packages/x/components/attachments/FileList/FileListCard.tsx
  packages/x/components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/attachments/index.tsx
  packages/x/components/attachments/style/fileCard.ts
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/conversations/index.tsx
  packages/x/components/conversations/style/index.ts
  packages/x/components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/prompts/index.tsx
  packages/x/components/sender/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/sender/index.tsx
  packages/x/components/suggestion/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/suggestion/index.tsx
  packages/x/components/theme/useToken.ts
  packages/x/components/think/Think.tsx
  packages/x/components/think/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/think/style/index.ts
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/thought-chain/index.tsx
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/welcome/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/welcome/index.tsx
  packages/x/package.json
  packages/x/scripts/check-cssinjs.tsx
  packages/x/scripts/collect-token-statistic.ts
Due: biome check --write --files-ignore-unknown=true

chore: andv6
  packages/x/scripts/collect-token-statistic.ts
Due: biome check --write --files-ignore-unknown=true

chore: andv6
  packages/x/.dumi/theme/SiteThemeProvider.tsx
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

chore: andv6
  packages/x/components/x-provider/__tests__/cssVar.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: andv6
  packages/x/components/actions/style/index.ts
  packages/x/components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

chore: andv6
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: SemanticType
  packages/x/components/conversations/GroupTitle.tsx
  packages/x/components/conversations/demo/_semantic.tsx
  packages/x/components/conversations/index.tsx
  packages/x/components/conversations/index.zh-CN.md
  packages/x/components/conversations/style/index.ts
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/_semantic.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/slot-textarea.ts
  packages/x/components/think/Think.tsx
  packages/x/components/think/style/index.ts
  packages/x/components/thought-chain/demo/_semantic.tsx
  packages/x/components/welcome/demo/_semantic.tsx
  packages/x/components/welcome/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: SemanticType
  packages/x/components/think/Think.tsx
Due: biome check --write --files-ignore-unknown=true

feat: SemanticType
  packages/x/components/notification/demo/hooks.tsx
Due: biome check --write --files-ignore-unknown=true

feat: SemanticType
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

feat: 2.0 docs
  packages/x/components/notification/index.zh-CN.md
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: actions comprehensive opt
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/_semantic.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/demo/sub.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add render animtion & modify docs
  package.json
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/.jest.js
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/AnimationNode.tsx
  packages/x-markdown/src/XMarkdown/__test__/AnimationNode.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/index.ts
  packages/x-markdown/src/XMarkdown/hooks/useAnimation.tsx
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/index.ts
  packages/x-markdown/src/plugins/HighlightCode/__test__/index.test.tsx
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x-markdown/src/plugins/type.ts
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.css
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/_semantic.tsx
  packages/x/docs/x-markdown/demo/themes/dark.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint error
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint error
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update antd v6
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: interface opt
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/index.tsx
  packages/x/components/actions/interface.ts
  packages/x/components/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: ci
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true

fix: ci
  packages/x/components/actions/ActionsFeedback.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add context file
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/context.ts
  packages/x/components/actions/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add test
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: add plugin-think
  packages/x/docs/x-markdown/custom-plugin.en-US.md
  packages/x/docs/x-markdown/custom-plugin.zh-CN.md
  packages/x/docs/x-markdown/demo/supersets/Think/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/Think/tool.tsx
  packages/x/docs/x-markdown/plugin-highlightcode.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
  packages/x/docs/x-markdown/plugin-mermaid.en-US.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/plugin-think.en-US.md
  packages/x/docs/x-markdown/plugin-think.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: add plugin-think
  packages/x/docs/x-markdown/plugin-think.en-US.md
Due: prettier --ignore-unknown --write

feat: opt i18n & doc
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
  packages/x/components/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/x-provider/demo/direction.tsx
  packages/x/components/x-provider/demo/locale.tsx
  packages/x/components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: 修复useActive 中 items 为空数组导致的异常+ test
  components/suggestion/__tests__/useActive.test.tsx
  components/suggestion/useActive.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions variant
  packages/x/components/actions/demo/variant.tsx
  packages/x/components/actions/index.tsx
  packages/x/components/actions/interface.ts
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions variant
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: actions variant
  packages/x/components/locale/zh_CN.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions variant
  packages/x/components/actions/demo/basic.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/demo/sub.tsx
Due: biome check --write --files-ignore-unknown=true

feat: action css
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: markdwon docs
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/custom-plugin.zh-CN.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/plugin-think.zh-CN.md
  packages/x/docs/x-markdown/plugins.en-US.md
  packages/x/docs/x-markdown/plugins.zh-CN.md
Due: prettier --ignore-unknown --write

feat: markdwon docs
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/plugin-think.en-US.md
  packages/x/docs/x-markdown/plugin-think.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: markdwon docs
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: prettier --ignore-unknown --write

feat: markdown docs
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/basic.md
  packages/x/docs/x-markdown/demo/codeDemo/components.md
  packages/x/docs/x-markdown/demo/codeDemo/plugin.md
  packages/x/docs/x-markdown/demo/codeDemo/streaming.md
  packages/x/docs/x-markdown/demo/codeDemo/supersets.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: prettier --ignore-unknown --write

feat: markdown docs
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
