Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: format demo
  packages/x/docs/x-markdown/demo/_utils/index.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

docs: docs modify
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

docs: tag
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update markdown documentation and examples
  packages/x-markdown/.jest.js
  packages/x-markdown/src/plugins/HighlightCode/__test__/index.test.tsx
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/compare.tsx
  packages/x/docs/x-markdown/demo/components/dataChart.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/supersets/HighlightCode/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/HighlightCode/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
  packages/x/docs/x-markdown/demo/themes/light.tsx
  packages/x/docs/x-markdown/demo/xprovider/locale.tsx
  packages/x/docs/x-markdown/demo/xprovider/theme.tsx
  packages/x/docs/x-markdown/plugin-highlightcode.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.en-US.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
  packages/x/docs/x-markdown/plugin-mermaid.en-US.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/themes.en-US.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix lint
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix lint error
  packages/x/docs/x-markdown/demo/themes/light.tsx
Due: biome check --write --files-ignore-unknown=true

fix: code style
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: ts bubble
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
Due: biome check --write --files-ignore-unknown=true

fix: ts of bubble
  packages/x/components/bubble/demo/list-ref.tsx
  packages/x/components/bubble/demo/list.tsx
Due: biome check --write --files-ignore-unknown=true

fix: ts bubble
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: ts bubble
  packages/x/docs/x-markdown/demo/supersets/Mermaid/basic.tsx
Due: biome check --write --files-ignore-unknown=true

fix: ts bubble
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: ts bubble
  packages/x/.dumi/theme/common/styles/Highlight.tsx
Due: biome check --write --files-ignore-unknown=true

fix: code style
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x/.dumi/theme/common/styles/Demo.tsx
  packages/x/.dumi/theme/common/styles/Highlight.tsx
  packages/x/components/locale/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

fix: code style
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: bubble semantic
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/demo/_semantic.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/list.ts
  packages/x/components/prompts/demo/_semantic.tsx
  packages/x/components/prompts/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update snapshotes
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: HTMLDivElement
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/demo/list-ref.tsx
  packages/x/components/bubble/demo/list.tsx
Due: biome check --write --files-ignore-unknown=true

feat: refactor useXChat requesting
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
  packages/x/docs/x-sdk/demos/x-chat/basic.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true

chore: merge next
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Provider.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Sender.tsx
Due: biome check --write --files-ignore-unknown=true

fix: 修复excle复制单元格文字无法粘贴
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: agent
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: agent
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Sender.tsx
Due: biome check --write --files-ignore-unknown=true

fix: agent
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Sender.tsx
Due: biome check --write --files-ignore-unknown=true

fix: agent
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
  packages/x/components/sender/style/switch.ts
Due: biome check --write --files-ignore-unknown=true

fix: provide
  packages/x/components/x-provider/demo/theme.tsx
Due: biome check --write --files-ignore-unknown=true

fix: provide
  packages/x/components/x-provider/demo/direction.tsx
Due: biome check --write --files-ignore-unknown=true

fix: provide
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: provide
  packages/x/components/bubble/style/bubble.ts
Due: biome check --write --files-ignore-unknown=true

fix: bubble dot style
  packages/x/components/bubble/style/bubble.ts
Due: biome check --write --files-ignore-unknown=true

fix: bubble dot style
  packages/x/components/sender/TextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: refactor useXChat isRequesting
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/supersets/Latex/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
  packages/x/docs/x-sdk/demos/x-chat/basic.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/introduce.zh-CN.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: merge next
  packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/theme/slots/Header/Navigation.tsx
  packages/x/components/introduce/index.en-US.md
  packages/x/components/introduce/index.zh-CN.md
  packages/x/components/overview/index.zh-CN.md
  packages/x/docs/react/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: merge next
  packages/x/components/introduce/index.en-US.md
  packages/x/components/introduce/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update snapshots
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: update snapshot
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs: 补充文档
  packages/x/components/introduce/index.en-US.md
  packages/x/docs/react/introduce.en-US.md
  packages/x/docs/react/introduce.zh-CN.md
  packages/x/docs/x-markdown/plugins.en-US.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
