Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: Delete .github/workflows/dependabot-bun.yml
  .github/workflows/dependabot-bun.yml
Due: prettier --ignore-unknown --write

fix(thought-chain): controlled mode not working
  components/thought-chain/__tests__/index.test.tsx
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

📝docs: changelog of 1.0.6
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

📝docs: changelog of 1.0.6
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: gpt vis to render charts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

📝 Docs: 更新Attachments文档
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: peerdep antd version needs to be greater than 5.20.3 because of use theme token
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: Add custom actions for conversations
  components/conversations/Item.tsx
  components/conversations/demo/action.md
  components/conversations/demo/action.tsx
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: Add custom actions for conversations
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: Add custom actions for conversations
  components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

docs:fix attachments docs error
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
  components/conversations/demo/actions.md
  components/conversations/demo/actions.tsx
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: fix attachments docs
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add conversations's menuprops icon
  components/conversations/Item.tsx
  components/conversations/demo/actions.tsx
Due: biome check --write --files-ignore-unknown=true

fix: extend SenderProps to include onFocus and onBlur events
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Add Chinese and English pull request templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE_CN.md
Due: prettier --ignore-unknown --write

docs: fix attachments en-us doc
  components/attachments/index.en-US.md
Due: prettier --ignore-unknown --write

fix(thought-chain): 非受控模式无法工作
  components/thought-chain/__tests__/index.test.tsx
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --files-ignore-unknown=true

feat: add conversations's menu trigger
  components/conversations/Item.tsx
  components/conversations/demo/with-menu-trigger.md
  components/conversations/demo/with-menu-trigger.tsx
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add conversations's menu trigger
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: add conversations's menu trigger
  components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

feat(use-x-chat): add updating status
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: add conversations's menu trigger
  components/conversations/Item.tsx
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add conversations's menu trigger
  components/conversations/Item.tsx
  components/conversations/index.tsx
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true

Add autoSize property to Sender component
  components/sender/demo/basic.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: bubble_footer_enhancement
  components/attachments/style/index.ts
  components/bubble/Bubble.tsx
  components/bubble/__tests__/index.test.tsx
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: add conversations's menu trigger
  components/conversations/Item.tsx
  components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: bubble_footer_enhancement
  components/bubble/Bubble.tsx
  components/bubble/__tests__/index.test.tsx
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix docs
  components/sender/index.en-US.md
Due: prettier --ignore-unknown --write

feat: add conversations's menu trigger
  components/conversations/Item.tsx
  components/conversations/__tests__/index.test.tsx
  components/conversations/demo/with-menu-trigger.md
  components/conversations/demo/with-menu-trigger.tsx
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add conversations's menu trigger
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true

test: add conversations's menu trigger
  components/conversations/demo/menu-trigger.md
  components/conversations/demo/menu-trigger.tsx
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: add conversations's menu trigger
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: add conversations's menu trigger
  components/conversations/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: make the contributing's bus jump link right
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
Due: prettier --ignore-unknown --write

test: add footer content of sender
  components/sender/demo/footer.md
  components/sender/demo/footer.tsx
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: add conversations's menu trigger
  components/conversations/demo/menu-trigger.tsx
Due: biome check --write --files-ignore-unknown=true
