Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: The Sender component supports the length limit maxLength
  components/sender/demo/maxLength.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: The Sender component adds a length limit and the display of input value length
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/max-length.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: ai review and modification
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: skill
  packages/x/components/file-card/demo/image-loading.md
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/components/Skill.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-closable-config.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/content-editable.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-closable-config.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: sender
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

fix: sender
  CNAME
  package.json
  packages/x/.dumi/theme/slots/Sidebar/index.tsx
  packages/x/components/file-card/demo/image-loading.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: sender lint
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-input-height.ts
Due: biome check --write --files-ignore-unknown=true

fix: sender lint
  packages/x/scripts/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

feat: update tsconfig
  packages/x/scripts/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

feat: cnavas
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: cnavas
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: cnavas
  packages/x/components/sender/index.en-US.md
Due: prettier --ignore-unknown --write

feat: cnavas
  packages/x/components/sender/components/Skill.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-closable-config.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: cnavas
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

test: slote test
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/Skill.tsx
Due: biome check --write --files-ignore-unknown=true

feat: cnavas
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: speech 覆盖率
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/__tests__/use-speech.test.tsx
  packages/x/components/sender/hooks/use-get-state.ts
  packages/x/components/sender/hooks/use-speech.ts
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

test: speech 覆盖率
  packages/x/components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/.jest.js
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/use-speech.test.tsx
  packages/x/components/sender/hooks/use-speech.ts
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/.jest.js
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sende
  packages/x/components/file-card/__tests__/index.test.tsx
  packages/x/components/file-card/components/ImageLoading.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sende
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/ActionButton.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

test: sende
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: sende
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/Skill.tsx
Due: biome check --write --files-ignore-unknown=true

test: sendee
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Fix the error in merging historical version code
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint error
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: contributors
  packages/x/.dumi/theme/slots/Content/index.tsx
Due: biome check --write --files-ignore-unknown=true

doc: site
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Alert/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/SiteContext.ts
Due: biome check --write --files-ignore-unknown=true

doc: site
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

doc: site fixed for 1.x (#1385)
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Alert/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/SiteContext.ts
Due: biome check --write --files-ignore-unknown=true

docs: 版本选择
  packages/x/.dumi/theme/slots/Header/Actions.tsx
  packages/x/.dumi/theme/slots/Header/Navigation.tsx
  packages/x/.dumi/theme/themeConfig.ts
  packages/x/.dumi/theme/utils.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
