Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: markdown docs
  packages/x/docs/x-markdown/examples.en-US.md
Due: prettier --ignore-unknown --write

chore: docs
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/custom-plugin.en-US.md
  packages/x/docs/x-markdown/custom-plugin.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/supersets/Think/basic.tsx
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/plugin-highlightcode.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.en-US.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
  packages/x/docs/x-markdown/plugin-mermaid.en-US.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/plugins.en-US.md
  packages/x/docs/x-markdown/plugins.zh-CN.md
  packages/x/docs/x-markdown/streaming.en-US.md
  packages/x/docs/x-markdown/streaming.zh-CN.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs(bubble): update messageRender type desc and fix typo
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(bubble): add ContentType link for messageRender type desc
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix[Attachments]: fix maxCount prop to attachments components
  components/attachments/FileList/index.tsx
  components/attachments/SilentUploader.tsx
  components/attachments/__tests__/index.test.tsx
  components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore[Attachments]: remove debug code
  components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore[Attachments]: trigger build
  components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix[Attachments]: Fix type assignment for menu items in ActionMenu
  components/actions/ActionMenu.tsx
Due: biome check --write --files-ignore-unknown=true

chore: docs
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/custom-plugin.en-US.md
  packages/x/docs/x-markdown/custom-plugin.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/Think/basic.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/plugin-highlightcode.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.en-US.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
  packages/x/docs/x-markdown/plugin-mermaid.en-US.md
  packages/x/docs/x-markdown/plugin-mermaid.zh-CN.md
  packages/x/docs/x-markdown/plugins.en-US.md
  packages/x/docs/x-markdown/plugins.zh-CN.md
  packages/x/docs/x-markdown/streaming.en-US.md
  packages/x/docs/x-markdown/streaming.zh-CN.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: markdown docs
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/xss.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: merge next
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

feat: remove wrapcssvar
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: fix lint error
  packages/x-markdown/package.json
  packages/x-markdown/src/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix lint error
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix lint error
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x-markdown/src/theme/useToken.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
Due: biome check --write --files-ignore-unknown=true

lint: fix lint
  packages/x-markdown/package.json
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

feat: resolve confict
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

lint: fix lint
  packages/x-markdown/.fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

lint: fix lint error
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

lint: fix lint
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

lint: fix lint
  package.json
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
Due: biome check --write --files-ignore-unknown=true

feat: package size
  package.json
Due: biome check --write --files-ignore-unknown=true

lint: fix lint error
  packages/x/docs/x-markdown/demo/supersets/HighlightCode/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

lint: fix lint error
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: use x-markdown show demo
  packages/x/components/bubble/demo/gpt-vis.tsx
  packages/x/components/bubble/demo/markdown.md
  packages/x/components/bubble/demo/markdown.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender
  packages/x/components/sender/demo/agent.md
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: docs
  packages/x/components/bubble/demo/markdown.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/demo/agent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender semantic
  packages/x/components/sender/demo/_semantic.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/footer.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender semantic
  packages/x/components/sender/demo/actions.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender agent demo
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add tbox agent
  docs/playground/agent-tbox.en-US.md
  docs/playground/agent-tbox.tsx
  docs/playground/agent-tbox.zh-CN.md
  docs/playground/copilot.en-US.md
  docs/playground/copilot.zh-CN.md
  docs/playground/independent.en-US.md
  docs/playground/independent.zh-CN.md
  docs/react/agent-use-tbox.en-US.md
  docs/react/agent-use-tbox.zh-CN.md
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
  docs/react/model-use-other.en-US.md
  docs/react/model-use-other.zh-CN.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
  docs/react/use-with-create-react-app.en-US.md
  docs/react/use-with-create-react-app.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
  docs/react/use-with-rsbuild.en-US.md
  docs/react/use-with-rsbuild.zh-CN.md
  docs/react/use-with-umi.en-US.md
  docs/react/use-with-umi.zh-CN.md
  docs/react/use-with-vite.en-US.md
  docs/react/use-with-vite.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update version
  docs/playground/agent-tbox.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update ci
  docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update ci
  docs/react/dangerously-api-key.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update abort
  docs/playground/agent-tbox.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update abort
  docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update hide petercat
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true
