Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: issue fixed
  packages/x/components/sources/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/actions/__tests__/feedback.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.8.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/src/skill-meta.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: add space between Chinese subtitle and English title in document.title (#1959)
  packages/x/.dumi/theme/common/CommonHelmet.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.8.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: chat pc
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: suppress Sender borderless focus outline
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

fix: Sender skill closable.onClose not triggered when deleting skill via Backspace
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: type skill closable.onClose as React.SyntheticEvent for keyboard removal
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/Skill.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: suppress Sender borderless focus outline (#1963)
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

docs: recommend Antdv Next X for Vue users
  packages/x/docs/react/faq.en-US.md
  packages/x/docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

fix(sender): handle slot backspace after empty text nodes
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

chore(x-markdown-deps): bump marked from 15.x to 16.x
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

fix: test case
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test case
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: test case
  packages/x/.jest.js
Due: biome check --write --files-ignore-unknown=true

fix(x-sdk): release XStream reader lock on early loop exit
  packages/x-sdk/src/x-stream/__test__/index.test.ts
  packages/x-sdk/src/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-sdk): cancel XStream underlying stream on early exit
  packages/x-sdk/src/x-stream/__test__/index.test.ts
  packages/x-sdk/src/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): eliminate O(N²) code-block scan in streaming that froze the page on long content
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

feat: support custom action tooltips
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/basic.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-markdown): support animation inside custom components
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix(mermaid): fix streaming render jitter by stabilizing id and using debounce
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/components/mermaid/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat(CodeHighlighter): support showLineNumber, wrapLongLines, showCopyButton props
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/demo/configurations.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/code-highlighter/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

refactor(CodeHighlighter): rename showLineNumber to showLineNumbers & fix copy text trailing newline
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/demo/configurations.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/code-highlighter/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

refactor: lazy evaluation and hasOwnProperty safety for animation check
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

feat(Actions): 支持自定义每个操作项的 Tooltip
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/tooltip.md
  packages/x/components/actions/demo/tooltip.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(Choice): 新增 Choice 选择交互组件 (#1957)
  packages/x/components/choice/Item.tsx
  packages/x/components/choice/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/choice/__tests__/demo-extend.test.ts
  packages/x/components/choice/__tests__/demo.test.ts
  packages/x/components/choice/__tests__/index.test.tsx
  packages/x/components/choice/context.ts
  packages/x/components/choice/demo/_semantic.tsx
  packages/x/components/choice/demo/basic.md
  packages/x/components/choice/demo/basic.tsx
  packages/x/components/choice/demo/card-layout.md
  packages/x/components/choice/demo/card-layout.tsx
  packages/x/components/choice/demo/confirmable.md
  packages/x/components/choice/demo/confirmable.tsx
  packages/x/components/choice/demo/controlled.md
  packages/x/components/choice/demo/controlled.tsx
  packages/x/components/choice/demo/disabled.md
  packages/x/components/choice/demo/disabled.tsx
  packages/x/components/choice/demo/grid-layout.md
  packages/x/components/choice/demo/grid-layout.tsx
  packages/x/components/choice/demo/in-bubble.md
  packages/x/components/choice/demo/in-bubble.tsx
  packages/x/components/choice/demo/indicator.md
  packages/x/components/choice/demo/indicator.tsx
  packages/x/components/choice/demo/loading.md
  packages/x/components/choice/demo/loading.tsx
  packages/x/components/choice/demo/multiple.md
  packages/x/components/choice/demo/multiple.tsx
  packages/x/components/choice/demo/recommended.md
  packages/x/components/choice/demo/recommended.tsx
  packages/x/components/choice/hooks/use-select.ts
  packages/x/components/choice/index.en-US.md
  packages/x/components/choice/index.tsx
  packages/x/components/choice/index.zh-CN.md
  packages/x/components/choice/interface.ts
  packages/x/components/choice/style/index.ts
  packages/x/components/index.ts
  packages/x/components/theme/interface/components.ts
  packages/x/components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(Choice): 补充 Tooltip 禁用原因、locale 国际化、完整 Design Token、select 测试
  packages/x/components/choice/Item.tsx
  packages/x/components/choice/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/choice/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/choice/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/choice/__tests__/select.test.tsx
  packages/x/components/choice/index.tsx
  packages/x/components/choice/style/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
Due: biome check --write --files-ignore-unknown=true

feat: add virtual scroll support for Bubble.List and Conversations
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list-benchmark.test.tsx
  packages/x/components/bubble/__tests__/list-virtual.test.tsx
  packages/x/components/bubble/demo/virtual-list.md
  packages/x/components/bubble/demo/virtual-list.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/conversations/GroupTitle.tsx
  packages/x/components/conversations/Item.tsx
  packages/x/components/conversations/__tests__/virtual.test.tsx
  packages/x/components/conversations/demo/virtual-list.md
  packages/x/components/conversations/demo/virtual-list.tsx
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.tsx
  packages/x/components/conversations/index.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: load x-skill spinner with dynamic import
  packages/x-skill/src/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: refine action tooltip rendering
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/tooltip.tsx
Due: biome check --write --files-ignore-unknown=true

fix: cache x-skill ora loader
  packages/x-skill/src/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: preserve zero action tooltip title
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/tooltip.tsx
Due: biome check --write --files-ignore-unknown=true

fix: support group collapse in virtual mode and fix GroupTitle ref forwarding
  packages/x/components/conversations/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: scrollTo param adaptation, autoScroll content growth, benchmark without mock
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list-benchmark.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: correct align mapping and ResizeObserver target for virtual autoScroll
  packages/x/components/bubble/BubbleList.tsx
Due: biome check --write --files-ignore-unknown=true

test(x-markdown): add loading isolation tests and demo for #1949
  packages/x-markdown/src/XMarkdown/__tests__/loading-isolation.test.tsx
  packages/x/docs/x-markdown/demo/streaming/multi-component-loading.tsx
  packages/x/docs/x-markdown/streaming.en-US.md
  packages/x/docs/x-markdown/streaming.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(Suggestion): support maxHeight and overflow-y auto for popup scroll
  packages/x/components/suggestion/__tests__/index.test.tsx
  packages/x/components/suggestion/demo/scroll.md
  packages/x/components/suggestion/demo/scroll.tsx
  packages/x/components/suggestion/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(sender): trigger onClose when removing skill via Backspace
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat(think, thought-chain): add destroyOnHidden prop
  packages/x/components/think/Think.tsx
  packages/x/components/think/__tests__/index.test.tsx
  packages/x/components/think/demo/destroyOnHidden.md
  packages/x/components/think/demo/destroyOnHidden.tsx
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/demo/destroyOnHidden.md
  packages/x/components/thought-chain/demo/destroyOnHidden.tsx
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
  packages/x/components/thought-chain/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
