Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs(attachments): add high-quality preview example for image attachments
  components/attachments/demo/with-sender.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update sender interface and markdown
  packages/x/.dumi/theme/slots/Header/Actions.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: demo fixed
  packages/x/components/think/demo/status.tsx
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: update think test
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: fix lint error
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/context.ts
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

fix: think docs fixed
  packages/x/components/think/demo/_semantic.tsx
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: delete index.ts
  packages/x-card/index.ts
  packages/x-sdk/index.ts
Due: biome check --write --files-ignore-unknown=true

type: fix type error in scripts/generate-authors.ts
  scripts/generate-authors.ts
Due: biome check --write --files-ignore-unknown=true

chore: delete index.ts
  packages/x-card/.fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

chore: upgrade biome to 2.0
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  biome.json
  package.json
Due: biome check --write --files-ignore-unknown=true

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: Think docs add designToken
  packages/x/components/actions/index.en-US.md
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update deps and cleanup package.json files
  packages/x-card/package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
  packages/x/scripts/generate-authors.ts
Due: biome check --write --files-ignore-unknown=true

docs: enhance theme switching functionality
  packages/x/.dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: upgrade to biome 2.0
  biome.json
  package.json
  packages/x-card/package.json
  packages/x/.dumi/theme/builtins/Antd.tsx
  packages/x/.dumi/theme/builtins/ComponentMeta/index.tsx
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
  packages/x/components/think/Think.tsx
  packages/x/components/use-x-agent/demo/model.tsx
  packages/x/components/x-request/index.ts
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

Apply suggestions from code review
  packages/x-card/package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
Due: biome check --write --files-ignore-unknown=true

Update biome.json
  biome.json
Due: biome check --write --files-ignore-unknown=true

feat: finish baisc function and docs
  packages/x-markdown/package.json
  packages/x-markdown/plugins/CodeHighLight/index.js
  packages/x-markdown/plugins/CodeHighLight/interface.js
  packages/x-markdown/plugins/Latex/index.js
  packages/x-markdown/src/XMarkdown/__test__/Options.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/Parser.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Options.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/core/helpers.ts
  packages/x-markdown/src/XMarkdown/core/index.ts
  packages/x-markdown/src/XMarkdown/hooks/use-x-provider-context.ts
  packages/x-markdown/src/XMarkdown/hooks/useBuffer.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/index.ts
  packages/x-markdown/src/plugins/CodeHighLight/__test__/index.test.tsx
  packages/x-markdown/src/plugins/CodeHighLight/interface.ts
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x/docs/x-markdown/demo/basic.tsx
  packages/x/docs/x-markdown/demo/components.md
  packages/x/docs/x-markdown/demo/components.tsx
  packages/x/docs/x-markdown/demo/index.css
  packages/x/docs/x-markdown/demo/plugin.css
  packages/x/docs/x-markdown/demo/plugin.md
  packages/x/docs/x-markdown/demo/plugin.tsx
  packages/x/docs/x-markdown/demo/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets.tsx
  packages/x/docs/x-markdown/introduce.en-US.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: fix ci error
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/plugins/CodeHighLight/index.js
  packages/x-markdown/plugins/CodeHighLight/interface.js
  packages/x-markdown/plugins/Latex/index.js
  packages/x-markdown/src/XMarkdown/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix ci error
  package.json
  packages/x/docs/x-markdown/demo/supersets.tsx
Due: biome check --write --files-ignore-unknown=true

feat: change plugins path
  packages/x/docs/x-markdown/demo/supersets.tsx
Due: biome check --write --files-ignore-unknown=true

feat: components support render any tags
  package.json
  packages/x-markdown/plugins/CodeHighLight/index.js
  packages/x-markdown/plugins/CodeHighLight/interface.js
  packages/x-markdown/plugins/Latex/index.js
  packages/x-markdown/src/XMarkdown/__test__/Options.test.tsx
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Config.ts
  packages/x-markdown/src/XMarkdown/core/Options.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/core/index.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/plugins/CodeHighLight/__test__/index.test.tsx
  packages/x-markdown/src/plugins/CodeHighLight/index.tsx
  packages/x-markdown/src/plugins/CodeHighLight/interface.ts
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
  packages/x/docs/x-markdown/demo/components.tsx
  packages/x/docs/x-markdown/demo/plugin.tsx
  packages/x/docs/x-markdown/demo/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets.tsx
  packages/x/docs/x-markdown/introduce.en-US.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: change dumi path
  packages/x/.dumirc.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix tsc error
  packages/x-markdown/src/plugins/CodeHighLight/__test__/index.test.tsx
  packages/x-markdown/src/plugins/CodeHighLight/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: change code highlight path
  packages/x/docs/x-markdown/demo/supersets.tsx
Due: biome check --write --files-ignore-unknown=true

feat: change codehighlight path
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/plugins/CodeHighLight/index.js
  packages/x-markdown/src/plugins/CodeHighLight/__test__/index.test.tsx
  packages/x-markdown/src/plugins/CodeHighLight/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: modify demo and html renderer
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/plugins/CodeHighLight/index.js
  packages/x-markdown/src/XMarkdown/core/Config.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/plugins/HighlightCode/__test__/index.test.tsx
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x/.dumirc.ts
  packages/x/docs/x-markdown/demo/components.tsx
  packages/x/docs/x-markdown/demo/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update test cases
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/plugins/HighlightCode/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

feat: add pickAttrs & direction
  components/actions/index.tsx
  components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: optimize useStreaming hooks
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/plugins/HighlightCode/__test__/index.test.tsx
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x/docs/x-markdown/demo/streaming.tsx
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/Status.tsx
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/demo.test.ts
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/demo/_semantic.tsx
  packages/x/components/thought-chain/demo/basic.tsx
  packages/x/components/thought-chain/demo/controlled-collapsible.md
  packages/x/components/thought-chain/demo/controlled-collapsible.tsx
  packages/x/components/thought-chain/demo/customization.tsx
  packages/x/components/thought-chain/demo/nested.tsx
  packages/x/components/thought-chain/demo/simple.md
  packages/x/components/thought-chain/demo/simple.tsx
  packages/x/components/thought-chain/demo/size.md
  packages/x/components/thought-chain/demo/size.tsx
  packages/x/components/thought-chain/demo/status.tsx
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.tsx
  packages/x/components/thought-chain/index.zh-CN.md
  packages/x/components/thought-chain/interface.ts
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/item.ts
  packages/x/components/use-x-agent/demo/model.tsx
  packages/x/components/use-x-agent/demo/preset.tsx
  packages/x/components/use-x-agent/demo/request-options.tsx
  packages/x/components/use-x-agent/demo/requestParams.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: thought-chain motions
  packages/x/components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain motions
  packages/x-markdown/.fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain motions
  packages/x/components/thought-chain/demo/simple.tsx
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain docs
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: markdown docs init
  packages/x/docs/x-markdown/CHANGELOG.en-US.md
  packages/x/docs/x-markdown/CHANGELOG.zh-CN.md
  packages/x/docs/x-markdown/api.en-US.md
  packages/x/docs/x-markdown/api.zh-CN.md
  packages/x/docs/x-markdown/install_common.en-US.md
  packages/x/docs/x-markdown/install_common.zh-CN.md
  packages/x/docs/x-markdown/install_esm.en-US.md
  packages/x/docs/x-markdown/install_esm.zh-CN.md
  packages/x/docs/x-markdown/install_umd.en-US.md
  packages/x/docs/x-markdown/install_umd.zh-CN.md
  packages/x/docs/x-markdown/introduce.en-US.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
  packages/x/docs/x-markdown/plugin.en-US.md
  packages/x/docs/x-markdown/plugin.zh-CN.md
  packages/x/docs/x-markdown/quickstart.en-US.md
  packages/x/docs/x-markdown/quickstart.zh-CN.md
Due: prettier --ignore-unknown --write

feat: optimize parser function
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true
