Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: fix img url
  docs/spec/human-touch.en-US.md
  docs/spec/human-touch.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix main banner style
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: fix design menu
  .dumi/hooks/useMenu.tsx
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update design sk file
  docs/spec/hybrid-ui-design.en-US.md
Due: prettier --ignore-unknown --write

docs: update ip lottie and img
  .dumi/pages/index/components/MainBanner.tsx
  README-zh_CN.md
  README.md
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
  docs/spec/hybrid-ui-design.en-US.md
  docs/spec/hybrid-ui-design.zh-CN.md
  docs/spec/wake-up-welcome-message.en-US.md
  docs/spec/wake-up-welcome-message.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.0.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update
  .dumi/pages/index/components/DesignBanner.tsx
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  README-zh_CN.md
  README.md
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
  docs/spec/hybrid-ui-design.en-US.md
  docs/spec/hybrid-ui-design.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update commit role for publish
  scripts/generate-component-changelog.ts
Due: biome check --write --files-ignore-unknown=true

chore: update img
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  README-zh_CN.md
  README.md
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
  docs/spec/hybrid-ui-design.en-US.md
  docs/spec/hybrid-ui-design.zh-CN.md
Due: prettier --ignore-unknown --write

test: update
  bun.lockb
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: update document.title to improve SEO
  .dumi/pages/404/index.tsx
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/common/CommonHelmet.tsx
  .dumi/theme/layouts/IndexLayout/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: can not delete the first letter of Demo
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: add dev deps scroll-into-view-if-needed
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: fix contributors missing
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --files-ignore-unknown=true

docs: add bundlephobia badge
  README.md
Due: prettier --ignore-unknown --write

Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

Revert "chore(deps-dev): bump father from 4.5.1-beta.4 to 4.5.1 (#217)"
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: add @codecov/webpack-plugin
  .fatherrc.ts
  package.json
Due: biome check --write --files-ignore-unknown=true

add bun.lockb
  bun.lockb
Due: none

fix: resolve ghost dependency issue for strict pnpm compatibility
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb
  bun.lockb
Due: none

chore: Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

refactor: refactor bubble loading.tsx
  components/bubble/loading.tsx
Due: biome check --write --files-ignore-unknown=true

test: bundle size analyze
  components/conversations/GroupTitle.tsx
Due: biome check --write --files-ignore-unknown=true

Update README.md
  README.md
Due: prettier --ignore-unknown --write

Create size-limit.yml
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

chore: Update site-deploy.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

Update .github/workflows/size-limit.yml
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

Update .github/workflows/site-deploy.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write
