Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(x-card): add production surface runtime
  docs/rfcs/0003-production-generative-ui.zh-CN.md
  packages/x-card/src/index.ts
  packages/x-card/src/runtime/__tests__/adapters.test.ts
  packages/x-card/src/runtime/__tests__/catalog.test.ts
  packages/x-card/src/runtime/__tests__/runtime.test.ts
  packages/x-card/src/runtime/adapters/a2uiV08.ts
  packages/x-card/src/runtime/adapters/a2uiV09.ts
  packages/x-card/src/runtime/adapters/shared.ts
  packages/x-card/src/runtime/catalog.ts
  packages/x-card/src/runtime/createSurfaceRuntime.ts
  packages/x-card/src/runtime/index.ts
  packages/x-card/src/runtime/jsonPointer.ts
  packages/x-card/src/runtime/reducer.ts
  packages/x-card/src/runtime/types.ts
  packages/x/docs/x-card/a2ui-v-0-9.en-US.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.9/runtime-production.md
  packages/x/docs/x-card/demo/A2UI_v0.9/runtime-production.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs(x-sdk): add agent interaction demo
  packages/x/docs/x-sdk/agent-provider.en-US.md
  packages/x/docs/x-sdk/agent-provider.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/agent-interaction.md
  packages/x/docs/x-sdk/demos/x-chat/agent-interaction.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test(x-sdk): cover agent interaction commands
  packages/x-sdk/src/agent/command/__test__/commands.test.ts
  packages/x-sdk/src/agent/selectors/__test__/selectors.test.ts
  packages/x-sdk/src/chat-providers/__test__/runAgentCommand.test.ts
  packages/x-sdk/src/x-chat/__test__/agentCommandStore.test.ts
  packages/x-sdk/src/x-chat/__test__/agentRuntime.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat(x-card): complete runtime demos and docs
  packages/x-card/README.md
  packages/x-card/package.json
  packages/x/docs/x-card/a2ui-v-0-8.en-US.md
  packages/x/docs/x-card/a2ui-v-0-8.zh-CN.md
  packages/x/docs/x-card/a2ui-v-0-9.en-US.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.8/runtime-production.md
  packages/x/docs/x-card/demo/A2UI_v0.8/runtime-production.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/action-context-resolve.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/filter-search.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/form-validation.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/multi-card-sync.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/nested-interaction.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/progressive.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/streaming.tsx
  packages/x/docs/x-card/introduce.en-US.md
  packages/x/docs/x-card/introduce.zh-CN.md
  packages/x/docs/x-card/surface-runtime.en-US.md
  packages/x/docs/x-card/surface-runtime.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test(x-sdk): cover agent command races
  packages/x-sdk/src/chat-providers/__test__/runAgentCommand.test.ts
  packages/x-sdk/src/x-chat/__test__/agentRuntime.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add ToolCall component
  packages/x/components/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/theme/interface/components.ts
  packages/x/components/tool-call/ToolCall.tsx
  packages/x/components/tool-call/__tests__/a11y.test.tsx
  packages/x/components/tool-call/__tests__/demo.test.tsx
  packages/x/components/tool-call/__tests__/index.test.tsx
  packages/x/components/tool-call/demo/_semantic.tsx
  packages/x/components/tool-call/demo/basic.md
  packages/x/components/tool-call/demo/basic.tsx
  packages/x/components/tool-call/demo/controlled.md
  packages/x/components/tool-call/demo/controlled.tsx
  packages/x/components/tool-call/demo/custom-render.md
  packages/x/components/tool-call/demo/custom-render.tsx
  packages/x/components/tool-call/demo/status.md
  packages/x/components/tool-call/demo/status.tsx
  packages/x/components/tool-call/index.en-US.md
  packages/x/components/tool-call/index.tsx
  packages/x/components/tool-call/index.zh-CN.md
  packages/x/components/tool-call/interface.ts
  packages/x/components/tool-call/style/index.ts
  packages/x/components/x-provider/context.ts
  packages/x/components/x-provider/index.tsx
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs(x-sdk): clarify agent command demo
  packages/x/docs/x-sdk/demos/x-chat/agent-interaction.md
  packages/x/docs/x-sdk/demos/x-chat/agent-interaction.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add ToolCall approval workflow
  packages/x/components/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/tool-call/ToolCall.tsx
  packages/x/components/tool-call/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/tool-call/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/tool-call/__tests__/a11y.test.tsx
  packages/x/components/tool-call/__tests__/demo.test.tsx
  packages/x/components/tool-call/__tests__/index.test.tsx
  packages/x/components/tool-call/demo/_semantic.tsx
  packages/x/components/tool-call/demo/approval.md
  packages/x/components/tool-call/demo/approval.tsx
  packages/x/components/tool-call/demo/basic.tsx
  packages/x/components/tool-call/demo/controlled.tsx
  packages/x/components/tool-call/demo/custom-render.tsx
  packages/x/components/tool-call/demo/status.tsx
  packages/x/components/tool-call/index.en-US.md
  packages/x/components/tool-call/index.tsx
  packages/x/components/tool-call/index.zh-CN.md
  packages/x/components/tool-call/interface.ts
  packages/x/components/tool-call/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: support typewriter animation for contentRender custom components
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix: align ToolCall demos and coverage
  packages/x/components/tool-call/ToolCall.tsx
  packages/x/components/tool-call/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/tool-call/__tests__/demo.test.tsx
  packages/x/components/tool-call/__tests__/index.test.tsx
  packages/x/components/tool-call/demo/_semantic.tsx
  packages/x/components/tool-call/demo/approval.tsx
  packages/x/components/tool-call/demo/basic.tsx
  packages/x/components/tool-call/demo/controlled.tsx
  packages/x/components/tool-call/demo/custom-render.tsx
  packages/x/components/tool-call/demo/status.tsx
Due: biome check --write --files-ignore-unknown=true

style: refine ToolCall execution surface
  packages/x/components/tool-call/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: add Task component for agent progress
  packages/x/components/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/task/Task.tsx
  packages/x/components/task/__tests__/a11y.test.tsx
  packages/x/components/task/__tests__/demo.test.tsx
  packages/x/components/task/__tests__/index.test.tsx
  packages/x/components/task/demo/_semantic.tsx
  packages/x/components/task/demo/basic.md
  packages/x/components/task/demo/basic.tsx
  packages/x/components/task/demo/controlled.md
  packages/x/components/task/demo/controlled.tsx
  packages/x/components/task/demo/custom-render.md
  packages/x/components/task/demo/custom-render.tsx
  packages/x/components/task/demo/status.md
  packages/x/components/task/demo/status.tsx
  packages/x/components/task/index.en-US.md
  packages/x/components/task/index.tsx
  packages/x/components/task/index.zh-CN.md
  packages/x/components/task/interface.ts
  packages/x/components/task/style/index.ts
  packages/x/components/theme/interface/components.ts
  packages/x/components/x-provider/context.ts
  packages/x/components/x-provider/index.tsx
  packages/x/docs/x-sdk/demos/x-chat/agent-interaction.tsx
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: correct ToolCall release version
  packages/x/components/tool-call/index.en-US.md
  packages/x/components/tool-call/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: support configurable ToolCall icons
  packages/x/components/tool-call/ToolCall.tsx
  packages/x/components/tool-call/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/tool-call/__tests__/index.test.tsx
  packages/x/components/tool-call/demo/basic.md
  packages/x/components/tool-call/demo/basic.tsx
  packages/x/components/tool-call/demo/status.md
  packages/x/components/tool-call/demo/status.tsx
  packages/x/components/tool-call/index.en-US.md
  packages/x/components/tool-call/index.tsx
  packages/x/components/tool-call/index.zh-CN.md
  packages/x/components/tool-call/interface.ts
  packages/x/components/tool-call/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: prevent collapsed ToolCall demos from stretching
  packages/x/components/tool-call/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/tool-call/demo/status.tsx
Due: biome check --write --files-ignore-unknown=true

style: simplify ToolCall visual hierarchy
  packages/x/components/tool-call/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/tool-call/demo/approval.tsx
  packages/x/components/tool-call/demo/basic.tsx
  packages/x/components/tool-call/demo/status.tsx
  packages/x/components/tool-call/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): recognize fenced code blocks with up to 3 leading spaces
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix(mermaid): use stable id to prevent re-mount flicker on streaming render
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

feat(x-markdown): support animation inside custom components
  packages/x-markdown/demo.html
  packages/x-markdown/manual-test.ts
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): update marked to v18 to fix strikethrough parsing
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

fix(think): hide retained content when collapsed
  packages/x/components/think/__tests__/index.test.tsx
  packages/x/components/think/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix(CodeHighlighter): load Prism grammars through a bundler-analyzable loader
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/folder/FilePreview.tsx
Due: biome check --write --files-ignore-unknown=true

fix(Mermaid): stop leaking the error diagram into document.body
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

fix(theme): restore Popover shadow with XProvider
  packages/x/components/theme/interface/alias.ts
  packages/x/components/theme/util/alias.ts
  packages/x/components/x-provider/__tests__/cssVar.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(sender): preserve multiline paste in slot mode
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

fix(sender): keep inline custom inputs editable
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/components/TextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix(sender): preserve slots for text selection deletion
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix(sender): delete newlines before slots
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix(conversations): 避免选中切换重算全部列表项
  packages/x/components/conversations/Item.tsx
  packages/x/components/conversations/__tests__/index.test.tsx
  packages/x/components/conversations/index.tsx
Due: biome check --write --files-ignore-unknown=true

test(suggestion): 同步 Node 24 下的触发器快照
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(x-markdown): fix CJK bold `**…**` not rendering when adjacent to punctuation
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): address CodeRabbit review on CJK bold fix
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

chore: prepare 2.10.0 release
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/src/skill-meta.json
  packages/x/docs/x-sdk/agent-provider.en-US.md
  packages/x/docs/x-sdk/agent-provider.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: add release changelog attribution
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: link x-card release entries to pr
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: prepare 2.10.0 release
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/src/skill-meta.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(conversations): avoid controlled collapse render warning
  packages/x/components/_util/hooks/use-collapsible.ts
  packages/x/components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
