Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: add footer content of sender
  components/sender/demo/footer.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: add conversations's menu trigger
  components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

test: add conversations's menu trigger
  components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add footer content of sender
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: add footer content of sender
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add footer content of sender
  components/sender/demo/actions.tsx
  components/sender/demo/footer.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: conversations's menu trigger
  components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: use `FastColor` instead of `TinyColor`.
  .dumi/theme/builtins/ColorChunk/index.tsx
  .dumi/theme/builtins/TokenCompare/index.tsx
  .dumi/theme/common/styles/Markdown.tsx
  .dumi/theme/slots/Footer/index.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: add Sender footer content
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/index.test.tsx
  components/sender/demo/_semantic.tsx
  components/sender/demo/footer.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add Sender footer content
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/index.test.tsx
  components/sender/demo/_semantic.tsx
  components/sender/demo/basic.tsx
  components/sender/demo/footer.md
  components/sender/demo/footer.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add Sender footer content
  components/sender/demo/footer.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add Sender footer content
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: lint
  components/bubble/BubbleList.tsx
  components/bubble/hooks/useTypedEffect.ts
  components/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: lint
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: lint
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: add Sender footer content
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add Sender footer content
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: fix uncovered line
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: change actions's value to false
  components/sender/demo/_semantic.tsx
  components/sender/demo/footer.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: make the Provider to one
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix API
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update structure
  components/sender/__tests__/index.test.tsx
  components/sender/demo/_semantic.tsx
  components/sender/demo/footer.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add new conversations menu trigger
  components/conversations/Item.tsx
  components/conversations/demo/controlled-mode.md
  components/conversations/demo/group-sort.md
  components/conversations/demo/with-menu.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add new conversations menu trigger
  components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add new conversations menu trigger
  components/conversations/Item.tsx
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add new conversations menu trigger
  components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix iframe demo url with right theme
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  docs/playground/independent.en-US.md
  docs/playground/independent.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Apply suggestions from code review
  docs/playground/independent.en-US.md
  docs/playground/independent.zh-CN.md
Due: prettier --ignore-unknown --write

fix: text
  docs/spec/expression-user-input.en-US.md
  docs/spec/expression-user-input.zh-CN.md
Due: prettier --ignore-unknown --write

Update index.ts
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: types
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/bubble/index.zh-CN.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: types
  components/bubble/index.en-US.md
Due: prettier --ignore-unknown --write
