Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(styles): add clear button style
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x/docs/playground/_utils/local.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/docs/playground/_utils/local.ts
Due: biome check --write --files-ignore-unknown=true

feat: link docs
  packages/x/docs/x-markdown/demo/codeDemo/link.tsx
Due: biome check --write --files-ignore-unknown=true

feat: link docs
  package.json
  packages/x-markdown/package.json
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: update antdv6
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x/components/sources/Sources.tsx
  packages/x/components/style/collapse.ts
  packages/x/components/style/index.ts
  packages/x/components/thought-chain/style/item.ts
  packages/x/docs/x-markdown/demo/codeDemo/link.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update antdv6
  packages/x-markdown/src/plugins/theme/useToken.ts
  packages/x/components/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

chore: update antdv6
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update antdv6
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

chore: update antdv6
  packages/x/docs/x-markdown/demo/codeDemo/link.tsx
Due: biome check --write --files-ignore-unknown=true

feat: link docs
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: update antdv6
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: coverage
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: 整理文件
  packages/x/components/introduce/index.en-US.md
  packages/x/components/introduce/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/style/index.ts
  packages/x/components/style/motion/blink.ts
  packages/x/components/style/motion/collapse.ts
  packages/x/components/style/motion/fade.ts
  packages/x/components/style/motion/init.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: 整理文件
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: prettier --ignore-unknown --write

chore: css
  packages/x-markdown/src/XMarkdown/AnimationText.tsx
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/index.less
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
Due: biome check --write --files-ignore-unknown=true

feat: link docs
  packages/x-markdown/src/XMarkdown/index.less
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
Due: biome check --write --files-ignore-unknown=true

feat: link
  packages/x-markdown/package.json
  packages/x/components/bubble/style/bubble.ts
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: link
  packages/x/components/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

chore: version
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

style: covert .less to .css
  packages/x-markdown/src/XMarkdown/index.css
  packages/x-markdown/src/XMarkdown/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix style
  packages/x-markdown/src/XMarkdown/index.css
Due: biome check --write --files-ignore-unknown=true

fix: fix css build error
  packages/x-markdown/src/XMarkdown/index.css
Due: biome check --write --files-ignore-unknown=true

feat: update markdown
  packages/x-markdown/src/XMarkdown/index.less
Due: none

fix: fix set code streamStastus wrong when code after \n\n
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

feat: update
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: push
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
Due: biome check --write --files-ignore-unknown=true

feat: Sender 组件支持长度限制 maxLength
  components/sender/__tests__/index.test.tsx
  components/sender/demo/basic.tsx
  components/sender/demo/show-count.md
  components/sender/demo/show-count.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 修改建议问题
  components/sender/__tests__/index.test.tsx
  components/sender/demo/basic.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: Sender 组件支持长度限制 maxLength
  components/sender/__tests__/index.test.tsx
  components/sender/demo/show-count.md
  components/sender/demo/show-count.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore:changelog of 2.0.0-alpha.15
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore:changelog of 2.0.0-alpha.15
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: token of blinkMotion
  packages/x/components/conversations/hooks/useCreation.tsx
  packages/x/components/conversations/style/index.ts
  packages/x/components/style/motion/blink.ts
  packages/x/components/think/style/index.ts
  packages/x/components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
