Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: bubble
  packages/x/components/bubble/interface.ts
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

docs: x-provider
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/react/demo/tbox.tsx
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: Placement
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.2.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(theme): add zeroRuntime support
  packages/x/components/theme/context.ts
  packages/x/components/theme/genStyleUtils.ts
  packages/x/components/theme/useToken.ts
  packages/x/components/x-provider/__tests__/zeroRuntime.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix useInternalToken type signature
  packages/x/components/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): correct streaming cache when list is followed by backtick
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: 更新列表后反引号注释为英文
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

test: update test snapshots
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: none

test: update snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

refactor(x-markdown-demo): optimize the style and interaction of the streaming rendering demo
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): correct streaming cache when list is followed by backtick (#1739)
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill
  package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/.gitignore
  packages/x-skill/.jest.js
  packages/x-skill/.skill.json
  packages/x-skill/README-zh_CN.md
  packages/x-skill/README.md
  packages/x-skill/__tests__/index.test.js
  packages/x-skill/bin/index.js
  packages/x-skill/config/i18n.json
  packages/x-skill/package.json
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x-skill/skills/x-request/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/.gitignore
  packages/x-skill/.jest.js
  packages/x-skill/.skill.json
  packages/x-skill/__tests__/index.test.js
  packages/x-skill/bin/index.js
  packages/x-skill/bin/locale/index.js
  packages/x-skill/config/i18n.json
  packages/x-skill/jest.setup.js
  packages/x-skill/package.json
  packages/x-skill/scripts/dekko.ts
  packages/x-skill/scripts/typings/custom-typings.d.ts
  packages/x-skill/scripts/version.ts
  packages/x-skill/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-skill/__tests__/index.test.js
  packages/x-skill/bin/locale/index.js
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore(x): update test snapshot
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Latex): latex block 正则支持后空格
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__tests__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: Optimize test cases
  packages/x-markdown/src/plugins/Latex/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

Update README.md
  README.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/bin/index.js
  packages/x-skill/bin/locale/index.js
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/package.json
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-skill/bin/index.js
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-skill/skills/use-x-chat/SKILL.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/README.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/CORE.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/README-zh_CN.md
  packages/x-skill/README.md
  packages/x-skill/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/__tests__/index.test.js
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
