Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snapshot
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: site header
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/SiteThemeProvider.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/layouts/SidebarLayout/index.tsx
  .dumi/theme/slots/Header/Actions.tsx
  .dumi/theme/slots/Header/Logo.tsx
  .dumi/theme/slots/Header/Navigation.tsx
  .dumi/theme/slots/Header/SwitchBtn.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/slots/Header/interface.ts
  .dumi/theme/slots/Header/useScrollY.ts
  .dumi/theme/slots/Sidebar/index.tsx
  .dumi/theme/slots/SiteContext.ts
  .dumi/theme/utils.ts
Due: biome check --write --files-ignore-unknown=true

refactor: adjust layout
  components/bubble/style/content.ts
  components/prompts/demo/flex-wrap-fixed.md
  components/prompts/demo/flex-wrap-fixed.tsx
  components/prompts/index.en-US.md
  components/prompts/index.tsx
  components/prompts/index.zh-CN.md
  components/prompts/style/index.ts
  components/welcome/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: site main banner
  .dumi/pages/index/components/main-banner.tsx
  .dumi/theme/slots/Header/Navigation.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/slots/Header/useScrollY.ts
Due: biome check --write --files-ignore-unknown=true

chore: init demo
  components/prompts/demo/nest.md
  components/prompts/demo/nest.tsx
  components/prompts/index.en-US.md
  components/prompts/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update doc
  components/prompts/demo/_semantic.tsx
  components/prompts/demo/nest.tsx
  components/prompts/index.en-US.md
  components/prompts/index.tsx
  components/prompts/index.zh-CN.md
  components/prompts/interface.ts
  components/prompts/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: fix test
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  components/prompts/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix lint
  components/prompts/demo/flex-wrap-fixed.tsx
  components/welcome/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: bach of update
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/index.tsx
  components/attachments/context.tsx
  components/attachments/demo/files.md
  components/attachments/demo/files.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/style/fileCard.ts
  components/attachments/style/index.ts
  components/bubble/demo/list-custom.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snapshot
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: fix lint
  components/attachments/demo/files.tsx
  components/attachments/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: replace icon
  components/attachments/FileList/AudioIcon.tsx
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/VideoIcon.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

chore: fix lint
  components/attachments/FileList/FileListCard.tsx
Due: biome check --write --files-ignore-unknown=true

chore: bump 1.0.0-alpha.11
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: support pasteFile
  components/attachments/FileList/FileListCard.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/SilentUploader.tsx
  components/attachments/index.tsx
  components/sender/demo/paste-image.md
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: site main banner
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SiteContext.ts
Due: biome check --write --files-ignore-unknown=true

fix: rtl style
  .dumi/hooks/useScrollY.ts
  .dumi/pages/index/components/main-banner.tsx
  .dumi/theme/SiteThemeProvider.tsx
  .dumi/theme/layouts/IndexLayout/index.tsx
  .dumi/theme/slots/Header/Navigation.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb
  bun.lockb
Due: none

docs: update doc
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
  components/sender/SenderHeader.tsx
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: fix style
  components/attachments/style/fileCard.ts
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: init
  components/sender/demo/speech-custom.md
  components/sender/demo/speech-custom.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: break if typing
  components/sender/demo/speech-custom.tsx
  components/sender/index.tsx
  components/sender/useSpeech.ts
Due: biome check --write --files-ignore-unknown=true

docs: add doc
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: support read only
  components/sender/__tests__/index.test.tsx
  components/sender/demo/basic.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update snapshot
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: none

docs: changelog of 1.0.0-alpha.12
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: add ref demo
  components/sender/SenderHeader.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/demo/header-fixed.md
  components/sender/demo/header-fixed.tsx
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint
  components/sender/demo/header-fixed.tsx
Due: biome check --write --files-ignore-unknown=true

feat: design banner
  .dumi/pages/index/components/DesignBanner.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: add Container for homepage
  .dumi/pages/index/components/Container.tsx
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/index.tsx
  .dumi/theme/SiteThemeProvider.tsx
Due: biome check --write --files-ignore-unknown=true

feat: design guide
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Introduction
  .dumi/pages/index/common/Container.tsx
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/CompIntroduction.tsx
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneBanner.tsx
  .dumi/pages/index/constants/color.ts
  .dumi/pages/index/index.tsx
  .dumi/theme/SiteThemeProvider.tsx
Due: biome check --write --files-ignore-unknown=true

chore: delete unuse file
  .dumi/pages/index/components/BannerRecommends.tsx
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/GroupMaskLayer.tsx
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  .dumi/pages/index/components/PreviewBanner/Tilt.tsx
  .dumi/pages/index/components/PreviewBanner/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: delete unuse file
  .dumi/pages/index/components/util.ts
  .dumi/theme/builtins/ResourceArticles/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Components Introduction
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/CompIntroduction.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/index.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Scene Introduction
  .dumi/pages/index/common/CustomizationProvider.tsx
  .dumi/pages/index/common/CustomizationSender.tsx
  .dumi/pages/index/common/Introduction.tsx
  .dumi/pages/index/components/CompIntroduction.tsx
  .dumi/pages/index/components/CompIntroduction/Customization.tsx
  .dumi/pages/index/components/CompIntroduction/index.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  .dumi/pages/index/components/SceneIntroduction/Independent.tsx
  .dumi/pages/index/components/SceneIntroduction/Nest.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/pages/index/constants/locales.ts
  .dumi/pages/index/index.tsx
  components/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  .dumi/pages/index/components/CompIntroduction/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update bun.lockb and update test
  bun.lockb
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
