Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix(sender): support formatResult for content slot type
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/__tests__/use-slot-config-state.test.ts
  packages/x/components/sender/demo/slot-format-result.md
  packages/x/components/sender/demo/slot-format-result.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

site: hide focus outline on component overview search
  packages/x/.dumi/theme/builtins/ComponentOverview/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: recommend Antdv Next X for Vue users (#1966)
  packages/x/docs/react/faq.en-US.md
  packages/x/docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

site: hide focus outline on component overview search (#1987)
  packages/x/.dumi/theme/builtins/ComponentOverview/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.9.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update 2.9.0 changelog with newly merged PRs
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix(sender): only delete slot on collapsed selection and strip zero-width characters from text nodes
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix(sender): clean zero-width nodes during slot deletion
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: apply formatResult to sender content slots
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: add sender content slot formatResult demo
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: stabilize actions tooltip tests
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(sender): render agent tag label inline
  packages/x/components/sender/demo/agent.tsx
Due: biome check --write --files-ignore-unknown=true

chore: add newly merged PRs to 2.9.0 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix(sender): preserve editable caret node
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

test(suggestion): add scroll demo snapshot
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: set 2.9.0 release date to 2026-07-23
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: merge unreleased 2.8.1 changelog into 2.9.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: bump version to 2.9.0
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/src/skill-meta.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update demo snapshots
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: preserve action tooltip overlay
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/tooltip.tsx
Due: biome check --write --files-ignore-unknown=true

test(suggestion): add snapshot for scroll demo
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: update actions demo snapshot
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat(x-markdown): add componentsProps to pass extra props to custom components
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: update actions basic demo snapshot
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(site): fix token color preview popover
  packages/x/.dumi/theme/builtins/ColorChunk/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): render placeholder for inline construct after list marker
  packages/x-markdown/src/XMarkdown/__tests__/streaming-list-inline.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): distinguish single-char-label links from task markers
  packages/x-markdown/src/XMarkdown/__tests__/streaming-list-inline.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix(suggestion): preserve space input in editable triggers
  packages/x/components/suggestion/__tests__/index.test.tsx
  packages/x/components/suggestion/__tests__/useActive.test.tsx
  packages/x/components/suggestion/useActive.ts
Due: biome check --write --files-ignore-unknown=true

feat(sender): support pasteFilter prop for custom paste text cleaning
  packages/x/components/sender/Sender.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/demo/paste-filter.md
  packages/x/components/sender/demo/paste-filter.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(code-highlighter): add showLineNumber / wrapLongLines / showCopyButton props
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/demo/flexible-config.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/code-highlighter/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(actions): support customizing the tooltip of each action item
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/action-item.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/custom-tooltip.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(x-sdk): add model-independent agent provider
  docs/roadmap/phase-1-breakdown.zh-CN.md
  packages/x-sdk/README-zh_CN.md
  packages/x-sdk/README.md
  packages/x-sdk/src/agent/index.ts
  packages/x-sdk/src/agent/protocol/__test__/factory.test.ts
  packages/x-sdk/src/agent/protocol/events.ts
  packages/x-sdk/src/agent/protocol/factory.ts
  packages/x-sdk/src/agent/protocol/index.ts
  packages/x-sdk/src/agent/reducer/__test__/reduceAgentState.test.ts
  packages/x-sdk/src/agent/reducer/index.ts
  packages/x-sdk/src/agent/reducer/reduceAgentState.ts
  packages/x-sdk/src/agent/reducer/replayAgentEvents.ts
  packages/x-sdk/src/agent/reducer/state.ts
  packages/x-sdk/src/agent/store/__test__/createAgentStore.test.ts
  packages/x-sdk/src/agent/store/createAgentStore.ts
  packages/x-sdk/src/agent/store/index.ts
  packages/x-sdk/src/chat-providers/AgentProvider.ts
  packages/x-sdk/src/chat-providers/__test__/runAgentProvider.test.ts
  packages/x-sdk/src/chat-providers/index.ts
  packages/x-sdk/src/chat-providers/runAgentProvider.ts
  packages/x-sdk/src/chat-providers/testing/validateAgentProviderEvents.ts
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/agentRuntime.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/tests/index.test.ts
  packages/x/docs/x-sdk/agent-provider.en-US.md
  packages/x/docs/x-sdk/agent-provider.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/agent-provider.md
  packages/x/docs/x-sdk/demos/x-chat/agent-provider.tsx
  packages/x/docs/x-sdk/introduce.en-US.md
  packages/x/docs/x-sdk/introduce.zh-CN.md
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: add phase two agent interaction RFCs
  docs/rfcs/agent-timeline.zh-CN.md
  docs/rfcs/approval.zh-CN.md
  docs/rfcs/tool-call.zh-CN.md
  docs/rfcs/x-sdk-agent-interaction.zh-CN.md
  docs/roadmap/phase-2-breakdown.zh-CN.md
Due: prettier --ignore-unknown --write

test: refresh snapshots for current dependencies
  docs/roadmap/phase-1-breakdown.zh-CN.md
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: prettier --ignore-unknown --write

test(x-sdk): cover agent event payload validation
  packages/x-sdk/src/agent/protocol/__test__/factory.test.ts
Due: biome check --write --files-ignore-unknown=true

docs: enrich agent provider chat demo
  packages/x/docs/x-sdk/demos/x-chat/agent-provider.md
  packages/x/docs/x-sdk/demos/x-chat/agent-provider.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: mark agent provider as 2.9.0
  packages/x/docs/x-sdk/agent-provider.en-US.md
  packages/x/docs/x-sdk/agent-provider.zh-CN.md
Due: prettier --ignore-unknown --write

feat(x-sdk): add agent interaction commands
  packages/x-sdk/src/agent/command/commands.ts
  packages/x-sdk/src/agent/command/factory.ts
  packages/x-sdk/src/agent/command/index.ts
  packages/x-sdk/src/agent/command/types.ts
  packages/x-sdk/src/agent/index.ts
  packages/x-sdk/src/agent/protocol/events.ts
  packages/x-sdk/src/agent/reducer/reduceAgentState.ts
  packages/x-sdk/src/agent/reducer/state.ts
  packages/x-sdk/src/agent/selectors/entities.ts
  packages/x-sdk/src/agent/selectors/index.ts
  packages/x-sdk/src/agent/selectors/selectAgentTimeline.ts
  packages/x-sdk/src/chat-providers/AgentProvider.ts
  packages/x-sdk/src/chat-providers/index.ts
  packages/x-sdk/src/chat-providers/runAgentCommand.ts
  packages/x-sdk/src/chat-providers/runAgentProvider.ts
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/agentCommandStore.ts
  packages/x-sdk/src/x-chat/agentRuntime.ts
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true
