Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: add updating status and update docs
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Update packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: prettier --ignore-unknown --write

docs:更新openai 接入文档
  packages/x/docs/react/demo/openai-node.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

docs:更新openai 接入文档
  packages/x/docs/react/introduce.en-US.md
  packages/x/docs/react/introduce.zh-CN.md
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-openai.zh-CN.md
Due: prettier --ignore-unknown --write

docs:更新chat provider文档
  packages/x/docs/react/agent-use-tbox.en-US.md
  packages/x/docs/react/agent-use-tbox.zh-CN.md
  packages/x/docs/react/common-props.en-US.md
  packages/x/docs/react/common-props.zh-CN.md
  packages/x/docs/react/introduce.en-US.md
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-other.en-US.md
  packages/x/docs/react/model-use-other.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.md
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs:更新chat provider文档
  packages/x/docs/react/demo/openai-node.tsx
  packages/x/docs/react/demo/qwen.tsx
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-qwen.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs:更新chat provider文档
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-qwen.en-US.md
Due: prettier --ignore-unknown --write

chore: update docs
  packages/x-sdk/src/x-chat/providers/DefaultChatProvider.ts
  packages/x-sdk/src/x-chat/providers/OpenAIChatProvider.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/react/agent-use-tbox.en-US.md
  packages/x/docs/react/agent-use-tbox.zh-CN.md
  packages/x/docs/react/demo/openai-node.tsx
  packages/x/docs/react/demo/qwen.tsx
  packages/x/docs/react/demo/tbox.tsx
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-openai.zh-CN.md
  packages/x/docs/react/model-use-qwen.en-US.md
  packages/x/docs/react/model-use-qwen.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update docs
  packages/x/docs/react/demo/tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update docs
  packages/x/docs/react/introduce.en-US.md
  packages/x/docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

docs:更新chat provider文档
  packages/x-sdk/src/x-chat/index.ts
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/index.ts
  packages/x/components/thought-chain/index.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs:更新chat provider文档
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

docs:更新chat provider文档
  packages/x/docs/x-sdk/use-x-chat.en-US.md
Due: prettier --ignore-unknown --write

chore: update docs
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update docs
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x-sdk/src/x-chat/index.ts
  packages/x/.dumi/theme/common/styles/Highlight.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x/components/bubble/demo/stream.tsx
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x/components/bubble/demo/list.tsx
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs:更新chat provider文档
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs:更新chat provider文档
  packages/x/docs/react/demo/qwen-sdk.tsx
  packages/x/docs/react/model-use-qwen.en-US.md
  packages/x/docs/react/model-use-qwen.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/basic.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(thought-chain): 修改title的结构
  components/thought-chain/Item.tsx
Due: biome check --write --files-ignore-unknown=true

test: less
  packages/x/.jest.js
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

fix(thought-chain): 修改title部分结构，满足传递ReactNode
  components/thought-chain/Item.tsx
  components/thought-chain/demo/collapsible.tsx
  components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: update snapShot
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

update docs case
  components/thought-chain/demo/collapsible.tsx
  components/thought-chain/demo/status.tsx
Due: biome check --write --files-ignore-unknown=true

update docs case
  components/thought-chain/demo/status.tsx
Due: biome check --write --files-ignore-unknown=true

update checkTextOverflow
  components/thought-chain/Item.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update snapShot
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: replace span with div and update snapShot
  components/thought-chain/Item.tsx
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/style/index.ts
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 1.6.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 1.6.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.0.0-alpha.7
  packages/x/CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update
  packages/x/components/index.ts
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/index.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true
