Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: init actions
  components/actions/ActionMenu.tsx
  components/actions/__tests__/actionMenu.test.tsx
  components/actions/__tests__/actions.test.tsx
  components/actions/demo/basic.md
  components/actions/demo/basic.tsx
  components/actions/demo/sub.md
  components/actions/demo/sub.tsx
  components/actions/demo/variant.md
  components/actions/demo/variant.tsx
  components/actions/index.en-US.md
  components/actions/index.tsx
  components/actions/index.zh-CN.md
  components/actions/interface.ts
  components/actions/style/index.ts
  components/index.ts
  components/theme/components.ts
  components/x-provider/context.ts
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix some potential issue
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: function setState
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: del useless code
  components/actions/ActionMenu.tsx
  components/actions/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix some potential issue
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix Conversations ellipsis tooltip issues by removing it
  components/conversations/Item.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
Due: none

style: use native text overflow style
  components/conversations/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: watch config
  components/use-x-agent/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.2.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.2.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog of 1.2.0
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Delete bun.lockb
  bun.lockb
Due: none

docs: fix the wrong docs of ThoughtChain
  CHANGELOG.zh-CN.md
  components/thought-chain/__tests__/index.test.tsx
  components/thought-chain/demo/collapsible.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: optimize Bubble.List scoll position
  components/bubble/demo/list.tsx
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: optimize Bubble.List scoll position
  components/bubble/demo/list.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs: optimize Bubble.List scoll position
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

test: demo snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: Prompts srollX
  components/prompts/demo/nest.tsx
  components/prompts/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: Prompts srollX
  components/prompts/demo/nest.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix thought-chain and changelog
  CHANGELOG.en-US.md
  components/thought-chain/demo/collapsible.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: Prompts srollX
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Bubble's footer cant get content
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/demo/custom-content.md
  components/bubble/demo/custom-content.tsx
  components/bubble/demo/list-custom.tsx
  components/bubble/demo/markdown.md
  components/bubble/demo/markdown.tsx
  components/bubble/demo/semantic-list-custom.md
  components/bubble/demo/semantic-list-custom.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: Bubble's footer cant get content
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: sync main to feature branch
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: test bubble
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs(bubble): update content type
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(bubble): update messageRender type
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: demo在消息请求过程中不可创建会话
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: demo在消息请求过程中不可创建会话
  docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

fix(test): update suggestion snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: update snap by bun
  tests/__snapshots__/index.test.ts.snap
  tests/shared/__snapshots__/demoTest.tsx.snap
Due: none

chore: update bun to jest
  tests/__snapshots__/index.test.ts.snap
  tests/shared/__snapshots__/demoTest.tsx.snap
Due: none

chore: update snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: change test script
  package.json
Due: biome check --write --files-ignore-unknown=true
