Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: test
  packages/x/components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: skill
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/use-x-chat/reference/API.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills-zh/x-request/reference/API.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x-skill/skills/x-request/reference/CORE.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: skill
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x-skill/skills/x-request/reference/CORE.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/skills-zh/use-x-chat/reference/API.md
  packages/skills-zh/x-request/reference/API.md
  packages/skills/use-x-chat/reference/API.md
  packages/skills/x-request/reference/API.md
  packages/x-skill/package.json
  packages/x-skill/scripts/config.ts
  packages/x-skill/scripts/dekko.ts
  packages/x-skill/scripts/generate-version.ts
  packages/x-skill/scripts/skillApi.ts
  packages/x-skill/scripts/skillApi/config.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: skill
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x/package.json
  scripts/synchronize-version.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(Conversation): Change `useMergedState` to `useControlledState` while passing through the current data of `onActiveChange` (#1762)
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/index.test.tsx
  packages/x/components/conversations/demo/controlled-mode.tsx
  packages/x/components/conversations/demo/with-menu.tsx
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.tsx
  packages/x/components/conversations/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-markdown): resolve ModuleNotFoundError for domhandler in CodeSandbox preview
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --files-ignore-unknown=true

feat(x-markdown): escapeRawHtml; docs: merge escape-raw-html & open-links-in-new-tab demo
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/demo/codeDemo/escape-raw-html.tsx
  packages/x/docs/x-markdown/demo/codeDemo/open-links-in-new-tab.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-markdown): resolve ModuleNotFoundError for domhandler in CodeSandbox preview (#1768)
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --files-ignore-unknown=true

feat: apistartindex
  packages/x-skill/scripts/skillApi.ts
Due: biome check --write --files-ignore-unknown=true

fix: skill
  packages/skills-zh/use-x-chat/reference/API.md
  packages/skills-zh/x-request/reference/API.md
  packages/skills/use-x-chat/reference/API.md
  packages/skills/x-request/reference/API.md
Due: prettier --ignore-unknown --write

fix: skill
  packages/x-skill/scripts/skillApi.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x/docs/x-markdown/examples.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat(x-skill): Automatically update API documentation (#1767)
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/scripts/config.ts
  packages/x-skill/scripts/dekko.ts
  packages/x-skill/scripts/generate-version.ts
  packages/x-skill/scripts/skillApi.ts
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/use-x-chat/reference/API.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills-zh/x-request/reference/API.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x-skill/skills/x-request/reference/CORE.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  packages/x/package.json
  scripts/synchronize-version.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  packages/x-sdk/src/x-chat/index.ts
  packages/x-skill/scripts/skillApi.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-skill/scripts/skillApi.ts
Due: biome check --write --files-ignore-unknown=true

feat: s-skill
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix test of docs (#1773)
  packages/x-sdk/src/x-chat/index.ts
  packages/x-skill/scripts/skillApi.ts
  packages/x/docs/x-sdk/demos/x-conversations/session-key.tsx
Due: biome check --write --files-ignore-unknown=true

fest: xchat
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: Improve the test coverage of useXChat (#1775)
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.3.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.3.0
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.3.0 (#1777)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.3.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix the changelog doc (#1778)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat(docs): add x-markdown playground page
  packages/x/docs/x-markdown/playground.en-US.md
  packages/x/docs/x-markdown/playground.tsx
  packages/x/docs/x-markdown/playground.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs(x-markdown): Playground 中文改为在线体验，order 调整为 2.1
  packages/x/docs/x-markdown/playground.en-US.md
  packages/x/docs/x-markdown/playground.zh-CN.md
Due: prettier --ignore-unknown --write

Remove contribution and help sections from README
  README.md
Due: prettier --ignore-unknown --write

feat: x-card
  packages/x-card/.fatherrc.ts
  packages/x-card/.jest.js
  packages/x-card/.lintstagedrc.json
  packages/x-card/README.md
  packages/x-card/package.json
  packages/x-card/scripts/generate-version.ts
  packages/x-card/src/A2UI/index.ts
  packages/x-card/src/__tests__/CardLoader.test.tsx
  packages/x-card/src/index.ts
  packages/x-card/src/version.ts
  packages/x-card/tests/dekko/index.test.ts
  packages/x-card/tests/setup.ts
  packages/x-card/tsconfig.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/index.ts
  packages/x-card/src/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: message
  packages/x-card/package.json
  packages/x-card/src/version.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/src/index.ts
  packages/x/.dumi/theme/builtins/Sandpack/index.tsx
  packages/x/.dumi/theme/slots/Header/Navigation.tsx
  packages/x/docs/x-card/demo/A2UI/basic.tsx
  packages/x/docs/x-card/introduce.en-US.md
  packages/x/docs/x-card/introduce.zh-CN.md
  packages/x/docs/x-card/quick-start.en-US.md
  packages/x/docs/x-card/quick-start.zh-CN.md
  packages/x/tsconfig.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x/docs/x-card/quick-start.zh-CN.md
Due: prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/types/command.ts
Due: biome check --write --files-ignore-unknown=true
