Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: bubble.lost
  packages/x/components/bubble/__tests__/list.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: bubble.lost
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/interface.ts
  packages/x/components/bubble/style/list.ts
Due: biome check --write --files-ignore-unknown=true

feat: bubble.lost
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: css
  packages/x-markdown/src/XMarkdown/index.less
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: set latex default throwOnError is false and aviod redos
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: set default inline displayMode true and overrride css
  packages/x-markdown/src/XMarkdown/index.less
  packages/x-markdown/src/plugins/Latex/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

docs:更新change log
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: attachments
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/attachments/demo/select-files.md
  packages/x/components/attachments/demo/select-files.tsx
  packages/x/components/attachments/index.en-US.md
  packages/x/components/attachments/index.tsx
  packages/x/components/attachments/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: attachments
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/attachments/__tests__/index.test.tsx
  packages/x/components/attachments/style/index.ts
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

chore: lint
  packages/x/components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat(docs): unify the document type descriptions of calssNames and styles
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/attachments/index.en-US.md
  packages/x/components/attachments/index.zh-CN.md
  packages/x/components/conversations/index.en-US.md
  packages/x/components/conversations/index.zh-CN.md
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
  packages/x/components/welcome/index.en-US.md
  packages/x/components/welcome/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: attachments
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: site update
  packages/x/.dumi/pages/index/common/CustomizationSender.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Prompt.tsx
  packages/x/components/bubble/style/list.ts
  packages/x/docs/x-sdk/demos/x-chat/custom-request.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/demos/x-chat/openai-node.tsx
Due: biome check --write --files-ignore-unknown=true

docs: site update
  packages/x/components/bubble/BubbleList.tsx
Due: biome check --write --files-ignore-unknown=true

chore: lint
  packages/x/components/bubble/__tests__/list.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: lint
  packages/x/components/bubble/BubbleList.tsx
Due: biome check --write --files-ignore-unknown=true

chore: test
  packages/x/components/attachments/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: test
  packages/x-sdk/src/x-chat/providers/OpenAIChatProvider.ts
  packages/x/docs/react/demo/tbox.tsx
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: support math
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

docs: Chinese Link Processing
  packages/x-markdown/src/plugins/Latex/index.ts
  packages/x/docs/x-markdown/demo/codeDemo/link.md
  packages/x/docs/x-markdown/demo/codeDemo/link.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: Chinese Link Processing
  packages/x/docs/x-markdown/demo/codeDemo/link.tsx
  packages/x/docs/x-markdown/examples.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: code token support block and streamStatus
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix key repeat
  packages/x-markdown/src/XMarkdown/AnimationText.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix lint
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x/docs/x-markdown/components.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: api desc
  packages/x/docs/x-markdown/components.en-US.md
Due: prettier --ignore-unknown --write

docs: Chinese Link Processing
  packages/x/components/sender/index.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Chinese Link Processing
  packages/x/components/sender/index.en-US.md
Due: prettier --ignore-unknown --write

docs: Chinese Link Processing
  packages/x/docs/x-sdk/chat-provider.en-US.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.0.0-alpha.12
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.0.0-alpha.12
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix user code paragraph link renderer not work
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x/docs/x-markdown/demo/streaming/combined.tsx
Due: biome check --write --files-ignore-unknown=true

feat: blink
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/demo/simple.tsx
  packages/x/components/thought-chain/style/item.ts
  packages/x/components/thought-chain/style/motion.ts
Due: biome check --write --files-ignore-unknown=true

feat: blink
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
  packages/x/components/thought-chain/style/item.ts
  packages/x/components/thought-chain/style/motion.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: blink
  packages/x/components/thought-chain/__tests__/item.test.tsx
  packages/x/components/thought-chain/style/motion.ts
Due: biome check --write --files-ignore-unknown=true

feat: blink
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

feat: blink
  packages/x/components/style/blink.ts
  packages/x/components/style/motion.ts
  packages/x/components/style/think.ts
  packages/x/components/think/Think.tsx
  packages/x/components/think/demo/status.tsx
  packages/x/components/think/index.en-US.md
  packages/x/components/think/index.zh-CN.md
  packages/x/components/think/style/index.ts
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/motion.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: blink
  packages/x/components/style/blink.ts
  packages/x/components/thought-chain/Item.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
