Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix
  packages/x/.dumi/theme/builtins/InstallDependencies/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/components/Skill.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.1.0
  packages/x/docs/react/migration-v2.en-US.md
  packages/x/docs/react/migration-v2.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Suggestion): The custom demo for the suggestion section fixes the issue where tags weren't generated after losing focus following input.
  packages/x/components/suggestion/demo/trigger.tsx
Due: biome check --write --files-ignore-unknown=true

docs(prompts): modify semanticType
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(prompts): delete semanticType
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Suggestion): Demo bug fixes
  packages/x/components/suggestion/demo/trigger.tsx
Due: biome check --write --files-ignore-unknown=true

fix: submit disabled
  packages/x/components/sender/SenderHeader.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/components/ActionButton.tsx
  packages/x/components/sender/context.ts
  packages/x/components/sender/demo/disable-ctrl-slot.md
  packages/x/components/sender/demo/disable-ctrl-slot.tsx
  packages/x/components/sender/demo/disable-ctrl.md
  packages/x/components/sender/demo/disable-ctrl.tsx
  packages/x/components/sender/demo/send-style.md
  packages/x/components/sender/demo/suffix.md
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/style/header.ts
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: submit disabled
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/context.ts
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/components/ActionButton.tsx
  packages/x/components/sender/context.ts
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: css
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/header.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/sender/index.tsx
  packages/x/components/sender/style/header.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

fix: dependece mermaid to fix umi mfsu checking
  package.json
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/components/mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x/components/mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: add test case
  packages/x/components/mermaid/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: onchange
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: onchange
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sender onchange
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/components/Skill.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sender onchange
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/components/Skill.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-with-suggestion.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/demo/slot-with-suggestion.tsx
  packages/x/components/suggestion/demo/basic.tsx
  packages/x/components/suggestion/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sender onchange
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

fix: correct scripts tsconfig typeRoots
  packages/x/scripts/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

chore: remove redundant typeRoots
  packages/x/scripts/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

fix: sender
  package.json
  packages/x-markdown/package.json
  packages/x/.dumi/theme/builtins/Sandpack/index.tsx
  packages/x/components/actions/__tests__/copy.test.tsx
  packages/x/components/actions/__tests__/feedback.test.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

test: sender
  packages/x/components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: snap
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snap
  packages/x/components/sender/__tests__/skill.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: actions
  packages/x/components/attachments/PlaceholderUploader.tsx
  packages/x/components/attachments/demo/placeholder.tsx
Due: biome check --write --files-ignore-unknown=true

test: actions
  packages/x/components/actions/__tests__/copy.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: upload
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/attachments/SilentUploader.tsx
Due: biome check --write --files-ignore-unknown=true

fix: upload
  packages/x/components/attachments/PlaceholderUploader.tsx
  packages/x/components/attachments/demo/placeholder.tsx
Due: biome check --write --files-ignore-unknown=true

fix: upload
  packages/x/components/attachments/SilentUploader.tsx
Due: biome check --write --files-ignore-unknown=true

chore: remove allowJs from scripts tsconfig
  packages/x/scripts/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
