Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: 修复useActive 中 items 为空数组导致的异常
  components/suggestion/useActive.ts
Due: biome check --write --files-ignore-unknown=true

chore: use utoo
  .github/workflows/main.yml
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: fix warning of deprecated API
  components/suggestion/index.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: bun install
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

chore: install ut
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

chore: fix ts
  components/suggestion/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix logic
  components/suggestion/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: ignore legacy
  components/suggestion/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: turn on umi transformRuntime
  .dumirc.ts
Due: biome check --write --files-ignore-unknown=true

Update docs/react/contributing.en-US.md
  docs/react/contributing.en-US.md
Due: prettier --ignore-unknown --write

fix(bubble): fix content parma for footer func
  components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

chore: utoo install
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

chore: upgrade father version via @sorrycc
  .fatherrc.ts
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: ut verbose
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

chore: test lock effect
  .gitignore
  package-lock.json
Due: biome check --write --files-ignore-unknown=true

chore: ignore scripts
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

chore: lock
  package-lock.json
Due: biome check --write --files-ignore-unknown=true

chore: verbose
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

feat: bubble's footer and header
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/demo/custom-content.md
  components/bubble/demo/custom-content.tsx
  components/bubble/demo/list-custom.tsx
  components/bubble/demo/semantic-list-custom.md
  components/bubble/demo/semantic-list-custom.tsx
  components/bubble/hooks/useTypedEffect.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: bubble's footer and header
  components/bubble/index.en-US.md
Due: prettier --ignore-unknown --write

test: bubble's footer and header
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat(use-x-chat): add updating status
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

test(use-x-chat): fix test error about on-update callback
  components/use-x-chat/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs(use-x-chat): add loading for stream demo
  components/use-x-chat/demo/stream.tsx
Due: biome check --write --files-ignore-unknown=true

docs: supplement documents to address user inquiries
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(use-x-chat): always set loadingMsg when init
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

fix(use-x-chat): set placeholderMsg default value to empty string
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

test(use-x-chat): fix check filed for case about loading placeholder msg
  components/use-x-chat/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: sender
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: ts of key
  components/bubble/index.en-US.md
Due: prettier --ignore-unknown --write

fix: ts of key
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Resolve the security issues of apikey
  components/use-x-agent/demo/model.tsx
  components/use-x-chat/demo/model.tsx
  components/x-request/demo/model.tsx
  components/x-request/index.ts
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Resolve the security issues of apikey
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: update snap
  components/bubble/demo/debug.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snap
  components/use-x-agent/demo/model.tsx
  components/use-x-chat/demo/model.tsx
  components/x-request/demo/model.tsx
Due: biome check --write --files-ignore-unknown=true

fix:api key and stream
  components/use-x-agent/demo/model.tsx
  components/use-x-chat/demo/model.tsx
  components/x-request/demo/model.tsx
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix:api key and stream
  components/use-x-chat/demo/model.tsx
  docs/playground/copilot.tsx
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true
