Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/package.json
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-skill/bin/index.js
Due: biome check --write --files-ignore-unknown=true

feat: Disabled sender submit button style
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-skill
  packages/x-skill/LICENSE
  packages/x-skill/README-zh_CN.md
  packages/x-skill/README.md
  packages/x/.dumi/theme/slots/Header/Navigation.tsx
  packages/x/.dumirc.ts
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/package.json
  packages/x-skill/scripts/generate-version.ts
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
  scripts/synchronize-version.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-skill
  scripts/synchronize-version.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-skill add comprehensive tests and improve CLI
  packages/x-skill/__tests__/cli.test.js
  packages/x-skill/__tests__/error-handling.test.js
  packages/x-skill/__tests__/install.test.js
  packages/x-skill/__tests__/interactive.test.js
  packages/x-skill/__tests__/simple-cli.test.js
  packages/x-skill/__tests__/ui.test.js
  packages/x-skill/__tests__/utils.test.js
  packages/x-skill/__tests__/version.test.js
  packages/x-skill/bin/index.js
  packages/x-skill/scripts/dekko.ts
  packages/x-skill/scripts/generate-version.ts
  packages/x-skill/skills/use-x-chat/en/SKILL.md
  packages/x-skill/skills/use-x-chat/en/reference/API.md
  packages/x-skill/skills/use-x-chat/en/reference/CORE.md
  packages/x-skill/skills/use-x-chat/en/reference/EXAMPLES.md
  packages/x-skill/skills/use-x-chat/zh/SKILL.md
  packages/x-skill/skills/use-x-chat/zh/reference/API.md
  packages/x-skill/skills/use-x-chat/zh/reference/CORE.md
  packages/x-skill/skills/use-x-chat/zh/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/en/SKILL.md
  packages/x-skill/skills/x-chat-provider/en/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/zh/SKILL.md
  packages/x-skill/skills/x-chat-provider/zh/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/en/SKILL.md
  packages/x-skill/skills/x-request/en/reference/API.md
  packages/x-skill/skills/x-request/en/reference/CORE.md
  packages/x-skill/skills/x-request/en/reference/EXAMPLES_SERVICE_PROVIDER.md
  packages/x-skill/skills/x-request/zh/SKILL.md
  packages/x-skill/skills/x-request/zh/reference/API.md
  packages/x-skill/skills/x-request/zh/reference/CORE.md
  packages/x-skill/skills/x-request/zh/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill
  packages/x-skill/__tests__/error-handling.test.js
  packages/x-skill/__tests__/index.test.js
  packages/x-skill/__tests__/install.test.js
  packages/x-skill/bin/index.js
  packages/x-skill/scripts/dekko.ts
  packages/x-skill/scripts/generate-version.ts
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/use-x-chat/reference/API.md
  packages/x-skill/skills-zh/use-x-chat/reference/CORE.md
  packages/x-skill/skills-zh/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills-zh/x-request/reference/API.md
  packages/x-skill/skills-zh/x-request/reference/CORE.md
  packages/x-skill/skills-zh/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x-skill/skills/x-request/reference/API.md
  packages/x-skill/skills/x-request/reference/CORE.md
  packages/x-skill/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: snap
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: test
  packages/x-skill/package.json
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x/components/attachments/PlaceholderUploader.tsx
  packages/x/components/attachments/SilentUploader.tsx
  packages/x/components/attachments/index.tsx
  packages/x/components/sender/components/ActionButton.tsx
  packages/x/components/sender/components/LoadingButton/index.tsx
  packages/x/components/sender/components/SpeechButton/index.tsx
  packages/x/components/welcome/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: fix test (#1754)
  package.json
  packages/x/components/attachments/PlaceholderUploader.tsx
  packages/x/components/attachments/SilentUploader.tsx
  packages/x/components/attachments/index.tsx
  packages/x/components/sender/components/ActionButton.tsx
  packages/x/components/sender/components/LoadingButton/index.tsx
  packages/x/components/sender/components/SpeechButton/index.tsx
  packages/x/components/welcome/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test
  package.json
  packages/x-markdown/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

Fix: Disabled sender submit button style (#1751)
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-skill/bin/index.js
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-skill/__tests__/index.test.js
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

fix: test
  .claude/skills/use-x-chat/SKILL.md
  .claude/skills/use-x-chat/reference/API.md
  .claude/skills/use-x-chat/reference/CORE.md
  .claude/skills/use-x-chat/reference/EXAMPLES.md
  .claude/skills/x-chat-provider/SKILL.md
  .claude/skills/x-chat-provider/reference/EXAMPLES.md
  .claude/skills/x-request/SKILL.md
  .claude/skills/x-request/reference/API.md
  .claude/skills/x-request/reference/CORE.md
  .claude/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  .codefuse/skills/use-x-chat/SKILL.md
  .codefuse/skills/use-x-chat/reference/API.md
  .codefuse/skills/use-x-chat/reference/CORE.md
  .codefuse/skills/use-x-chat/reference/EXAMPLES.md
  .codefuse/skills/x-chat-provider/SKILL.md
  .codefuse/skills/x-chat-provider/reference/EXAMPLES.md
  .codefuse/skills/x-request/SKILL.md
  .codefuse/skills/x-request/reference/API.md
  .codefuse/skills/x-request/reference/CORE.md
  .codefuse/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  .cursor/skills/use-x-chat/SKILL.md
  .cursor/skills/use-x-chat/reference/API.md
  .cursor/skills/use-x-chat/reference/CORE.md
  .cursor/skills/use-x-chat/reference/EXAMPLES.md
  .cursor/skills/x-chat-provider/SKILL.md
  .cursor/skills/x-chat-provider/reference/EXAMPLES.md
  .cursor/skills/x-request/SKILL.md
  .cursor/skills/x-request/reference/API.md
  .cursor/skills/x-request/reference/CORE.md
  .cursor/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  packages/x-skill/bin/index.js
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: test
  packages/x-markdown/src/plugins/Latex/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-skill/__tests__/ui.test.js
Due: biome check --write --files-ignore-unknown=true

fix: test
  .claude/skills/use-x-chat/SKILL.md
  .claude/skills/use-x-chat/reference/API.md
  .claude/skills/use-x-chat/reference/CORE.md
  .claude/skills/use-x-chat/reference/EXAMPLES.md
  .claude/skills/x-chat-provider/SKILL.md
  .claude/skills/x-chat-provider/reference/EXAMPLES.md
  .claude/skills/x-request/SKILL.md
  .claude/skills/x-request/reference/API.md
  .claude/skills/x-request/reference/CORE.md
  .claude/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  .codefuse/skills/use-x-chat/SKILL.md
  .codefuse/skills/use-x-chat/reference/API.md
  .codefuse/skills/use-x-chat/reference/CORE.md
  .codefuse/skills/use-x-chat/reference/EXAMPLES.md
  .codefuse/skills/x-chat-provider/SKILL.md
  .codefuse/skills/x-chat-provider/reference/EXAMPLES.md
  .codefuse/skills/x-request/SKILL.md
  .codefuse/skills/x-request/reference/API.md
  .codefuse/skills/x-request/reference/CORE.md
  .codefuse/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
  .cursor/skills/use-x-chat/SKILL.md
  .cursor/skills/use-x-chat/reference/API.md
  .cursor/skills/use-x-chat/reference/CORE.md
  .cursor/skills/use-x-chat/reference/EXAMPLES.md
  .cursor/skills/x-chat-provider/SKILL.md
  .cursor/skills/x-chat-provider/reference/EXAMPLES.md
  .cursor/skills/x-request/SKILL.md
  .cursor/skills/x-request/reference/API.md
  .cursor/skills/x-request/reference/CORE.md
  .cursor/skills/x-request/reference/EXAMPLES_SERVICE_PROVIDER.md
Due: prettier --ignore-unknown --write

fix: test
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: add x-skill to check-repo and fix prepublish script
  packages/x-skill/package.json
  scripts/check-repo.ts
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

fix: test
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: dynamic version reading to avoid cache lag
  scripts/check-repo.ts
Due: biome check --write --files-ignore-unknown=true

fix: dynamic version reading for all packages to avoid cache lag
  packages/x-markdown/scripts/generate-version.ts
  packages/x-sdk/scripts/generate-version.ts
  packages/x/scripts/generate-version.ts
Due: biome check --write --files-ignore-unknown=true

fix: ensure version sync and skill.md update in single run
  scripts/synchronize-version.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
