Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix URI malformed when incomplete token contain emoji
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

docs: 版本选择
  packages/x/.dumi/theme/slots/Header/Navigation.tsx
Due: biome check --write --files-ignore-unknown=true

fix: strip incomplete HTML
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/demo/_test.md
  packages/x/components/bubble/demo/_test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/style/list.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: agent
  packages/x/.dumi/theme/themeConfig.ts
Due: biome check --write --files-ignore-unknown=true

feat: .antgroup.com
  packages/x/.dumi/theme/themeConfig.ts
Due: biome check --write --files-ignore-unknown=true

feat: move code highlighter to x components
  package.json
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/demo/basic.tsx
  packages/x/components/code-highlighter/demo/custom-header.tsx
  packages/x/components/code-highlighter/demo/multiple-languages.tsx
  packages/x/components/code-highlighter/demo/no-header.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.tsx
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/code-highlighter/interface.ts
  packages/x/components/code-highlighter/style/index.ts
  packages/x/components/index.ts
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/zh_CN.ts
  packages/x/components/theme/interface/components.ts
  packages/x/components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: Bubble.List
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: actions update classnames to clsx
  packages/x/components/actions/ActionsAudio.tsx
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/index.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: actions update classnames to clsx
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: attachmens update classnames to clsx
  packages/x/components/actions/interface.ts
  packages/x/components/attachments/DropArea.tsx
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/attachments/PlaceholderUploader.tsx
  packages/x/components/attachments/__tests__/index.test.tsx
  packages/x/components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: update
  packages/x/components/sender/style/index.ts
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

feat: update
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: style of sender
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/tests/setup.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/demo/_test.tsx
Due: biome check --write --files-ignore-unknown=true

fixed: 修复测试用例
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/tests/setup.ts
Due: biome check --write --files-ignore-unknown=true

fixed: 修复测试用例
  packages/x/tests/setup.ts
Due: biome check --write --files-ignore-unknown=true

fixed: 修复测试用例
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: url
  packages/x/.dumi/theme/themeConfig.ts
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/actions/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: conversations
  packages/x/components/conversations/__tests__/index.test.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/attachments/__tests__/index.test.tsx
  packages/x/components/attachments/util.ts
  packages/x/components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: attachments show extension
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: attachments show extension
  packages/x/components/conversations/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/attachments/index.en-US.md
  packages/x/components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: semantic
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/demo/_semantic-switch.tsx
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: semantic
  packages/x/components/actions/ActionsAudio.tsx
  packages/x/components/actions/ActionsCopy.tsx
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/demo/_semantic-audio.tsx
  packages/x/components/actions/demo/_semantic-copy.tsx
  packages/x/components/actions/demo/_semantic-feedback.tsx
  packages/x/components/actions/demo/_semantic-item.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: semantic
  packages/x/components/sender/index.en-US.md
Due: prettier --ignore-unknown --write

feat: semantic
  packages/x/components/sender/demo/_semantic-switch.tsx
Due: biome check --write --files-ignore-unknown=true

feat: semantic
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: fix sender speech
  packages/x/components/sender/useSpeech.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix sender speech
  packages/x/components/sender/demo/suffix.tsx
Due: biome check --write --files-ignore-unknown=true

feat: class
  packages/x/components/sender/demo/agent.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
