Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: 删除title
  packages/x/.dumi/theme/common/CommonHelmet.tsx
Due: biome check --write --files-ignore-unknown=true

feat: scroll
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: scroll
  packages/x/.dumi/theme/layouts/IndexLayout/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: ahooks
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: ahooks
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

feat: ahooks
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/react/demo/tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: 更新open ai模型
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update
  packages/x/components/actions/Item.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/bubble/Bubble.tsx
Due: biome check --write --files-ignore-unknown=true

feat: appid
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: bubble extra data
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/store.ts
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/context.ts
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: bubble extra data
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: bubble extra data
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: setup utoo
  .github/workflows/main.yml
  .github/workflows/preview-build.yml
  .github/workflows/site-deploy.yml
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: remove @ant-design/x-markdown dev deps
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: default value
  .github/workflows/main.yml
  .github/workflows/preview-build.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

fix: css
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

fix: antd deps
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: bubble
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/store.ts
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/demo/basic.tsx
  packages/x/components/bubble/demo/list-extra.md
  packages/x/components/bubble/demo/list-extra.tsx
  packages/x/components/bubble/demo/list-ref.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/sender/style/header.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/independent.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: bubble
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: x-sdk
  packages/x-sdk/src/x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-sdk useXChat
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/playground/independent.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-sdk useXChat
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/docs/playground/independent.zh-CN.md
Due: prettier --ignore-unknown --write

fix: updated snap for test
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  tests/shared/__snapshots__/demoTest.tsx.snap
Due: none

fix: updated snap after merging from main
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: playground
  packages/x/.dumi/theme/builtins/IconSearch/index.tsx
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
  packages/x/.dumi/theme/builtins/Previewer/DemoFallback.tsx
  packages/x/.dumi/theme/common/CodePreview.tsx
  packages/x/components/conversations/__tests__/index.test.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/switch.tsx
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/playground/copilot.en-US.md
  packages/x/docs/playground/copilot.zh-CN.md
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/independent.zh-CN.md
  packages/x/docs/playground/ultramodern-zh.en-US.md
  packages/x/docs/playground/ultramodern-zh.zh-CN.md
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-markdown/demo/_utils/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/compare.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: playground
  packages/x/.dumi/theme/common/CodePreview.tsx
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/.dumi/theme/common/CodePreview.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
