Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix(bubble): 更新roles属性的类型说明，添加index参数支持
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(debug.tsx): 添加Bubble.List的测试Demo
  components/bubble/demo/debug.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add demo test for BubbleList roles.
  components/bubble/demo/debug.tsx
  components/bubble/demo/list.tsx
Due: biome check --write --files-ignore-unknown=true

feat(Sender): add files param to the onPasteFile callback
  components/sender/demo/paste-image.md
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(sender): onPasteFile type
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: Update release-x.yml
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

chore: Add label for illustration; Run unit tests.
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/list.tsx
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

test(sender): add paste events
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add use with farm md
  docs/react/use-with-farm.en-US.md
  docs/react/use-with-farm.zh-CN.md
Due: prettier --ignore-unknown --write

test(sender): update Sender loading state snapshot
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix(Attachments): 修复 Attachments 图片预览初始化显示异常
  components/attachments/FileList/FileListCard.tsx
Due: biome check --write --files-ignore-unknown=true

fix: compile warring
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update snapshot
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: none

type(Sender): delete files assertion
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

Revert "chore: Add label for illustration; Run unit tests."
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/list.tsx
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

chore: fix snapshots.
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/list.tsx
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

fix: actions missing speech
  components/sender/demo/actions.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: correct join us url
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: attachments FileList does not recheck whether the scroll button should be displayed when `items` change.
  components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Optimize useEffect dependencies by using items.length instead of the entire items array
  components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: remove bun.lockb
  bun.lockb
Due: none

docs: Contributing fix
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

ci: update snap
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: where is wrong of happy-dom xmlnsXlink
  components/attachments/FileList/AudioIcon.tsx
  components/attachments/FileList/VideoIcon.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/sender/StopLoading.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/components/SpeechButton/RecordingIcon.tsx
  tests/utils.tsx
Due: biome check --write --files-ignore-unknown=true

📝 Change codesandbox link
  docs/react/contributing.zh-CN.md
Due: prettier --ignore-unknown --write

chore: Delete bun.lockb
  bun.lockb
Due: none

✅ Chore: updaye happy-dom -m 更新 happy-dom
  package.json
Due: biome check --write --files-ignore-unknown=true

test: update snap
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --files-ignore-unknown=true

delete:bun.lockb
  bun.lockb
Due: none

test: 更新snap
  bun.lock
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Update introduce.zh-CN.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

chore: delete bun.lock
  bun.lock
Due: none

chore: delete bun.lock
  .gitignore
Due: none

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

Update .gitignore
  .gitignore
Due: none
