Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: update test snapshot
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Bubble.List): style
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/list.ts
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

fix: delete es
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/hooks/useTyping.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

chore: 2.0.0-beta.0
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: 2.0.0-beta.1
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): enhance custom in-tag line break protection and handle unclosed tags
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

test(x-markdown): add test cases to justify protecting all newlines in custom tags
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
Due: biome check --write --files-ignore-unknown=true

fix(Bubble.List): list height
  packages/x/components/bubble/style/list.ts
Due: biome check --write --files-ignore-unknown=true

fix(testcase): fix ci
  packages/x/components/code-highlighter/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-chat callback
  packages/x-sdk/src/chat-providers/AbstractChatProvider.ts
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
  packages/x-sdk/src/chat-providers/DefaultChatProvider.ts
  packages/x-sdk/src/chat-providers/OpenAIChatProvider.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-request/index.ts
  packages/x/docs/x-sdk/demos/x-chat/openai-callback.md
  packages/x/docs/x-sdk/demos/x-chat/openai-callback.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: callback
  packages/x/docs/x-sdk/x-request.zh-CN.md
Due: prettier --ignore-unknown --write

fix: canvas
  packages/x-sdk/src/x-request/__test__/index.test.ts
  packages/x-sdk/src/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

test(code-highlighter): add test case
  packages/x/components/code-highlighter/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: canvas
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: canvas
  packages/x-sdk/src/chat-providers/AbstractChatProvider.ts
  packages/x/docs/x-sdk/demos/x-chat/openai-callback.tsx
Due: biome check --write --files-ignore-unknown=true

feat: file
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

docs: x-request
  packages/x/docs/x-sdk/demos/x-request/custom-transformer.tsx
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.2.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.2.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: try run
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: try run
  packages/x-markdown/src/XMarkdown/__benchmark__/scripts/check-performance.js
  packages/x-markdown/src/XMarkdown/__tests__/DebugPanel.test.tsx
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: try run
  packages/x/components/mermaid/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: change log
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

test: snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: insert
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

test: snap
  packages/x/components/sender/demo/slot-with-suggestion.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

fix: snap
  packages/x/components/sender/demo/slot-with-suggestion.tsx
Due: biome check --write --files-ignore-unknown=true

docs: x chat
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Bubble.List): list.styles.root should not passport to bubble item
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(Bubble.List): override style
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(sender): avoid submit after composition end
  packages/x/components/sender/components/TextArea.tsx
Due: biome check --write --files-ignore-unknown=true

test(sender): cover composition debounce
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/components/TextArea.tsx
Due: biome check --write --files-ignore-unknown=true

docs: x-provider
  packages/x-sdk/src/x-request/index.ts
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
Due: biome check --write --files-ignore-unknown=true
