Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: playground
  packages/x/.dumi/theme/slots/Header/Navigation.tsx
  packages/x/docs/playground/ultramodern.en-US.md
  packages/x/docs/playground/ultramodern.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: playground
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/_utils/local.ts
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-markdown/demo/_utils/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/components.tsx
  packages/x/docs/x-markdown/demo/codeDemo/open-links-in-new-tab.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/codeDemo/xss.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: update tbox-nodejs-sdk version
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: playground
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: playground
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: 更换图标
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

docs: 更换图标
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Update README
  README.md
Due: prettier --ignore-unknown --write

Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: add packages badges
  README.md
Due: prettier --ignore-unknown --write

Fix formatting in README.md
  README.md
Due: prettier --ignore-unknown --write

Update npm version badge to alpha version
  README.md
Due: prettier --ignore-unknown --write

Update README to include GitHub contributors badge
  README.md
Due: prettier --ignore-unknown --write

docs: 删除多余句号
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: alpha9 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update version
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: 更新主题demo
  packages/x/components/x-provider/demo/theme.tsx
Due: biome check --write --files-ignore-unknown=true

fix(docs): fixed the incorrect Semantic DOM component names in the think component
  packages/x/components/think/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

fix: think
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

fix: think
  packages/x-markdown/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: Sender focus add slot
  packages/x/.dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  packages/x/.dumi/theme/slots/Header/index.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update components semantic
  packages/x/components/attachments/DropArea.tsx
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/attachments/SilentUploader.tsx
  packages/x/components/attachments/demo/_semantic.tsx
  packages/x/components/attachments/index.en-US.md
  packages/x/components/attachments/index.tsx
  packages/x/components/attachments/index.zh-CN.md
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/index.test.tsx
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update components semantic
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: Sender focus add slot
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Sender focus add slot
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

test: snapshots
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
