Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: semantic
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snap
  packages/x/components/attachments/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat: fix sender speech
  packages/x/components/sender/useSpeech.ts
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: test
  packages/x/components/attachments/FileList/Progress.tsx
Due: biome check --write --files-ignore-unknown=true

fix: remove console
  packages/x/.dumi/theme/builtins/XMarkdownComponentTokenTable/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: test
  packages/x/components/file-card/index.en-US.md
Due: prettier --ignore-unknown --write

chore: remove x-markdown css and token script
  packages/x-markdown/package.json
  packages/x-markdown/scripts/collect-token-statistic.ts
  packages/x-markdown/scripts/generate-cssinjs.ts
  packages/x-markdown/scripts/generate-plugin-meta.ts
  packages/x-markdown/scripts/generate-token-meta.ts
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/package.json
  packages/x/scripts/markdown-config.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x/components/code-highlighter/CodeHighlighter.tsx
Due: biome check --write --files-ignore-unknown=true

fix: use Actions.copy instead of navigator.clipboard to prevent compatibility issues
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/components/mermaid/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

chore: modify codeHighlighter and mermaid locale config
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/locale/en_US.ts
  packages/x/components/locale/index.tsx
  packages/x/components/locale/useLocale.ts
  packages/x/components/locale/zh_CN.ts
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix build preview
  packages/x-markdown/package.json
  packages/x-markdown/scripts/generate-plugin-meta.ts
Due: biome check --write --files-ignore-unknown=true

chore: modify x-markdown father build config
  packages/x-markdown/.fatherrc.ts
Due: biome check --write --files-ignore-unknown=true

fix: scoll behavior
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/demo/_test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/src/plugins/type.ts
  packages/x/components/_util/hooks/use-x-component-config.ts
  packages/x/components/x-provider/XMarkdownComponents.ts
  packages/x/components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
  packages/x/docs/x-markdown/demo/xprovider/locale.tsx
  packages/x/docs/x-markdown/demo/xprovider/theme.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/package.json
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

feat: suggestion
  packages/x/components/conversations/demo/_semantic.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/suggestion/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/suggestion/__tests__/index.test.tsx
  packages/x/components/suggestion/demo/_semantic.tsx
  packages/x/components/suggestion/demo/basic.tsx
  packages/x/components/suggestion/demo/block.tsx
  packages/x/components/suggestion/demo/trigger.tsx
  packages/x/components/suggestion/index.en-US.md
  packages/x/components/suggestion/index.tsx
  packages/x/components/suggestion/index.zh-CN.md
  packages/x/components/suggestion/useActive.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: suggestion
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: fix ci
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
  packages/x/.dumi/theme/builtins/XMarkdownComponentTokenTable/index.tsx
  packages/x/components/mermaid/index.en-US.md
  packages/x/components/mermaid/index.zh-CN.md
  packages/x/components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: scrolling
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

test: suggestion
  packages/x/components/suggestion/index.en-US.md
  packages/x/components/suggestion/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix ci
  packages/x-markdown/src/plugins/version/plugin-meta.json
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
Due: biome check --write --files-ignore-unknown=true

doc: recover
  packages/x/components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: use-active
  packages/x/components/suggestion/__tests__/useActive.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/sender/hooks/use-speech.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: bubble
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: use-active
  packages/x/components/suggestion/index.tsx
  packages/x/components/x-provider/demo/theme.tsx
Due: biome check --write --files-ignore-unknown=true

test: use-active
  packages/x/components/x-provider/demo/theme.tsx
Due: biome check --write --files-ignore-unknown=true

test: use-active
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix ci
  packages/x/.jest.js
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/style/index.ts
  packages/x/components/mermaid/__tests__/index.test.tsx
  packages/x/components/mermaid/style/index.ts
  packages/x/components/x-provider/context.ts
  packages/x/tests/__mocks__/mermaid.js
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

test: use-active
  packages/x/components/suggestion/demo/trigger.tsx
Due: biome check --write --files-ignore-unknown=true

Sender 组件插槽模式tag标签添加可关闭功能
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  package.json
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/mermaid/Mermaid.tsx
Due: biome check --write --files-ignore-unknown=true

docs: chatprovider
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
Due: prettier --ignore-unknown --write

修改peerDependencies兼容性问题
  package.json
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
