Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

clean package.json
  .lintstagedrc.json
  package.json
  scripts/test-all.sh
Due: biome check --write --files-ignore-unknown=true

clean package.json
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/common/Loading.tsx
  .dumi/theme/slots/Header/Logo.tsx
  bunfig.toml
  package.json
Due: biome check --write --files-ignore-unknown=true

fix a11y lint bug
  biome.json
Due: biome check --write --files-ignore-unknown=true

add bun.lockb
  .gitignore
  bun.lockb
Due: none

gitignore
  .dumi/global.css
  .dumi/preset/components-changelog-cn.json
  .dumi/preset/components-changelog-en.json
  .gitignore
  scripts/generate-token-meta.ts
Due: biome check --write --files-ignore-unknown=true

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

update package.json
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

Update bunfig.toml
  bunfig.toml
Due: none

Create dependabot-bun.yml
  .github/workflows/dependabot-bun.yml
Due: prettier --ignore-unknown --write

Update .github/workflows/dependabot-bun.yml
  .github/workflows/dependabot-bun.yml
Due: prettier --ignore-unknown --write

update bun.lockb
  bun.lockb
Due: none

chore: Update check-site.ts
  scripts/check-site.ts
Due: biome check --write --files-ignore-unknown=true

chore: bubble variant
  .dumi/theme/themeConfig.ts
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/demo/list-custom.md
  components/bubble/demo/list-custom.tsx
  components/bubble/demo/variant.md
  components/bubble/demo/variant.tsx
  components/bubble/hooks/useTypedEffect.ts
  components/bubble/interface.ts
  components/bubble/style/index.ts
  components/index.ts
  components/useXAgent/demo/_semantic.tsx
  components/useXAgent/demo/basic.md
  components/useXAgent/demo/basic.tsx
  components/useXAgent/demo/suggestions.md
  components/useXAgent/demo/suggestions.tsx
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: ThoughtChain support size.
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/demo/size.md
  components/thought-chain/demo/size.tsx
  components/thought-chain/index.en-US.md
  components/thought-chain/index.tsx
  components/thought-chain/index.zh-CN.md
  components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: customize
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/demo/list-custom.tsx
  components/bubble/hooks/useTypedEffect.ts
  components/bubble/interface.ts
  components/prompts/style/index.ts
  components/useXAgent/demo/suggestions.tsx
Due: biome check --write --files-ignore-unknown=true

chore: lock typing if first render
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/hooks/useTypedEffect.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: tmp record
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/hooks/useDisplayData.ts
  components/bubble/hooks/useListData.ts
  components/useXAgent/demo/suggestions.tsx
Due: biome check --write --files-ignore-unknown=true

chore: seq list
  components/bubble/hooks/useDisplayData.ts
Due: biome check --write --files-ignore-unknown=true

docs: add api doc
  components/bubble/Bubble.tsx
  components/useXAgent/demo/suggestions.tsx
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: coverage
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXAgent/__tests__/demo.test.ts
  components/useXAgent/__tests__/image.test.ts
  components/useXAgent/__tests__/index.test.tsx
  components/useXAgent/index.ts
  components/useXAgent/useSyncState.ts
  tests/shared/demoTest.tsx
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  tests/__snapshots__/index.test.ts.snap
Due: none

chore: defaultMessages no need fill all
  components/useXAgent/__tests__/index.test.tsx
  components/useXAgent/index.ts
  components/useXAgent/useSyncState.ts
Due: biome check --write --files-ignore-unknown=true

fix: ci error.
  .dumi/theme/themeConfig.ts
Due: biome check --write --files-ignore-unknown=true

fix: ComponentMeta use @ant-design/x instead of antd
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: component source url.
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: edit branchUrl.
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: comment out mirror.
  .dumi/theme/slots/Header/Navigation.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update XProvider demo
  components/x-provider/demo/use.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: add useXComponentConfig to instead mergeStyles
  components/_util/hooks/use-x-component-config.ts
  components/_util/merge-styles.ts
  components/bubble/Bubble.tsx
  components/conversations/index.tsx
  components/prompts/index.tsx
  components/sender/index.tsx
  components/suggestion/index.tsx
  components/thought-chain/index.tsx
  components/x-provider/context.ts
  components/x-provider/hooks/use-x-provider.ts
  components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update API and Component Config for XProvider
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: useXComponentConfig
  components/_util/hooks/use-x-component-config.ts
  components/bubble/Bubble.tsx
  components/bubble/BubbleList.tsx
  components/bubble/interface.ts
  components/conversations/index.tsx
  components/prompts/index.tsx
  components/sender/index.tsx
  components/suggestion/index.tsx
  components/theme/genStyleUtils.ts
  components/thought-chain/index.tsx
  components/x-provider/context.ts
  components/x-provider/hooks/use-x-provider.ts
  components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: rename file
  components/x-provider/hooks/use-x-provider-context.ts
  components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: ts lint error
  components/_util/hooks/use-x-component-config.ts
  components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true
