Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: card file image loading
  packages/x/components/attachments/FileList/index.tsx
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/components/ImageIcon.tsx
  packages/x/components/file-card/components/ImageLoading.tsx
  packages/x/components/file-card/components/usePercent.ts
  packages/x/components/file-card/demo/image-loading.md
  packages/x/components/file-card/demo/image-loading.tsx
  packages/x/components/file-card/demo/image.md
  packages/x/components/file-card/demo/list.tsx
  packages/x/components/file-card/demo/overflow.tsx
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: card file image loading
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: card file image loading
  packages/x/components/file-card/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat: token of blinkMotion
  packages/x/components/file-card/demo/list.tsx
Due: biome check --write --files-ignore-unknown=true

feat: card file image loading
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: Sender 组件非词槽模式支持长度限制 maxLength
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/demo/footer.tsx
  packages/x/components/sender/demo/show-count.md
  packages/x/components/sender/demo/show-count.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: showCount 可以在没有 maxLength 的情况下使用，只显示字符数
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat(Sender): tag slot add clear btn
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

test: file-card
  packages/x/components/file-card/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: lint
  packages/x/components/style/motion/blink.ts
  packages/x/components/think/style/index.ts
Due: biome check --write --files-ignore-unknown=true

refactor(x-markdown): 使用 Actions 组件替换按钮组
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

refactor(x-markdown): 移除冗余的复制代码逻辑
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: commit
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x/components/file-card/index.en-US.md
Due: prettier --ignore-unknown --write

feat: lint
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs(Sender): update tag slot docs
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(docs): fix docs
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: add test case
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: delete log
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat(Sender): implement maxLength and showCount support
  components/sender/__tests__/index.test.tsx
  components/sender/demo/basic.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
  package.json
Due: biome check --write --files-ignore-unknown=true

refactor: 修复Biome语法错误 + 优化代码规范 - 移除可选链后的非空断言，符合lint规则 - 统一属性访问方式与计数器格式 - 移除未使用导入和冗余volta字段
  components/sender/__tests__/index.test.tsx
  components/sender/index.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: useStreaming support cache table and support incomplete-html
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/streaming-syntax.en-US.md
  packages/x/docs/x-markdown/streaming-syntax.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: format docs config
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

docs: streaming syntax docs
  packages/x/docs/x-markdown/streaming-syntax.en-US.md
  packages/x/docs/x-markdown/streaming-syntax.zh-CN.md
Due: prettier --ignore-unknown --write

fix(lint): resolve biome check errors
  biome.json
  scripts/visual-regression/report-template.html
  tests/index.html
Due: biome check --write --files-ignore-unknown=true

fix: fix code review
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

feat: stream incomplete regex avoid redos attack
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

feat: change function type
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/components/ContentEditable.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/content-editable.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
  packages/x/docs/spec/authentic-consistent.en-US.md
  packages/x/docs/spec/authentic-consistent.zh-CN.md
  packages/x/docs/spec/define-intention-type.en-US.md
  packages/x/docs/spec/define-intention-type.zh-CN.md
  packages/x/docs/spec/guide-intention-expression.en-US.md
  packages/x/docs/spec/guide-intention-expression.zh-CN.md
  packages/x/docs/spec/human-touch.en-US.md
  packages/x/docs/spec/human-touch.zh-CN.md
  packages/x/docs/spec/intention-introduce.en-US.md
  packages/x/docs/spec/intention-introduce.zh-CN.md
  packages/x/docs/spec/provide-intention-expectation.en-US.md
  packages/x/docs/spec/provide-intention-expectation.zh-CN.md
  packages/x/docs/spec/role-design.en-US.md
  packages/x/docs/spec/role-design.zh-CN.md
  packages/x/docs/spec/smooth-natural.en-US.md
  packages/x/docs/spec/smooth-natural.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

refactor: x-markdown mermaid actions
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x/components/locale/zh_CN.ts
Due: biome check --write --files-ignore-unknown=true

refactor(test): simplify Mermaid tests with getActionButtonByLabel helper
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix: table can scroll when content width over width
  packages/x-markdown/src/XMarkdown/index.css
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x-markdown/src/XMarkdown/index.css
Due: biome check --write --files-ignore-unknown=true

feat: pass cache raw data to incomplete-token and map all cache token to incomplete-token
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/streaming-syntax.en-US.md
  packages/x/docs/x-markdown/streaming-syntax.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: modify testcase
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: modify docs style
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

chore: modify demo and css
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
