Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: useDeferredValue
  packages/x-sdk/src/chat-providers/__test__/providers.test.ts
  packages/x-sdk/src/chat-providers/types/model.ts
  packages/x/components/theme/genStyleUtils.ts
  packages/x/components/theme/interface/cssinjs-utils.ts
  packages/x/components/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

feat: useDeferredValue
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

test: theme
  packages/x/components/theme/context.ts
  packages/x/components/x-provider/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: theme
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
Due: biome check --write --files-ignore-unknown=true

zeroRuntime
  packages/x/components/theme/context.ts
Due: biome check --write --files-ignore-unknown=true

chore(deps): pin html-react-parser to v3.0.10 to avoid ESM issues in CodeSandbox
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --files-ignore-unknown=true

fix: iconPrefixCls
  packages/x/components/x-provider/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: iconPrefixCls
  packages/x/components/x-provider/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: site
  packages/x/.dumi/theme/builtins/ComponentMeta/index.tsx
  packages/x/.dumi/theme/slots/Content/index.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.en-US.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-open-ai.en-US.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
  packages/x/docs/x-sdk/x-stream.en-US.md
  packages/x/docs/x-sdk/x-stream.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: site
  packages/x/.dumi/theme/builtins/ComponentMeta/index.tsx
  packages/x/docs/x-markdown/plugin-latex.en-US.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: site
  packages/x/.dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix useStreaming error、deps and docs
  packages/x-markdown/package.json
  packages/x-markdown/src/XMarkdown/__benchmark__/README.md
  packages/x-markdown/src/XMarkdown/__benchmark__/components/MarkdownRenderer.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix ci
  packages/x/docs/x-markdown/demo/components/infographic.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/src/XMarkdown/__benchmark__/README.md
Due: prettier --ignore-unknown --write

docs: gpt-vis
  packages/x/components/bubble/demo/gpt-vis.tsx
  packages/x/docs/x-markdown/demo/components/dataChart.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add support for protecting newlines in custom tags in XMarkdown
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix: sender
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

Update subtitle from '来源应用' to '来源引用'
  packages/x/docs/x-markdown/components-sources.zh-CN.md
Due: prettier --ignore-unknown --write

feat: confirm
  packages/x/components/sources/components/CarouselCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: confirm
  packages/x/components/sources/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.2.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

snapshots update
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
Due: none

snapshots update
  packages/x/components/sources/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: events
  packages/x/components/sources/components/CarouselCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: events
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: semantic processing
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/StreamingProcessor.ts
  packages/x-markdown/src/XMarkdown/core/StreamingTokenizer.ts
  packages/x-markdown/src/XMarkdown/core/__tests__/StreamingTokenizer.test.ts
  packages/x-markdown/src/XMarkdown/hooks/index.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/XMarkdown/utils/index.ts
  packages/x-markdown/src/XMarkdown/utils/markdown.ts
  packages/x-markdown/src/XMarkdown/utils/url.ts
Due: biome check --write --files-ignore-unknown=true

fix(Bubble.List): change scroll observer of Bubble.List
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
  packages/x/components/bubble/style/list.ts
Due: biome check --write --files-ignore-unknown=true

chore: changelog
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Bubble.List): improve robustness
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/demo/list-scroll.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

test(Bubble): snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

perf(CodeHighlighter): add usePrismLight prop for on-demand language loading
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/interface.ts
  packages/x/components/mermaid/Mermaid.tsx
  packages/x/components/mermaid/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(CodeHighlighter): rename usePrismLight to prismLightMode
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/demo/basic.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/code-highlighter/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: fix homepage design button shaking
  packages/x/.dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

Update packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

refactor(code-highlight): set prismLightMode default value is true
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/__tests__/index.test.tsx
  packages/x/components/code-highlighter/index.en-US.md
  packages/x/components/code-highlighter/index.zh-CN.md
  packages/x/components/code-highlighter/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
