Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix(Bubble.List): ref callback
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/enhanced.test.tsx
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/demo/list-scroll.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: ts
  packages/x/components/sender/Sender.tsx
  packages/x/components/sender/components/LoadingButton/StopLoading.tsx
  packages/x/components/sender/components/LoadingButton/index.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/components/TextArea.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

fix: tes
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

fix: Undo Stack
  packages/x/components/sender/components/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Undo Stack
  packages/x/components/sender/Sender.tsx
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

docs: delete alert
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
  packages/x/.dumi/theme/slots/Alert/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: ts
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Bubble.List): top type
  packages/x/components/bubble/__tests__/enhanced.test.tsx
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

fix(Bubble.List): scrollIntoView
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/__tests__/list-scroll.test.tsx
  packages/x/components/bubble/demo/list-scroll.tsx
  packages/x/components/bubble/hooks/useCompatibleScroll.ts
Due: biome check --write --files-ignore-unknown=true

docs(sender): add placeholder property to documentation in English and Chinese
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update bubble api docs
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

Fix typo in SDK documentation
  packages/x/docs/x-markdown/demo/_utils/adx-markdown.ts
Due: biome check --write --files-ignore-unknown=true

fix: remove invalid check-commit script
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: 修复文档源码和编辑链接的跳转路径问题
  packages/x/.dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix typo in SDK documentation (#1552)
  packages/x/docs/x-markdown/demo/_utils/adx-markdown.ts
Due: biome check --write --files-ignore-unknown=true

fix: 修复 GPT-Vis 演示中的 Hydration 错误
  packages/x/components/bubble/demo/gpt-vis.tsx
Due: biome check --write --files-ignore-unknown=true

fix: 修复文档标题旁编辑按钮的跳转链接
  packages/x/.dumi/theme/common/EditButton.tsx
Due: biome check --write --files-ignore-unknown=true

docs(Sender): 补充 API 文档
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

add tests
  packages/x/components/sender/__tests__/use-speech.test.tsx
Due: biome check --write --files-ignore-unknown=true

improve assertions
  packages/x/components/sender/__tests__/use-speech.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: refine Sender component API documentation
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add a infographic demo
  packages/x/docs/x-markdown/components-infographic.en-US.md
  packages/x/docs/x-markdown/components-infographic.zh-CN.md
  packages/x/docs/x-markdown/demo/components/infographic.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: use React.useEffect to keep same code style
  packages/x/docs/x-markdown/demo/components/infographic.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix code review
  packages/x/docs/x-markdown/demo/components/infographic.tsx
Due: biome check --write --files-ignore-unknown=true

fix: add infographic instance type define
  packages/x/docs/x-markdown/demo/components/infographic.tsx
Due: biome check --write --files-ignore-unknown=true

fix(docs): escape generic types in markdown to fix SSR build error
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: simplify version switch to redirect to homepage
  packages/x/.dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

docs: handleVersionChange
  packages/x/.dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

feat: browseeruse
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: browseeruse
  packages/x/.dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

fix: attachments
  packages/x/components/attachments/index.tsx
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/demo/overflow.tsx
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

fix: attachments
  packages/x/components/file-card/FileCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: browseeruse
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: upgrade inforgraphic to 0.2.0
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: push
  packages/x/components/prompts/style/index.ts
  packages/x/components/style/motion/fade.ts
Due: biome check --write --files-ignore-unknown=true

docs: updaye docs
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/sources/index.zh-CN.md
  packages/x/components/think/index.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-custom.en-US.md
  packages/x/docs/x-sdk/chat-provider-custom.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-deepseek.en-US.md
  packages/x/docs/x-sdk/chat-provider-deepseek.zh-CN.md
  packages/x/docs/x-sdk/chat-provider-open-ai.en-US.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
  packages/x/docs/x-sdk/chat-provider.zh-CN.md
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
  packages/x/docs/x-sdk/x-request.en-US.md
  packages/x/docs/x-sdk/x-request.zh-CN.md
  packages/x/docs/x-sdk/x-stream.en-US.md
  packages/x/docs/x-sdk/x-stream.zh-CN.md
Due: prettier --ignore-unknown --write

feat: speed up visual tests with blazediff
  packages/x/package.json
  packages/x/scripts/visual-regression/build.ts
Due: biome check --write --files-ignore-unknown=true
