Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: remove preview url in demo
  components/attachments/demo/files-custom.tsx
Due: biome check --write --files-ignore-unknown=true

docs: optimize FileCard docs and demos
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/demo/files-custom.tsx
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update PRESET_FILE_ICONS import in md
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 1.6.0 (#1080)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: lint error
  components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true

chore: dependencies update (#1083)
  docs/react/dangerously-api-key.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update 1.5.0 changelog (#1034)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add type and icon props for FileCard
  components/attachments/FileList/FileListCard.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/demo/files-custom.md
  components/attachments/demo/files-custom.tsx
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update PRESET_FILE_ICONS in md file
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix[Attachments]: fix maxCount prop to attachments components
  components/attachments/__tests__/index.test.tsx
  components/attachments/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add tbox agent & docs (#1063)
  .dumi/theme/layouts/GlobalLayout.tsx
  docs/playground/agent-tbox.en-US.md
  docs/playground/agent-tbox.tsx
  docs/playground/agent-tbox.zh-CN.md
  docs/playground/copilot.en-US.md
  docs/playground/copilot.zh-CN.md
  docs/playground/independent.en-US.md
  docs/playground/independent.zh-CN.md
  docs/react/agent-use-tbox.en-US.md
  docs/react/agent-use-tbox.zh-CN.md
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
  docs/react/model-use-other.en-US.md
  docs/react/model-use-other.zh-CN.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
  docs/react/use-with-create-react-app.en-US.md
  docs/react/use-with-create-react-app.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
  docs/react/use-with-rsbuild.en-US.md
  docs/react/use-with-rsbuild.zh-CN.md
  docs/react/use-with-umi.en-US.md
  docs/react/use-with-umi.zh-CN.md
  docs/react/use-with-vite.en-US.md
  docs/react/use-with-vite.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: update file icon
  components/attachments/demo/files-custom.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update test snap
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix(ThoughtChain): fix the issue where title block-level elements cannot be displayed when collapsible is enabled (#1172)
  components/thought-chain/Item.tsx
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/demo/collapsible.tsx
  components/thought-chain/demo/status.tsx
  components/thought-chain/style/index.ts
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

chore: enable utoopack when bundle umd (#1122)
  .fatherrc.ts
  .jest.js
  .npmrc
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: update biome config and fix test transform stream formatting (#1118)
  biome.json
  components/suggestion/__tests__/useActive.test.tsx
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: optimization typing hook (#1067)
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/__tests__/index.test.tsx
  components/bubble/demo/typing.md
  components/bubble/demo/typing.tsx
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: 修复useActive 中 items 为空数组导致的异常 (#824)
  components/suggestion/__tests__/useActive.test.tsx
  components/suggestion/useActive.ts
Due: biome check --write --files-ignore-unknown=true

docs(bubble): update messageRender type desc and fix typo (#1048)
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 1.6.1 (#1173)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs(attachments): add high-quality preview example for image file (#960)
  components/attachments/demo/with-sender.tsx
Due: biome check --write --files-ignore-unknown=true

fix: Simplify the logic for using common prefixes in typing hooks. (#1091)
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --files-ignore-unknown=true

feat(use-x-chat): add updating status (#833)
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/demo/stream.tsx
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

docs: 补充common-props文档说明 (#1120)
  docs/react/common-props.en-US.md
  docs/react/common-props.zh-CN.md
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

fix(sender): 修复loadingButton传入icon属性时同时显示两个图标 (#1145)
  components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/actions/__tests__/__snapshots__/demo.test.ts.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/components/LoadingButton.tsx
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/index.test.tsx.snap
  components/x-provider/__tests__/__snapshots__/index.test.tsx.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
  tests/__snapshots__/changelog.test.ts.snap
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

Sender 组件增加 Content 语义化部分 (#703)
  components/sender/demo/_semantic.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update tbox website (#1191)
  docs/react/agent-use-tbox.en-US.md
  docs/react/agent-use-tbox.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add open to RenderChildrenProps of Suggestion
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/demo/open.md
  components/suggestion/demo/open.tsx
  components/suggestion/index.en-US.md
  components/suggestion/index.tsx
  components/suggestion/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: SeeConf link (#1224)
  .dumi/pages/index/components/MainBanner.tsx
Due: biome check --write --files-ignore-unknown=true

docs: repair the type error in the useXChat document (#1183)
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.zh-CN.md
Due: prettier --ignore-unknown --write

透传CascaderProps其他参数 (#1110)
  components/suggestion/index.tsx
Due: biome check --write --files-ignore-unknown=true

Add comprehensive FAQ questions with Chinese and English versions covering markdown, Vue, think tags, and mobile adaptation (#1117)
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

fix: test fix
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: add open to suggestion's children
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/demo/open.md
  components/suggestion/demo/open.tsx
  components/suggestion/index.en-US.md
  components/suggestion/index.tsx
  components/suggestion/index.zh-CN.md
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: 新增测试用例
  packages/x-sdk/src/x-request/__test__/index.test.ts
Due: biome check --write --files-ignore-unknown=true

test: 新增测试用例
  packages/x-sdk/src/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

test: 新增测试用例
  packages/x-sdk/src/x-stream/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: update isStreaming
  packages/x-sdk/src/x-request/__test__/index.test.ts
Due: biome check --write --files-ignore-unknown=true

fix: add test
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sources/__tests__/index.test.tsx
  packages/x/components/sources/components/CarouselCard.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
