Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: back of package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: Update README.md
  README.md
Due: prettier --ignore-unknown --write

Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

feat: new x-tools function xFetch
  components/x-tools/x-fetch.ts
Due: biome check --write --files-ignore-unknown=true

chore: shape
  components/bubble/Bubble.tsx
  components/bubble/demo/shape.md
  components/bubble/demo/shape.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/content.ts
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: fix style
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/shape.tsx
  components/bubble/style/content.ts
  components/bubble/style/index.ts
  mako.config.json
Due: biome check --write --files-ignore-unknown=true

chore: fix lint
  components/bubble/style/content.ts
Due: biome check --write --files-ignore-unknown=true

refactor: skip empty parts while split stream
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

refactor: add isValidString to check if a string is not empty or only contains whitespace characters
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

Update index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
Due: biome check --write --files-ignore-unknown=true

Update Demo.tsx
  .dumi/theme/common/styles/Demo.tsx
Due: biome check --write --files-ignore-unknown=true

Apply suggestions from code review
  .dumi/theme/builtins/DemoWrapper/index.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: renamed and replaced transformPipe with a single transformStream option to enhance flexibility and improve TypeScript type inference.
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

feat: support header and footer
  components/bubble/Bubble.tsx
  components/bubble/demo/header-and-footer.md
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: of semetic
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  components/bubble/Bubble.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: fix tsc
  tests/shared/imageTest.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: default to using double newline characters to separate the stream
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

chore: fix biome file lint
  biome.json
Due: biome check --write --files-ignore-unknown=true

refactor: renamed and replaced separator with separators to enhance flexibility.
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

chore: init
  components/sender/components/ActionButton.tsx
  components/sender/components/SendButton.tsx
  components/sender/demo/actions.tsx
  components/sender/demo/basic.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: fix border style
  components/sender/components/ActionButton.tsx
  components/sender/demo/basic.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: loading status
  components/sender/StopLoading.tsx
  components/sender/components/LoadingButton.tsx
  components/sender/demo/basic.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: new x-tools class XAdapter.
  components/x-tools/x-adapter.ts
  components/x-tools/x-fetch.ts
Due: biome check --write --files-ignore-unknown=true

test: update snapshot
  components/sender/StopLoading.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/components/ActionButton.tsx
  components/sender/components/ClearButton.tsx
  components/sender/components/LoadingButton.tsx
  components/sender/components/SendButton.tsx
  components/sender/demo/basic.tsx
  components/sender/demo/send-style.md
  components/sender/demo/send-style.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/index.ts
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: fix lint
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: fix lint
  components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

test: fix test case
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: init speech hooks
  components/sender/components/ActionButton.tsx
  components/sender/components/ClearButton.tsx
  components/sender/components/LoadingButton.tsx
  components/sender/components/SendButton.tsx
  components/sender/components/SpeechButton/index.tsx
  components/sender/demo/speech.md
  components/sender/demo/speech.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/useSpeech.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add new x-tools class XAgent
  components/useXAgent/index.ts
  components/x-tools/x-adapter.ts
  components/x-tools/x-agent.ts
  components/x-tools/x-fetch.ts
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

feat: add dangerouslyApiKey option for XAgent.
  components/useXAgent/index.ts
  components/x-tools/x-agent.ts
  components/x-tools/x-stream.ts
Due: biome check --write --files-ignore-unknown=true

chore: icon support
  components/sender/StopLoading.tsx
  components/sender/components/ActionButton.tsx
  components/sender/components/SpeechButton/RecordingIcon.tsx
  components/sender/components/SpeechButton/index.tsx
  components/sender/index.tsx
  components/sender/style/index.ts
  components/sender/useSpeech.ts
Due: biome check --write --files-ignore-unknown=true

chore: support speech
  components/sender/index.tsx
  components/sender/useSpeech.ts
Due: biome check --write --files-ignore-unknown=true

chore: support speech
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat: new x-tools createXRequest
  components/useXAgent/index.ts
  components/useXAgent/presets/gpt-3.5-turbo.ts
  components/x-tools/x-agent.ts
Due: biome check --write --files-ignore-unknown=true

feat: new x-tools x-request.
  components/x-tools/x-request.ts
Due: biome check --write --files-ignore-unknown=true

refactor: ts
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: update group config for Components category.
  .dumi/theme/themeConfig.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
  components/overview/index.en-US.md
  components/overview/index.zh-CN.md
  components/prompts/index.en-US.md
  components/prompts/index.zh-CN.md
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
  components/suggestion/index.en-US.md
  components/suggestion/index.zh-CN.md
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: adjust the directory
  components/useXAgent/index.ts
  components/x-request/__tests__/demo.test.ts
  components/x-request/__tests__/image.test.ts
  components/x-request/__tests__/index.test.tsx
  components/x-request/demo/basic.md
  components/x-request/demo/basic.tsx
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
  components/x-request/x-fetch.ts
  components/x-stream/__tests__/demo.test.ts
  components/x-stream/__tests__/image.test.ts
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/demo/basic.md
  components/x-stream/demo/basic.tsx
  components/x-stream/index.en-US.md
  components/x-stream/index.ts
  components/x-stream/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: support Sender.Header
  components/sender/SenderHeader.tsx
  components/sender/demo/header.md
  components/sender/demo/header.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/header.ts
  components/sender/style/index.ts
  mako.config.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
