Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: updaye docs
  packages/x/docs/x-sdk/chat-provider-open-ai.en-US.md
  packages/x/docs/x-sdk/chat-provider-open-ai.zh-CN.md
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

test: snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snap
  packages/x/components/file-card/demo/overflow.tsx
Due: biome check --write --files-ignore-unknown=true

test: snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: file card
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: actions tooltip
  packages/x/components/actions/ActionsFeedback.tsx
Due: biome check --write --files-ignore-unknown=true

feat: hitl
  packages/x/components/actions/ActionsFeedback.tsx
Due: biome check --write --files-ignore-unknown=true

test: file card
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: export StreamCacheTokenType type from XMarkdown interface
  packages/x-markdown/src/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x/components/file-card/List.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  packages/x-sdk/src/x-request/x-fetch.ts
  packages/x/docs/x-sdk/demos/x-chat/setMessages.md
  packages/x/docs/x-sdk/demos/x-chat/setMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/setMessages.md
  packages/x/docs/x-sdk/demos/x-conversations/setMessages.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-sdk default messages
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/store.ts
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.md
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.md
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
  packages/x/docs/x-sdk/use-x-conversations.en-US.md
  packages/x/docs/x-sdk/use-x-conversations.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-sdk default messages
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
  packages/x-sdk/src/chat-providers/OpenAIChatProvider.ts
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
Due: biome check --write --files-ignore-unknown=true

feat: x-sdk default messages
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
Due: biome check --write --files-ignore-unknown=true

test: x-sdk
  packages/x-sdk/src/x-chat/__test__/store.test.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-sdk default messages
  packages/x-sdk/src/chat-providers/__test__/providers.test.ts
  packages/x-sdk/src/x-request/x-fetch.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-sdk default messages
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-sdk default messages
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

test: x-sdk
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

test: x-sdk
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
Due: biome check --write --files-ignore-unknown=true

feat:s-sdk
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-request/x-fetch.ts
Due: biome check --write --files-ignore-unknown=true

feat:s-sdk
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat:s-sdk
  packages/x-sdk/src/x-chat/store.ts
Due: biome check --write --files-ignore-unknown=true

test: x-sdk
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.md
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.md
Due: prettier --ignore-unknown --write

test: x-sdk
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

feat:s-sdk
  packages/x-sdk/src/x-chat/__test__/store.test.ts
Due: biome check --write --files-ignore-unknown=true

feat:s-sdk
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/store.ts
  packages/x/docs/x-sdk/demos/x-chat/openai.tsx
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat:s-sdk
  packages/x/docs/x-sdk/use-x-chat.en-US.md
Due: prettier --ignore-unknown --write

feat:s-sdk
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: prettier --ignore-unknown --write

feat: push
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
Due: biome check --write --files-ignore-unknown=true

feat: push
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/demo/simple.tsx
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

feat: thought-chain.item
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/demo/simple.tsx
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
