Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: folder
  packages/x/.dumirc.ts
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/components/File.tsx
  packages/x/components/file-card/demo/custom-description.md
  packages/x/components/file-card/demo/custom-description.tsx
  packages/x/components/file-card/demo/mask.tsx
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: filecard
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/components/File.tsx
Due: biome check --write --files-ignore-unknown=true

feat: filecard
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/components/File.tsx
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: folder
  packages/x/components/file-card/index.en-US.md
  packages/x/components/file-card/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: folder
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: folder
  packages/x/components/file-card/FileCard.tsx
  packages/x/components/file-card/components/File.tsx
Due: biome check --write --files-ignore-unknown=true

feat: folder
  packages/x/components/file-card/components/File.tsx
Due: biome check --write --files-ignore-unknown=true

feat: A2UI
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/index.ts
  packages/x-card/src/A2UI/types/box.ts
  packages/x-card/src/A2UI/types/command.ts
  packages/x-card/src/A2UI/types/command_v0.8.ts
  packages/x-card/src/A2UI/types/command_v0.9.ts
  packages/x-card/src/index.ts
  packages/x/.dumirc.ts
  packages/x/docs/x-card/demo/A2UI/basic.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
  packages/x/docs/x-card/quick-start.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: card
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/types/box.ts
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: extract unclosed component tag detection
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/core/detectUnclosedComponentTags.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-markdown skills
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/README-zh_CN.md
  packages/x-skill/README.md
  packages/x-skill/scripts/config.ts
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-markdown/reference/API.md
  packages/x-skill/skills-zh/x-markdown/reference/CORE.md
  packages/x-skill/skills-zh/x-markdown/reference/EXTENSIONS.md
  packages/x-skill/skills-zh/x-markdown/reference/STREAMING.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-markdown/reference/API.md
  packages/x-skill/skills/x-markdown/reference/CORE.md
  packages/x-skill/skills/x-markdown/reference/EXTENSIONS.md
  packages/x-skill/skills/x-markdown/reference/STREAMING.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

revert: revert x-sdks change
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
Due: prettier --ignore-unknown --write

revert: x-sdks change
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add marketplace
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: resolve TS7053 error for unmapped size keys in ImageIcon
  packages/x/components/file-card/components/ImageIcon.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix cr
  packages/x/components/file-card/components/ImageIcon.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/components/file-card/components/ImageIcon.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: fix cr
  packages/x-skill/skills/x-markdown/reference/API.md
Due: prettier --ignore-unknown --write

fix: fix cr
  packages/x-skill/.claude-plugin/marketplace.json
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/format/components.ts
  packages/x-card/src/A2UI/types/command_v0.8.ts
  packages/x-card/src/A2UI/types/command_v0.9.ts
  packages/x/.dumirc.ts
  packages/x/docs/x-card/demo/A2UI_v0.8/basic.tsx
Due: biome check --write --files-ignore-unknown=true

feat: file card
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: file card
  packages/x-skill/package.json
Due: biome check --write --files-ignore-unknown=true

feat: file card
  packages/x-skill/.skill.json
  packages/x/docs/x-skill/introduce.en-US.md
  packages/x/docs/x-skill/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: doc
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/src/skill-meta.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: prevent event listener leak in useShortcutKeys
  packages/x/components/_util/hooks/use-shortcut-keys.ts
Due: biome check --write --files-ignore-unknown=true

docs: changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore: changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: cleanup SpeechRecognition on component unmount
  packages/x/components/sender/hooks/use-speech.ts
Due: biome check --write --files-ignore-unknown=true

feat: xcard
  .codefuse/plans/Plan_20260316180524.md
  .codefuse/plans/Plan_20260316180525.md
  packages/x-card/src/A2UI/Box.tsx
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Context.tsx
  packages/x-card/src/A2UI/format/components.ts
  packages/x-card/src/A2UI/index.ts
  packages/x-card/src/A2UI/types/box.ts
  packages/x-card/src/A2UI/types/command_v0.8.ts
  packages/x-card/src/A2UI/types/command_v0.9.ts
  packages/x-card/src/index.ts
  packages/x/docs/x-card/demo/A2UI_v0.9/basic.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: add parserGuard and simplify streaming config
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/XMarkdown/utils/parsingGuards.ts
  packages/x-markdown/src/index.ts
  packages/x/docs/x-markdown/demo/components/custom.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/parsingGuards.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/docs/x-markdown/streaming.en-US.md
  packages/x/docs/x-markdown/streaming.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs(dumi): fix CodePreviewer live demo module resolution
  packages/x/.dumi/theme/builtins/Previewer/CodePreviewer.tsx
  packages/x/.dumi/theme/common/CodePreview.tsx
  packages/x/.dumi/theme/common/LiveCode.tsx
  packages/x/.dumirc.ts
Due: biome check --write --files-ignore-unknown=true

docs: fix /playground demo scroll ui
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
