Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

🐛 fix: resolve optional chain lint warnings
  packages/x-card/src/A2UI/utils.ts
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-sdk/src/chat-providers/DeepSeekChatProvider.ts
  packages/x-sdk/src/chat-providers/OpenAIChatProvider.ts
  packages/x-sdk/src/chat-providers/__test__/providers.test.ts
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-request/__test__/abort.test.ts
  packages/x-sdk/src/x-request/__test__/index.test.ts
  packages/x-sdk/tests/utils.tsx
  packages/x/.dumi/pages/index/components/DesignGuide.tsx
  packages/x/.dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  packages/x/components/attachments/FileList/Progress.tsx
  packages/x/components/attachments/util.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update
  package.json
Due: biome check --write --files-ignore-unknown=true

ci: run coverage per workspace
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

fix: make x-skill skip scripts accept args
  packages/x-skill/package.json
Due: biome check --write --files-ignore-unknown=true

update snap
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/tests/setupAfterEnv.ts
Due: biome check --write --files-ignore-unknown=true

feat(x-markdown): add disableDefaultStyles to opt out of default tag styles
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/index.css
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x): coerce string|number design tokens before arithmetic
  packages/x/.dumi/pages/index/components/DesignGuide.tsx
  packages/x/components/attachments/FileList/Progress.tsx
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): gate list markers by list container disable class
  packages/x-markdown/src/XMarkdown/index.css
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/.jest.js
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: bump @ant-design/x package size limit to 520 KiB
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: bump @ant-design/x package size limit to 520 KiB (#1913)
  package.json
Due: biome check --write --files-ignore-unknown=true

fix(x): refresh FileCard.List scroll ping state on items change
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: fix outdated type name in Prompts API table
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(x): memoize checkPing with useCallback to satisfy exhaustive-deps
  packages/x/components/file-card/List.tsx
Due: biome check --write --files-ignore-unknown=true

revert: drop unnecessary useCallback wrapping of checkPing
  packages/x/components/file-card/List.tsx
Due: biome check --write --files-ignore-unknown=true

fix: avoid jank when initial streaming output is non-streaming
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

Refactor streaming output handling in useStreaming hook
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

chore: update test snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test(x-markdown): fix nodeName getter for happy-dom regression
  packages/x-markdown/tests/setup.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): guard DOMPurify against SSR (no DOM)
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

test(x-markdown): cover SSR no-DOM guard in Renderer.processHtml
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
Due: biome check --write --files-ignore-unknown=true

docs: fix outdated type name in Prompts API table (#1915)
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(x): refresh FileCard.List scroll ping state on items change (#1914)
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update version
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: lingxi-dev
  packages/x-markdown/src/XMarkdown/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: update version
  .codefuse/codefuse.json
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__tests__/nodenameDebug.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/plugins/Latex/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --files-ignore-unknown=true

chore: update version
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

fix(x-markdown): protect all newlines inside custom tags (#1896)
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

feat: lingxi-dev
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: lingxi-dev
  packages/x-markdown/src/XMarkdown/__tests__/nodenameDebug.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

chore: update version
  packages/x-card/src/A2UI/utils.ts
Due: biome check --write --files-ignore-unknown=true

chore: update version
  .codefuse/codefuse.json
  .gitignore
  packages/x/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

fix: exclude .dumi directory from TypeScript type checking
  packages/x/.dumi/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

revert: restore .dumi tsconfig to original state
  packages/x/.dumi/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

chore: update version
  packages/x/.dumi/tsconfig.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: update version
  packages/x/.dumi/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
