Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: optimize parser function
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

feat: actions 2.0 finish
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/basic.tsx
  packages/x/components/actions/demo/preset.md
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/demo/sub.md
  packages/x/components/actions/demo/sub.tsx
  packages/x/components/actions/demo/variant.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
  packages/x/components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: rtl opt
  components/actions/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: use token for sender slot
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/thought-chain/Node.tsx
Due: biome check --write --files-ignore-unknown=true

Apply suggestion from @afc163
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/x-request/demo/basic.tsx
  packages/x/components/x-request/demo/custom-transformer.tsx
  packages/x/components/x-request/demo/request-options.tsx
  packages/x/components/x-request/demo/requestParams.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/x-provider/demo/direction.tsx
Due: biome check --write --files-ignore-unknown=true

text: snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Update package.json
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: remove unused stylelint deps
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

update
  package.json
Due: biome check --write --files-ignore-unknown=true

chore: markdown
  packages/x-markdown/package.json
  packages/x/.dumi/theme/builtins/InstallDependencies/index.tsx
  packages/x/docs/x-markdown/api.en-US.md
  packages/x/docs/x-markdown/introduce.en-US.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: utoo doc
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: markdown docs
  packages/x-markdown/.fatherrc.ts
  packages/x-markdown/package.json
  packages/x-markdown/scripts/generate-version.ts
  packages/x-markdown/tests/setupAfterEnv.ts
  packages/x/.dumi/theme/builtins/InstallDependencies/index.tsx
  packages/x/.dumi/theme/builtins/InstallDependencies/utoo.tsx
  packages/x/docs/x-markdown/introduce.zh-CN.md
  packages/x/docs/x-markdown/plugin_think.en-US.md
  packages/x/docs/x-markdown/plugin_think.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: markdown
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
  packages/x/docs/x-markdown/plugin.en-US.md
  packages/x/docs/x-markdown/plugin.zh-CN.md
  packages/x/docs/x-markdown/plugins.en-US.md
  packages/x/docs/x-markdown/plugins.zh-CN.md
  packages/x/docs/x-markdown/quickstart.en-US.md
  packages/x/docs/x-markdown/quickstart.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: Actions 2.0 add semantic
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/__tests__/index.test.tsx
  packages/x/components/actions/demo/_semantic.tsx
  packages/x/components/actions/demo/basic.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: thought-chain
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/__tests__/demo.test.ts
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/index.tsx
  packages/x/components/thought-chain/interface.ts
Due: biome check --write --files-ignore-unknown=true

chore: update doc
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

feat: thought-chain
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/demo/single-row.md
  packages/x/components/thought-chain/demo/single-row.tsx
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
  packages/x/components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: version
  packages/x-markdown/package.json
  packages/x-markdown/src/version/index.ts
  packages/x-markdown/src/version/version.ts
Due: biome check --write --files-ignore-unknown=true

test: thought-chain
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: version of markdown
  packages/x-markdown/package.json
  packages/x-markdown/scripts/generate-plugin-meta.ts
  packages/x-markdown/src/interface.ts
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
  packages/x-markdown/src/plugins/interface.ts
  packages/x-markdown/src/version/plugin-meta.json
Due: biome check --write --files-ignore-unknown=true

test: thought-chain:
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/__tests__/item.test.tsx
  packages/x/components/thought-chain/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: thought-chain:
  packages/x/components/thought-chain/Node.tsx
Due: biome check --write --files-ignore-unknown=true

chore: version
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
Due: biome check --write --files-ignore-unknown=true

test: thought-chain
  packages/x/components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: add popupRender
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/demo/preset.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: markdowm
  packages/x-card/package.json
  packages/x-markdown/package.json
  packages/x-markdown/plugins/Latex/index.js
  packages/x-markdown/src/index.ts
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Latex/index.ts
  packages/x-sdk/package.json
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
  packages/x/docs/x-markdown/plugins.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: markdown
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
  packages/x/docs/x-markdown/install-common.en-US.md
  packages/x/docs/x-markdown/install-common.zh-CN.md
  packages/x/docs/x-markdown/install-esm.en-US.md
  packages/x/docs/x-markdown/install-esm.zh-CN.md
  packages/x/docs/x-markdown/install-umd.en-US.md
  packages/x/docs/x-markdown/install-umd.zh-CN.md
  packages/x/docs/x-markdown/install_common.en-US.md
  packages/x/docs/x-markdown/install_esm.en-US.md
  packages/x/docs/x-markdown/install_umd.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.en-US.md
  packages/x/docs/x-markdown/plugin-highlightcode.zh-CN.md
  packages/x/docs/x-markdown/plugin-latex.en-US.md
  packages/x/docs/x-markdown/plugin-latex.zh-CN.md
  packages/x/docs/x-markdown/plugin_think.en-US.md
  packages/x/docs/x-markdown/plugins.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: thoughtChain
  packages/x/components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: markdown
  packages/x-card/package.json
  packages/x-markdown/package.json
  packages/x/docs/x-markdown/CHANGELOG.en-US.md
  packages/x/docs/x-markdown/CHANGELOG.zh-CN.md
  packages/x/docs/x-markdown/api.en-US.md
  packages/x/docs/x-markdown/api.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: markdown
  packages/x/.dumi/theme/builtins/MarkdownPluginsOverView.tsx
Due: biome check --write --files-ignore-unknown=true

docs: markdown
  packages/x-sdk/package.json
Due: biome check --write --files-ignore-unknown=true

fix: actions semantic opt
  packages/x/components/actions/demo/_semantic.tsx
Due: biome check --write --files-ignore-unknown=true

chore: markdown
  package.json
  packages/x-markdown/package.json
  packages/x-markdown/src/version/plugin-meta.json
  packages/x/docs/x-markdown/install-common.en-US.md
  packages/x/docs/x-markdown/install-common.zh-CN.md
  packages/x/docs/x-markdown/install-esm.en-US.md
  packages/x/docs/x-markdown/install-esm.zh-CN.md
  packages/x/docs/x-markdown/install-umd.en-US.md
  packages/x/docs/x-markdown/install-umd.zh-CN.md
  packages/x/docs/x-markdown/introduce.en-US.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: prepublishOnly init
  package.json
  packages/x-card/package.json
  packages/x-card/tests/dekko/dist.test.ts
  packages/x-markdown/package.json
  packages/x-markdown/tests/dekko/dist.test.ts
  packages/x-sdk/package.json
  packages/x-sdk/tests/dekko/dist.test.ts
  packages/x/package.json
  scripts/check-repo.ts
  scripts/pre-publish.ts
  scripts/synchronize_version.ts
Due: biome check --write --files-ignore-unknown=true

chore: prepublishOnly init
  scripts/check-repo.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
