Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: edit
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/components/ContentEditable.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

docs: xmarkdown theme
  packages/x/docs/x-markdown/themes.en-US.md
  packages/x/docs/x-markdown/themes.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.0.0-alpha.16
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.0.0-alpha.16
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: pass true when checkbox disabled and checked exist
  packages/x-markdown/src/XMarkdown/__test__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix test
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
Due: none

feat: sop
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sop
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: HighlightCode action
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.0.0-alpha.16
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: agent
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

feat: remove the useless import in HighlightCode
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: HighlightCode type ActionProps
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: wearfox
  .dumi/theme/SiteThemeProvider.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/layouts/SidebarLayout/index.tsx
  .dumi/theme/slots/Alert/index.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/slots/Sidebar/index.tsx
  .dumi/theme/slots/SiteContext.ts
Due: biome check --write --files-ignore-unknown=true

feat: wearfox
  scripts/visual-regression/report-template.html
Due: none

feat: wearfox
  .dumi/theme/layouts/SidebarLayout/index.tsx
  .dumi/theme/slots/Alert/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: wearfox
  biome.json
Due: biome check --write --files-ignore-unknown=true

feat: test
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  tests/__snapshots__/index.test.ts.snap
  tests/setupAfterEnv.ts
  tests/shared/__snapshots__/demoTest.tsx.snap
Due: biome check --write --files-ignore-unknown=true

feat: test
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  tests/__snapshots__/index.test.ts.snap
Due: none

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update docs
  packages/x/.dumi/hooks/useMenu.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

feat: updatemodel
  packages/x/docs/x-sdk/demos/x-chat/defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/demos/x-request/model.tsx
Due: biome check --write --files-ignore-unknown=true

feat: updatemodel
  packages/x-sdk/src/x-chat/providers/types/model.ts
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-sdk/demos/x-chat/deepSeek.tsx
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

feat: updatemodel
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

feat: updatemodel
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
  packages/x/.dumi/theme/slots/Alert/index.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: updatemodel
  packages/x/.dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  packages/x/.dumi/theme/slots/Sidebar/index.tsx
  packages/x/docs/react/agent-use-tbox.en-US.md
  packages/x/docs/react/agent-use-tbox.zh-CN.md
  packages/x/docs/react/contributing.en-US.md
  packages/x/docs/react/contributing.zh-CN.md
  packages/x/docs/react/migration-v2.en-US.md
  packages/x/docs/react/migration-v2.zh-CN.md
  packages/x/docs/react/model-use-openai.en-US.md
  packages/x/docs/react/model-use-openai.zh-CN.md
  packages/x/docs/react/model-use-qwen.en-US.md
  packages/x/docs/react/model-use-qwen.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: updatemodel
  packages/x/docs/react/migration-v2.zh-CN.md
Due: prettier --ignore-unknown --write

feat: performance and docs
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

docs: basic demo
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x/docs/playground/_utils/local.ts
Due: biome check --write --files-ignore-unknown=true

refactor: delete components props & internal props enhancement
  packages/x-sdk/src/x-chat/__test__/index.test.tsx
  packages/x-sdk/src/x-chat/index.ts
  packages/x/.dumi/pages/index/components/CompIntroduction/Customization.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/index.test.tsx
  packages/x/components/bubble/context.ts
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/demo/_semantic.tsx
  packages/x/components/bubble/demo/animation.tsx
  packages/x/components/bubble/demo/basic.tsx
  packages/x/components/bubble/demo/custom-content.tsx
  packages/x/components/bubble/demo/editable.tsx
  packages/x/components/bubble/demo/footer.tsx
  packages/x/components/bubble/demo/header.tsx
  packages/x/components/bubble/demo/list-extra.tsx
  packages/x/components/bubble/demo/list-scroll.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/demo/semantic-list-custom.tsx
  packages/x/components/bubble/demo/sider-and-placement.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/x-provider/demo/direction.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-sdk/demos/x-chat/developer.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: updatemodel
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snapshots update
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/demo/stream.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update docs
  packages/x/docs/react/migration-v2.en-US.md
  packages/x/docs/react/migration-v2.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update docs
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: pathname
  packages/x/.dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

feat: updatemodel
  CHANGELOG.zh-CN.md
  packages/x/docs/react/migration-v2.en-US.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
