Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Update packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.en-US.md
Due: prettier --ignore-unknown --write

test(Bubble): snapshot
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: file-card SemanticType
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/demo/audio.tsx
  packages/x/components/file-card/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: env
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: add mermaid tools, styles and modify demo
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x-markdown/src/plugins/type.ts
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-markdown/demo/supersets/HighlightCode/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/HighlightCode/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/_semantic.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
  packages/x/docs/x-markdown/demo/themes/light.tsx
Due: biome check --write --files-ignore-unknown=true

feat: size limit
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: readmo
  packages/x-markdown/BUG_VERSIONS.json
  packages/x-markdown/LICENSE
  packages/x-sdk/BUG_VERSIONS.json
  packages/x-sdk/LICENSE
  packages/x/README.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: test case
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test case
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: codecov
  .codecov.yml
Due: prettier --ignore-unknown --write

feat: refactor playground
  packages/x-sdk/.fatherrc.ts
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/__test__/providers.test.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x-sdk/src/x-chat/providers/AbstractChatProvider.ts
  packages/x-sdk/src/x-conversations/index.ts
  packages/x-sdk/src/x-conversations/store.ts
  packages/x-sdk/src/x-request/index.ts
  packages/x/.dumi/theme/plugin.ts
  packages/x/docs/playground/agent-tbox.en-US.md
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/agent-tbox.zh-CN.md
  packages/x/docs/playground/copilot.en-US.md
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/copilot.zh-CN.md
  packages/x/docs/playground/independent.en-US.md
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/independent.zh-CN.md
  packages/x/docs/x-sdk/demos/x-chat/model.tsx
  packages/x/docs/x-sdk/demos/x-conversations/multi-instances.tsx
  packages/x/docs/x-sdk/demos/x-conversations/operations.tsx
  packages/x/docs/x-sdk/demos/x-request/model.tsx
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(Bubble): set default keepPrefix to true
  packages/x/components/bubble/hooks/useTyping.ts
Due: biome check --write --files-ignore-unknown=true

feat: optimize type import
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/providers/index.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

docs(Bubble): default value desc
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test(Bubble): keepPrefix
  packages/x/components/bubble/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: attachments upload show image
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: use omit
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: use other omit
  packages/x/components/attachments/FileList/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: theme color
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: theme
  packages/x-markdown/src/themes/dark.css
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
  packages/x/docs/x-markdown/demo/themes/light.tsx
Due: biome check --write --files-ignore-unknown=true

feat: support version
  packages/x-markdown/README-zh_CN.md
  packages/x-markdown/README.md
  packages/x/docs/x-markdown/introduce.en-US.md
  packages/x/docs/x-markdown/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix window unfined
  .codecov.yml
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
  packages/x/docs/x-markdown/demo/themes/light.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix window unfined
  packages/x/docs/x-markdown/demo/codeDemo/basic.tsx
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/codeDemo/supersets.tsx
  packages/x/docs/x-markdown/demo/components/think.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-markdown/demo/streaming/typing.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
  packages/x/docs/x-markdown/demo/themes/light.tsx
Due: biome check --write --files-ignore-unknown=true

fix: type error
  packages/x-markdown/src/plugins/HighlightCode/style/index.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
Due: biome check --write --files-ignore-unknown=true

chore: workflows
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

feat: stream staus & modify docs
  packages/x-markdown/src/XMarkdown/__test__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/core/__test__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/plugins/Mermaid/style/index.ts
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
  packages/x/docs/x-markdown/components-think.en-US.md
  packages/x/docs/x-markdown/components-think.zh-CN.md
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/demo/components/think.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: stream status
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/src/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix code review
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x/docs/x-markdown/components-think.en-US.md
  packages/x/docs/x-markdown/components-think.zh-CN.md
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/basic.tsx
  packages/x/docs/x-markdown/demo/supersets/Mermaid/streaming.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: fix ThoughtChain.item style
  packages/x/components/thought-chain/Item.tsx
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix ThoughtChain.item style
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: fix ThoughtChain.item style
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true

fix: sender submit
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sender submit
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sender submit
  packages/x/components/sender/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x/components/x-provider/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: test
  packages/x/components/x-provider/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/tests/__snapshots__/changelog.test.ts.snap
Due: none

fix: test
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
