Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: 删除一些无用按钮
  packages/x/components/folder/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

Fix X SDK link in OpenAI model usage guide
  packages/x/docs/react/model-use-openai.zh-CN.md
Due: prettier --ignore-unknown --write

Fix link to X SDK documentation in guide
  packages/x/docs/react/model-use-openai.en-US.md
Due: prettier --ignore-unknown --write

fix: time test
  packages/x/tests/shared/demoTest.tsx
Due: biome check --write --files-ignore-unknown=true

fix: test
  packages/x/components/folder/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: skill
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/scripts/config.ts
  packages/x-skill/scripts/skillApi.ts
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/use-x-chat/reference/API.md
  packages/x-skill/skills-zh/use-x-chat/reference/CORE.md
  packages/x-skill/skills-zh/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/reference/EXAMPLES.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-components/reference/API.md
  packages/x-skill/skills-zh/x-components/reference/COMPONENTS.md
  packages/x-skill/skills-zh/x-components/reference/PATTERNS.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-components/reference/API.md
  packages/x-skill/skills/x-components/reference/COMPONENTS.md
  packages/x-skill/skills/x-components/reference/PATTERNS.md
  packages/x-skill/skills/x-markdown/reference/API.md
  packages/x/components/introduce/index.en-US.md
  packages/x/components/introduce/index.zh-CN.md
  packages/x/docs/x-sdk/use-x-chat.en-US.md
  packages/x/docs/x-sdk/use-x-chat.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/use-x-chat/reference/CORE.md
  packages/x-skill/skills/use-x-chat/reference/EXAMPLES.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-chat-provider/reference/EXAMPLES.md
Due: prettier --ignore-unknown --write

feat: agent
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/reference/API.md
  packages/x-skill/skills/x-components/reference/API.md
  packages/x-skill/skills/x-components/reference/COMPONENTS.md
  packages/x-skill/skills/x-components/reference/PATTERNS.md
Due: prettier --ignore-unknown --write

feat: skill
  packages/x-skill/skills-zh/x-components/reference/COMPONENTS.md
  packages/x-skill/skills-zh/x-components/reference/PATTERNS.md
Due: prettier --ignore-unknown --write

feat: skill
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/x-components/reference/API.md
  packages/x-skill/skills/x-components/reference/COMPONENTS.md
  packages/x-skill/skills/x-request/reference/API.md
Due: prettier --ignore-unknown --write

feat: skill
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/src/skill-meta.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test(ThoughtChain): use class attribute string to detect duplicate className tokens
  packages/x/components/thought-chain/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: skill x-card
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-card/reference/ACTIONS.md
  packages/x-skill/skills-zh/x-card/reference/API.md
  packages/x-skill/skills-zh/x-card/reference/CATALOG.md
  packages/x-skill/skills-zh/x-card/reference/COMMANDS.md
  packages/x-skill/skills-zh/x-card/reference/DATA_BINDING.md
  packages/x-skill/skills-zh/x-card/reference/USAGE.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-card/reference/ACTIONS.md
  packages/x-skill/skills/x-card/reference/API.md
  packages/x-skill/skills/x-card/reference/CATALOG.md
  packages/x-skill/skills/x-card/reference/COMMANDS.md
  packages/x-skill/skills/x-card/reference/DATA_BINDING.md
  packages/x-skill/skills/x-card/reference/USAGE.md
  packages/x-skill/src/skill-meta.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill x-card
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/scripts/config.ts
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-card/reference/API.md
  packages/x-skill/skills-zh/x-card/reference/COMMANDS.md
  packages/x-skill/skills/x-card/SKILL.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill x-card
  packages/x-skill/scripts/config.ts
  packages/x-skill/scripts/skillApi.ts
  packages/x-skill/skills-zh/x-card/reference/INTRODUCTION.md
  packages/x-skill/skills/x-card/reference/INTRODUCTION.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: skill x-card
  packages/x-skill/src/skill-meta.json
Due: biome check --write --files-ignore-unknown=true

feat: skill api
  packages/x-skill/skills-zh/x-card/reference/API.md
  packages/x-skill/skills-zh/x-components/reference/API.md
  packages/x-skill/skills-zh/x-request/reference/API.md
  packages/x-skill/skills/use-x-chat/reference/API.md
  packages/x-skill/skills/x-card/reference/API.md
  packages/x-skill/skills/x-components/reference/API.md
  packages/x-skill/skills/x-request/reference/API.md
Due: prettier --ignore-unknown --write

feat: x-skill
  packages/x-skill/skills/x-card/reference/ACTIONS.md
  packages/x-skill/skills/x-card/reference/COMMANDS.md
  packages/x-skill/skills/x-card/reference/INTRODUCTION.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.6.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 2.6.0
  packages/x/.dumi/hooks/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

feat: 统一中文下语义化DOM的标题
  packages/x-skill/skills-zh/x-components/reference/API.md
  packages/x-skill/src/skill-meta.json
  packages/x/components/file-card/index.zh-CN.md
  packages/x/components/folder/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(sender): adjust slot-tag style to inline-flex (#1878)
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

fix: code review comments
  packages/x-skill/skills-zh/x-components/reference/API.md
  packages/x-skill/src/skill-meta.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: a2ui
  packages/x-card/src/A2UI/Card.tsx
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-card/reference/ACTIONS.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-card/reference/ACTIONS.md
  packages/x-skill/src/skill-meta.json
  packages/x/docs/x-card/a2ui-v-0-8.en-US.md
  packages/x/docs/x-card/a2ui-v-0-8.zh-CN.md
  packages/x/docs/x-card/a2ui-v-0-9.en-US.md
  packages/x/docs/x-card/a2ui-v-0-9.zh-CN.md
  packages/x/docs/x-card/demo/A2UI_v0.8/action-context-resolve.md
  packages/x/docs/x-card/demo/A2UI_v0.8/action-context-resolve.tsx
  packages/x/docs/x-card/demo/A2UI_v0.9/action-context-resolve.md
  packages/x/docs/x-card/demo/A2UI_v0.9/action-context-resolve.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-card
  packages/x-card/src/A2UI/__tests__/Box.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
  packages/x-card/src/A2UI/__tests__/Card.v0.8.test.ts
  packages/x-card/src/A2UI/__tests__/Card.v0.9.test.ts
Due: biome check --write --files-ignore-unknown=true

feat: x-card
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: test
  CHANGELOG.zh-CN.md
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/Card.v0.8.ts
  packages/x-card/src/A2UI/Card.v0.9.ts
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: test
  packages/x-card/src/A2UI/Card.tsx
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
  packages/x-skill/skills-zh/x-card/reference/ACTIONS.md
  packages/x-skill/skills/x-card/reference/ACTIONS.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: test
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog
  packages/x-card/src/A2UI/__tests__/Card.coverage.test.tsx
  packages/x-skill/skills-zh/x-card/reference/ACTIONS.md
  packages/x-skill/skills/x-card/reference/ACTIONS.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(sender): preserve runtime slots across slotConfig ref changes
  packages/x/components/sender/__tests__/use-slot-config-state.test.ts
  packages/x/components/sender/components/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-slot-config-state.ts
Due: biome check --write --files-ignore-unknown=true

feat: folder
  packages/x-skill/src/skill-meta.json
  packages/x/components/folder/DirectoryTree.tsx
  packages/x/components/folder/__tests__/index.test.tsx
  packages/x/components/folder/demo/context-menu.md
  packages/x/components/folder/demo/context-menu.tsx
  packages/x/components/folder/index.en-US.md
  packages/x/components/folder/index.tsx
  packages/x/components/folder/index.zh-CN.md
  packages/x/components/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: folder feat
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: folder feat
  packages/x/components/folder/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat(parser): enhance handling of custom tags and markdown syntax
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
