Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: add dumi type declarations to fix lint errors
  packages/x/typings/custom-typings.d.ts
Due: biome check --write --files-ignore-unknown=true

update
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/components.en-US.md
  packages/x/docs/x-markdown/components.zh-CN.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: add
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: lint
  biome.json
  packages/x-skill/src/skill-meta.json
  packages/x/.dumi/tsconfig.json
  packages/x/components/attachments/util.ts
  packages/x/components/folder/demo/context-menu.tsx
  packages/x/docs/x-markdown/demo/streaming/format.tsx
  packages/x/docs/x-sdk/demos/chat-providers/custom-provider-width-ui.tsx
  packages/x/tsconfig.json
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x/components/folder/DirectoryTree.tsx
  packages/x/components/folder/index.tsx
Due: biome check --write --files-ignore-unknown=true

update
  packages/x-card/src/A2UI/utils.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/nodenameDebug.test.ts
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
Due: biome check --write --files-ignore-unknown=true

fix: add missing DOMPurify import in Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
Due: biome check --write --files-ignore-unknown=true

feat: lint
  packages/x-markdown/.jest.js
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.css
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/tests/setup.ts
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/__tests__/index.test.tsx
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix(x-markdown): split full-newline protection into a separate flag
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-skill/skills-zh/x-markdown/reference/API.md
  packages/x-skill/skills-zh/x-markdown/reference/EXTENSIONS.md
  packages/x-skill/skills/x-markdown/reference/API.md
  packages/x-skill/skills/x-markdown/reference/EXTENSIONS.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

pin
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

ci: pinned dumi version to 2.4.28
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

ci: pinned dumi version to 2.4.28 (#1922)
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

refactor(x-markdown): clarify custom tag block markdown option
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-skill/skills-zh/x-markdown/reference/API.md
  packages/x-skill/skills-zh/x-markdown/reference/EXTENSIONS.md
  packages/x-skill/skills/x-markdown/reference/API.md
  packages/x-skill/skills/x-markdown/reference/EXTENSIONS.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

update
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

refactor(x-markdown): align internal flag name with public option
  packages/x-markdown/src/XMarkdown/core/Parser.ts
Due: biome check --write --files-ignore-unknown=true

feat: lingxi-dev
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: merge main to feature (#1923)
  packages/x-markdown/.jest.js
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/__tests__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/index.css
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-markdown/tests/setup.ts
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/file-card/List.tsx
  packages/x/components/file-card/__tests__/index.test.tsx
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.zh-CN.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: merge
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: cache chat provider with useRef in x-conversations demos
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

docs: cache chat provider with useRef in x-conversations demos (#1925)
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

chore: merge mian to feature (#1924)
  package.json
  packages/x-card/package.json
  packages/x-card/src/version.ts
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x-skill/.claude-plugin/marketplace.json
  packages/x-skill/package.json
  packages/x-skill/skills-zh/use-x-chat/SKILL.md
  packages/x-skill/skills-zh/x-card/SKILL.md
  packages/x-skill/skills-zh/x-chat-provider/SKILL.md
  packages/x-skill/skills-zh/x-components/SKILL.md
  packages/x-skill/skills-zh/x-markdown/SKILL.md
  packages/x-skill/skills-zh/x-request/SKILL.md
  packages/x-skill/skills/use-x-chat/SKILL.md
  packages/x-skill/skills/x-card/SKILL.md
  packages/x-skill/skills/x-chat-provider/SKILL.md
  packages/x-skill/skills/x-components/SKILL.md
  packages/x-skill/skills/x-markdown/SKILL.md
  packages/x-skill/skills/x-request/SKILL.md
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: merge
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: lingxi-dev
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

chore: feature merge main (#1927)
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/with-x-chat.tsx
Due: biome check --write --files-ignore-unknown=true

chore: feature merge main (#1928)
  packages/x-markdown/src/XMarkdown/__tests__/Parser.test.ts
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x-skill/skills-zh/x-markdown/reference/API.md
  packages/x-skill/skills-zh/x-markdown/reference/EXTENSIONS.md
  packages/x-skill/skills/x-markdown/reference/API.md
  packages/x-skill/skills/x-markdown/reference/EXTENSIONS.md
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: merge
  CHANGELOG.zh-CN.md
  packages/x-skill/package.json
  packages/x-skill/src/skill-meta.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: issue fixed
  .claude/settings.json
  packages/x/components/_util/__tests__/use-mobile.test.tsx
  packages/x/components/_util/hooks/use-mobile.ts
  packages/x/components/actions/ActionsFeedback.tsx
  packages/x/components/actions/ActionsItem.tsx
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/style/index.ts
  packages/x/components/code-highlighter/CodeHighlighter.tsx
  packages/x/components/code-highlighter/style/index.ts
  packages/x/components/conversations/Item.tsx
  packages/x/components/conversations/__tests__/index.test.tsx
  packages/x/components/conversations/style/index.ts
  packages/x/components/sender/hooks/use-speech.ts
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/index.test.tsx
  packages/x/components/sources/components/CarouselCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: issue fixed
  .claude/settings.json
  .gitignore
Due: biome check --write --files-ignore-unknown=true

feat: issue fixed
  packages/x-markdown/src/XMarkdown/__benchmark__/components/MarkdownRenderer.tsx
Due: biome check --write --files-ignore-unknown=true

feat: issue fixed
  packages/x/components/_util/__tests__/use-mobile.test.tsx
  packages/x/components/sources/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: issue fixed
  packages/x/components/_util/hooks/use-mobile.ts
  packages/x/components/actions/ActionsMenu.tsx
  packages/x/components/sources/components/CarouselCard.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
