Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: update version
  package.json
Due: biome check --write --files-ignore-unknown=true

docs: update changelog of 1.0.4
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: delete repetitive style import
  .dumi/theme/common/PeterCat.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update img link
  docs/spec/intention-introduce.en-US.md
  docs/spec/intention-introduce.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update @petercatai/assistant version
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: Sender support focus.
  components/index.ts
  components/sender/demo/focus.md
  components/sender/demo/focus.tsx
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

refactor: demo dom
  components/sender/demo/focus.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update test snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: ts error
  components/attachments/demo/with-sender.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: remove export SenderRef and use GetRef instead
  components/attachments/demo/with-sender.tsx
  components/index.ts
  components/sender/demo/focus.tsx
  components/sender/demo/paste-image.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: SenderRef
  components/attachments/demo/with-sender.tsx
  components/sender/demo/paste-image.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs: update SenderRef
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add blur demo
  components/sender/demo/focus.tsx
Due: biome check --write --files-ignore-unknown=true

refactor: useProxyImperativeHandle instead of React.useImperativeHandle
  components/_util/hooks/use-proxy-imperative-handle.ts
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

test: add test for useProxyImperativeHandle
  components/_util/__tests__/hooks.test.tsx
Due: biome check --write --files-ignore-unknown=true

chore: add DingTalk Release Notification
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

fix: run dev error, require non-existent file
  components/version/index.ts
  index.js
Due: biome check --write --files-ignore-unknown=true

chore: update release notice banner
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

docs: update changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: use png replace webp
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

feat: 启动命令兼容pnpm
  components/version/index.ts
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: 启动命令兼容pnpm
  package.json
  scripts/dev-manager.ts
Due: biome check --write --files-ignore-unknown=true

feat: 增加dev script
  package.json
  scripts/dev-manager.ts
Due: biome check --write --files-ignore-unknown=true

feat: remove dev script
  package.json
Due: biome check --write --files-ignore-unknown=true

feat: version切换问题
  .dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

chore: Update dependabot.yml
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

Revert "chore(deps-dev): bump react from 18.3.1 to 19.0.0 (#424)"
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

fix: react 19 type error
  .dumi/components/SemanticPreview.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/common/PrevAndNext.tsx
  .dumi/theme/layouts/DocLayout/index.tsx
  components/attachments/index.tsx
  components/sender/index.tsx
  components/sender/interface.ts
  components/suggestion/interface.ts
  tests/utils.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 确保actionsRef关联的元素存在再赋值
  .dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 版本下拉问题修复
  .dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

chore: chore
  .dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update dumi version
  bun.lockb
  package.json
Due: biome check --write --files-ignore-unknown=true

test: update snap
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/demo.test.ts
  components/x-stream/__tests__/demo.test.ts
  tests/shared/demoTest.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
