Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: workarea opt
  docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

fix: sender content
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

Update index.ts
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: sematic odcs
  components/sender/demo/_semantic.tsx
  components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: useXAgent & useXChat stream error
  components/use-x-agent/demo/model.md
  components/use-x-agent/demo/model.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
  components/use-x-chat/demo/model.md
  components/use-x-chat/demo/model.tsx
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
  components/use-x-chat/index.zh-CN.md
  components/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: xAgent & xChat & xRequest
  components/use-x-agent/demo/model.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
  components/use-x-chat/demo/model.md
  components/use-x-chat/demo/model.tsx
  components/use-x-chat/demo/stream-cancel.md
  components/use-x-chat/demo/stream-cancel.tsx
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
  components/use-x-chat/index.zh-CN.md
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: xAgent & xChat & xRequest
  components/use-x-chat/demo/model.tsx
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
  components/use-x-chat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: xAgent & xChat & xRequest
  components/use-x-agent/demo/model.md
  components/use-x-chat/demo/model.tsx
  components/x-request/demo/model.md
  components/x-request/demo/model.tsx
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: x-request & useXChat & useXagent stream and message transform
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-agent/__tests__/index.test.tsx
  components/use-x-agent/index.ts
  components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/index.ts
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: x-request & useXChat & useXagent stream and message transform
  components/use-x-agent/demo/requestParams.md
  components/use-x-agent/demo/requestParams.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.zh-CN.md
  components/use-x-chat/index.en-US.md
  components/x-request/demo/requestParams.md
  components/x-request/demo/requestParams.tsx
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

ts: x-request & useXChat & useXagent stream and message transform
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
  components/use-x-chat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: x-request & useXChat & useXagent stream and message transform
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: x-request & useXChat & useXagent stream and message transform
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: create pr-auto-merge.yml
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

test: add use-x-chat test
  components/use-x-chat/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat(suggestion): callback current item
  components/suggestion/index.tsx
  components/suggestion/useActive.ts
Due: biome check --write --files-ignore-unknown=true

feat(suggestion): allow SuggestionItem generic types
  components/suggestion/index.tsx
Due: biome check --write --files-ignore-unknown=true

docs(suggestion): SuggestionItem type and onSelect callback type
  components/suggestion/index.en-US.md
  components/suggestion/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: add use-x-chat test
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: thought-chain collapsible not work
  components/thought-chain/demo/collapsible.tsx
  components/thought-chain/hooks/useCollapsible.ts
  components/thought-chain/index.tsx
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain collapsible not work
  components/thought-chain/demo/collapsible.tsx
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain collapsible not work
  components/attachments/index.en-US.md
  components/conversations/Item.tsx
  components/conversations/demo/actions.md
  components/conversations/demo/actions.tsx
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
  components/conversations/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: thought-chain collapsible not work
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/Item.tsx
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/index.test.tsx
  components/thought-chain/demo/collapsible.tsx
Due: biome check --write --files-ignore-unknown=true

fix: thought-chain collapsible not work
  components/conversations/index.en-US.md
  components/thought-chain/Item.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update api
  components/use-x-chat/demo/model.tsx
  docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

docs: add x-request demo for request options
  components/x-request/demo/request-options.md
  components/x-request/demo/request-options.tsx
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: fix useXAgent's RequestFn onSuccess typeand update useXChat
  components/use-x-agent/demo/custom.tsx
  components/use-x-agent/demo/preset.tsx
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.ts
  components/use-x-agent/index.zh-CN.md
  components/use-x-chat/demo/basic.tsx
  components/use-x-chat/demo/model.tsx
  components/use-x-chat/demo/stream.tsx
  components/use-x-chat/demo/suggestions.tsx
  components/use-x-chat/index.ts
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: fix useXAgent's RequestFn onSuccess typeand update useXChat
  components/use-x-chat/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: fix useXAgent's RequestFn onSuccess typeand update useXChat
  components/use-x-chat/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: fix useXAgent's RequestFn onSuccess typeand update useXChat
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: x-request
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: fix useXAgent's RequestFn onSuccess typeand update useXChat
  .dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  .dumi/pages/index/components/SceneIntroduction/Independent.tsx
  components/use-x-agent/index.ts
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/demo/basic.tsx
  components/use-x-chat/demo/suggestions.tsx
  components/use-x-chat/index.ts
  docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

test: useXChat
  .jest.js
  components/use-x-chat/__tests__/index.test.tsx
  components/use-x-chat/demo/model.tsx
Due: biome check --write --files-ignore-unknown=true

test: useXChat
  components/use-x-agent/index.en-US.md
  components/use-x-agent/index.zh-CN.md
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.ts
  components/use-x-chat/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: converstations css
  components/conversations/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: bubble list scrollbar
  components/bubble/style/list.ts
Due: biome check --write --files-ignore-unknown=true

docs: version of version
  .dumi/hooks/useMenu.tsx
Due: biome check --write --files-ignore-unknown=true

docs: version of antdx
  .dumi/hooks/useMenu.tsx
Due: biome check --write --files-ignore-unknown=true

docs: changelog of 1.1.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: changelog of 1.1.1
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
