Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: blink
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
  packages/x/components/thought-chain/__tests__/item.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: blink
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/item.test.tsx.snap
Due: none

feat: blink
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/TypingContent.tsx
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/bubble/__tests__/index.test.tsx
  packages/x/components/bubble/demo/basic.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: test
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
  packages/x/components/bubble/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 更新文档
  packages/x/components/bubble/demo/markdown.tsx
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/index.ts
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 更新文档
  packages/x/components/bubble/style/bubble.ts
Due: biome check --write --files-ignore-unknown=true

feat: thoughtchain 闪动
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/demo/basic.tsx
  packages/x/components/thought-chain/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: thoughtchain 闪动
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: 更新文档
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: Actions fade in
  packages/x/components/actions/demo/fadeIn.md
  packages/x/components/actions/demo/fadeIn.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
  packages/x/components/actions/style/index.ts
  packages/x/components/conversations/style/index.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sources/style/index.ts
  packages/x/components/style/blink.ts
  packages/x/components/style/fade.ts
  packages/x/components/style/index.ts
  packages/x/components/style/motion.ts
  packages/x/components/think/style/index.ts
  packages/x/components/thought-chain/style/index.ts
  packages/x/components/thought-chain/style/item.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: Actions fade in
  packages/x/components/actions/demo/fadeIn.md
Due: prettier --ignore-unknown --write

feat: Actions fade in
  packages/x/components/actions/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 更新文档
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/actions/demo/fadeIn.tsx
Due: biome check --write --files-ignore-unknown=true

feat: action motion
  packages/x/components/actions/demo/fadeIn.tsx
  packages/x/components/actions/index.en-US.md
  packages/x/components/actions/index.tsx
  packages/x/components/actions/index.zh-CN.md
  packages/x/components/actions/interface.ts
  packages/x/components/actions/style/index.ts
  packages/x/components/prompts/__tests__/index.test.tsx
  packages/x/components/prompts/demo/fadeIn.md
  packages/x/components/prompts/demo/fadeIn.tsx
  packages/x/components/prompts/index.en-US.md
  packages/x/components/prompts/index.tsx
  packages/x/components/prompts/index.zh-CN.md
  packages/x/components/prompts/style/index.ts
  packages/x/components/style/fade.ts
  packages/x/components/style/index.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: update
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

feat: 更新测试用例
  packages/x/components/prompts/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 更新测试用例
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: 修复更新日志样式问题
  packages/x/.dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
Due: biome check --write --files-ignore-unknown=true

feat: mermaid actions
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: mermaid actions key
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: doc
  packages/x/docs/x-markdown/demo/_utils/adx-markdown.ts
Due: biome check --write --files-ignore-unknown=true

feat: mermaid locale
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x/components/locale/zh_CN.ts
Due: biome check --write --files-ignore-unknown=true

fix: code reivew comment
  packages/x/.dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 更新测试用例
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 更新测试用例
  packages/x/components/actions/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/actions/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: changelog of 2.0.0-alpha.13
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 2.0.0-alpha.13
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: changelog of 2.0.0-alpha.13
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: mermaid test case
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

feat: code coverage
  packages/x-markdown/src/plugins/Mermaid/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat(Sender): tag插槽添加删除按钮
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat(sender): remove attr
  biome.json
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

feat: XMarkdown 自定义渲染footer
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/demo/codeDemo/md-footer.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 文档, CR
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/md-footer.tsx
  packages/x/docs/x-markdown/examples.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: 处理code时,不增加footer
  packages/x-markdown/src/XMarkdown/core/Parser.ts
  packages/x-markdown/src/XMarkdown/index.tsx
  packages/x/docs/x-markdown/demo/codeDemo/md-footer.tsx
Due: biome check --write --files-ignore-unknown=true

feat: link docs
  packages/x/docs/x-markdown/demo/codeDemo/link.tsx
Due: biome check --write --files-ignore-unknown=true

feat(Sender): tag slot add clear button
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
