Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: update ci
  docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender insert
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Add functionality to find common string prefixes to optimize typing experience
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender insert
  packages/x/components/_util/hooks/use-get-state.ts
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender insert
  packages/x/components/_util/hooks/use-get-state.ts
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: Increase typing effect 'Correctly reset starting position' unit test
  components/bubble/__tests__/index.test.tsx
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --files-ignore-unknown=true

feat: Enhance handling of empty strings and optimize the typing effect test for the bubble component
  components/bubble/__tests__/index.test.tsx
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --files-ignore-unknown=true

docs: Update typing effect example and add intelligent prefix continuation feature
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/typing.md
  components/bubble/demo/typing.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender slot
  packages/x/components/_util/warning.ts
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-get-state.ts
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender autosize
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/hooks/use-input-height.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/hooks/use-input-height.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/header.tsx
  packages/x/components/sender/demo/paste-image.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/Switch.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/demo/slot-filling.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/demo/actions.tsx
Due: biome check --write --files-ignore-unknown=true

chore: i18n
  .dumi/theme/layouts/GlobalLayout.tsx
  docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: loading
  docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

chore: i18n
  docs/playground/agent-tbox.tsx
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

fix: jest
  packages/x/.jest.js
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/index.ts
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/Switch.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/demo/switch.md
  packages/x/components/sender/demo/switch.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/switch.ts
  packages/x/docs/x-markdown/components.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender slot
  packages/x/components/sender/SenderSwitch.tsx
  packages/x/components/sender/demo/_semantic.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/suffix.md
  packages/x/components/sender/demo/suffix.tsx
  packages/x/components/sender/demo/switch.md
  packages/x/components/sender/demo/switch.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/switch.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender slot
  packages/x/components/sender/index.en-US.md
Due: prettier --ignore-unknown --write

feat: sender slot
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender slot
  packages/x/components/sender/demo/agent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/focus.md
  packages/x/components/sender/demo/ref-action.md
  packages/x/components/sender/demo/ref-action.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/hooks/use-input-height.ts
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.tsx
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/index.ts
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender test
  packages/x/components/_util/__tests__/warning.test.tsx
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/conversations/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/sender/__tests__/index.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/hooks/use-get-state.ts
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/tests/__snapshots__/index.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

feat: sender test
  packages/x/.dumi/pages/index/common/CustomizationSender.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/send-style.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: sender slot
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: sender header
  packages/x/components/sender/SenderHeader.tsx
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/TextArea.tsx
  packages/x/components/sender/__tests__/__snapshots__/header.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/switch.test.tsx.snap
  packages/x/components/sender/__tests__/header.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/__tests__/switch.test.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
  packages/x/components/sender/style/header.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender header
  packages/x/components/sender/SenderHeader.tsx
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender header
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/header.test.tsx.snap
  packages/x/components/sender/index.en-US.md
Due: prettier --ignore-unknown --write

feat: sender slot
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/demo/basic.tsx
  packages/x/components/sender/demo/send-style.md
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender header
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: sender BTN
  packages/x/components/sender/components/ActionButton.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/style/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: file
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/use-x-chat/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: file
  packages/x/components/sender/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: changelog of 1.6.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  packages/x/components/sender/__tests__/header.test.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/__tests__/switch.test.tsx
  packages/x/components/sender/demo/agent.tsx
  packages/x/components/sender/demo/ref-action.md
  packages/x/components/sender/demo/send-style.md
  packages/x/components/sender/demo/switch.md
  packages/x/components/sender/demo/switch.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/docs/x-markdown/components.en-US.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: changelog of 1.6.0
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write
