Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: 更新antdx文档
  README-zh_CN.md
  README.md
  packages/x/README-zh_CN.md
  packages/x/README.md
  packages/x/docs/x-markdown/demo/_utils/adx-markdown.ts
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/streaming.tsx
  packages/x/docs/x-markdown/demo/supersets/CustomPlugin/custom.tsx
  packages/x/docs/x-markdown/demo/themes/custom.tsx
  packages/x/docs/x-markdown/demo/themes/dark.tsx
  packages/x/docs/x-markdown/demo/themes/light.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: 更新changelog文档位置
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x-markdown/README-zh_CN.md
  packages/x-sdk/README-zh_CN.md
  packages/x/.dumi/theme/plugin.ts
  packages/x/CHANGELOG.md
  packages/x/README-zh_CN.md
  packages/x/scripts/generate-component-changelog.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

Add Star History section to README
  README.md
Due: prettier --ignore-unknown --write

docs: 更新changelog文档位置
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/docs/react/agent-use-tbox.en-US.md
  packages/x/docs/react/agent-use-tbox.zh-CN.md
Due: prettier --ignore-unknown --write

feat: site
  packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Provider.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/StartPage.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/interface.ts
  packages/x/.dumi/pages/index/components/SceneIntroduction/index.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site
  packages/x-markdown/src/themes/dark.css
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
Due: biome check --write --files-ignore-unknown=true

feat: markdown Semantic
  packages/x/components/x-provider/XMarkdownComponents.ts
  packages/x/components/x-provider/context.ts
  packages/x/components/x-provider/index.tsx
  packages/x/package.json
  packages/x/scripts/markdown-config.ts
Due: biome check --write --files-ignore-unknown=true

chore: version
  package.json
  packages/x-markdown/package.json
  packages/x-sdk/package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

chore: changelog of alpha7
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: site
  packages/x/.dumi/pages/index/components/MainBanner.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
Due: biome check --write --files-ignore-unknown=true

feat: site
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Prompt.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Sender.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/index.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/interface.ts
Due: biome check --write --files-ignore-unknown=true

feat: site
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Sender.tsx
Due: biome check --write --files-ignore-unknown=true

fix: markdown
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/Mermaid/index.tsx
  packages/x-markdown/src/plugins/hooks/use-x-provider-context.ts
  packages/x-markdown/src/plugins/theme/genStyleUtils.ts
  packages/x-markdown/tsconfig.json
  packages/x/components/_util/hooks/use-x-component-config.ts
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/bubble/demo/semantic-list-custom.tsx
  packages/x/components/bubble/style/bubble.ts
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x/components/bubble/demo/semantic-list-custom.tsx
Due: biome check --write --files-ignore-unknown=true

fix: lint
  packages/x-markdown/src/plugins/Mermaid/__test__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix:dekkp
  packages/x-markdown/tests/dekko/lib.test.ts
Due: biome check --write --files-ignore-unknown=true

fix:dekkp
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x-markdown/src/plugins/HighlightCode/index.tsx
  packages/x-markdown/src/plugins/type.ts
  packages/x/components/x-provider/XMarkdownComponents.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: css
  packages/x-markdown/src/XMarkdown/index.less
  packages/x-markdown/src/themes/dark.css
  packages/x-markdown/src/themes/light.css
Due: biome check --write --files-ignore-unknown=true

feat: ts
  packages/x/.dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  packages/x/.dumi/pages/index/components/SceneIntroduction/Independent.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/__tests__/list.test.tsx
  packages/x/components/bubble/demo/list-ref.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.tsx
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/interface.ts
  packages/x/components/index.ts
  packages/x/components/prompts/index.tsx
  packages/x/components/thought-chain/Node.tsx
  packages/x/components/thought-chain/__tests__/index.test.tsx
  packages/x/components/thought-chain/demo/_semantic.tsx
  packages/x/components/thought-chain/demo/customization.md
  packages/x/components/thought-chain/demo/customization.tsx
  packages/x/components/thought-chain/demo/status.tsx
  packages/x/components/thought-chain/index.en-US.md
  packages/x/components/thought-chain/index.tsx
  packages/x/components/thought-chain/index.zh-CN.md
  packages/x/components/thought-chain/interface.ts
  packages/x/docs/x-markdown/demo/components/thoughtChain.tsx
  packages/x/docs/x-sdk/demos/x-request/basic.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-params.tsx
  packages/x/docs/x-sdk/demos/x-request/custom-transformer.tsx
  packages/x/docs/x-sdk/demos/x-request/model.tsx
  packages/x/docs/x-sdk/demos/x-request/timeout.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: ts
  packages/x/.dumi/pages/index/components/SceneIntroduction/Portal/Agent.tsx
  packages/x/components/prompts/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix(docs): repair the type error in the useXChat document
  components/use-x-chat/index.en-US.md
  components/use-x-chat/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: toolIdList
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

chore: playground
  packages/x-sdk/src/index.ts
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update site config
  README-zh_CN.md
  README.md
  packages/x/.dumi/theme/layouts/DocLayout/index.tsx
  packages/x/docs/react/introduce.zh-CN.md
  packages/x/scripts/previewEditor/template.html
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

chore: markdown
  README.md
Due: prettier --ignore-unknown --write

chore: markdown
  packages/x/docs/react/introduce.en-US.md
Due: prettier --ignore-unknown --write

feat: bubble info
  packages/x/components/actions/Item.tsx
  packages/x/components/actions/interface.ts
  packages/x/components/bubble/Bubble.tsx
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/context.ts
  packages/x/components/bubble/interface.ts
  packages/x/docs/playground/independent.tsx
Due: biome check --write --files-ignore-unknown=true

chore: update tbox website
  docs/react/agent-use-tbox.en-US.md
  docs/react/agent-use-tbox.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update tbox website next
  packages/x/docs/react/agent-use-tbox.en-US.md
  packages/x/docs/react/agent-use-tbox.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update tbox website
  packages/x/docs/react/agent-use-tbox.en-US.md
  packages/x/docs/react/agent-use-tbox.zh-CN.md
  packages/x/docs/x-sdk/chat-provider.en-US.md
Due: prettier --ignore-unknown --write

chore: 删除title
  packages/x/.dumi/theme/layouts/DocLayout/index.tsx
Due: biome check --write --files-ignore-unknown=true

chore: 删除title
  packages/x/.dumi/theme/layouts/DocLayout/index.tsx
  packages/x/scripts/previewEditor/template.html
Due: biome check --write --files-ignore-unknown=true

chore: 删除title
  packages/x/scripts/previewEditor/template.html
Due: none

chore: 删除title
  packages/x/.dumi/theme/common/CommonHelmet.tsx
  packages/x/.dumi/theme/layouts/IndexLayout/index.tsx
Due: biome check --write --files-ignore-unknown=true

Path conditions:
  biome check --write --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
