Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: Add DeepWiki badge to README
  README.md
Due: prettier --ignore-unknown --write

docs: Add DeepWiki badge to README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

feat: optimize retry
  packages/x-sdk/src/x-request/__test__/index.test.ts
  packages/x-sdk/src/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

feat: support cache incomplete inline code
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
  packages/x-markdown/src/XMarkdown/interface.ts
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

fix: handle void elements and isolate component stream status
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix test file syntax and remove unused comment.
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

fix: add more tests and fix comments
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

fix: enhance tests for multi-instance component handling and stream status
  packages/x-markdown/src/XMarkdown/__tests__/Renderer.test.ts
Due: biome check --write --files-ignore-unknown=true

refactor: optimize retry
  packages/x-sdk/src/x-request/__test__/index.test.ts
  packages/x-sdk/src/x-request/index.ts
Due: biome check --write --files-ignore-unknown=true

feat(cursor): enhance useCursor hook to handle skillKey in node info
  packages/x/components/sender/hooks/use-cursor.ts
Due: biome check --write --files-ignore-unknown=true

test(cursor): add cases for handling cursor position based on selection context
  packages/x/components/sender/__tests__/use-cursor.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: fix ci
  packages/x-markdown/src/XMarkdown/__tests__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

refactor: update component names in semantic previews for Actions
  packages/x/components/actions/demo/_semantic-audio.tsx
  packages/x/components/actions/demo/_semantic-copy.tsx
  packages/x/components/actions/demo/_semantic-feedback.tsx
  packages/x/components/actions/demo/_semantic-item.tsx
Due: biome check --write --files-ignore-unknown=true

chore: demo
  packages/x/docs/x-markdown/demo/streaming/format.tsx
Due: biome check --write --files-ignore-unknown=true

test(x-request): add error handling and warning tests
  packages/x-sdk/src/x-request/__test__/index.test.ts
Due: biome check --write --files-ignore-unknown=true

refactor: update snapshot structure for components and improve class handling in Think component
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/Think.tsx
  packages/x/components/think/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/think/__tests__/__snapshots__/index.test.tsx.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --files-ignore-unknown=true

refactor(Think): simplify class handling in render method
  packages/x/components/think/Think.tsx
Due: biome check --write --files-ignore-unknown=true

fix(Think): ensure className fallback in motion div
  packages/x/components/think/Think.tsx
Due: biome check --write --files-ignore-unknown=true

refactor(Think): streamline style prop assignment
  packages/x/components/think/Think.tsx
Due: biome check --write --files-ignore-unknown=true

chore(tests): update bubble component snapshots to reflect class name changes
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore(tests): update sender and attachment component snapshots for class name changes
  packages/x/components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: layer
  packages/x/components/theme/__tests__/theme.test.tsx
  packages/x/docs/react/common-props.en-US.md
  packages/x/docs/react/common-props.zh-CN.md
  packages/x/docs/react/compatible-style.en-US.md
  packages/x/docs/react/compatible-style.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: snap
  packages/x/components/file-card/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: snap
  packages/x/docs/react/compatible-style.en-US.md
  packages/x/docs/react/compatible-style.zh-CN.md
Due: prettier --ignore-unknown --write

test: snap
  packages/x/docs/react/compatible-style.zh-CN.md
Due: prettier --ignore-unknown --write

fix(thought-chain): update node-content class to node-content-box class for consistency in styling
  packages/x/components/thought-chain/style/index.ts
Due: biome check --write --files-ignore-unknown=true

fix: prefix
  packages/x/components/theme/useToken.ts
Due: biome check --write --files-ignore-unknown=true

fix: type
  packages/x/components/actions/style/audio.tsx
  packages/x/components/actions/style/copy.ts
  packages/x/components/style/motion/collapse.ts
  packages/x/components/style/motion/fade.ts
  packages/x/components/x-provider/context.ts
Due: biome check --write --files-ignore-unknown=true

fix: type
  packages/x/components/mermaid/__tests__/index.test.tsx
Due: biome check --write --files-ignore-unknown=true

docs: aip
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

feat: currentMessage
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

feat: currentMessage
  packages/x/docs/playground/_utils/local.ts
  packages/x/docs/playground/copilot.tsx
Due: biome check --write --files-ignore-unknown=true

test: snap
  packages/x/components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
  packages/x/components/welcome/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: currentMessage
  packages/x/docs/playground/_utils/local.ts
Due: biome check --write --files-ignore-unknown=true

feat: introduce
  package.json
  packages/x/docs/playground/_utils/local.ts
  packages/x/mako.config.json
Due: biome check --write --files-ignore-unknown=true

feat: merge
  package.json
  packages/x/package.json
Due: biome check --write --files-ignore-unknown=true

docs: update sdk name in documentation
  packages/x/docs/x-markdown/demo/_utils/adx-markdown.ts
Due: biome check --write --files-ignore-unknown=true

test: mako
  packages/x/mako.config.json
Due: biome check --write --files-ignore-unknown=true

feat: useDeferredValue
  packages/x/docs/x-sdk/demos/x-chat/async-defaultMessages.tsx
  packages/x/docs/x-sdk/demos/x-conversations/async-defaultMessages.tsx
Due: biome check --write --files-ignore-unknown=true
