Repository ant-design/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --files-ignore-unknown=true"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: fix list inner empahsis
  packages/x-markdown/src/XMarkdown/__test__/hooks.test.tsx
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

fix: fix regex
  packages/x-markdown/src/XMarkdown/hooks/useStreaming.ts
Due: biome check --write --files-ignore-unknown=true

feat: lit scroll
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/demo/list-extra.tsx
  packages/x/components/bubble/demo/list-ref.md
  packages/x/components/bubble/demo/list-scroll.md
  packages/x/components/bubble/demo/list-scroll.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/demo/semantic-list-custom.tsx
  packages/x/components/bubble/index.en-US.md
  packages/x/components/bubble/index.zh-CN.md
  packages/x/components/bubble/style/bubble.ts
  packages/x/components/bubble/style/list.ts
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: date
  packages/x/.dumi/hooks/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

feat: dumi
  packages/x/.dumi/hooks/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

feat: dumi
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/demo/slot-with-suggestion.md
  packages/x/components/sender/demo/slot-with-suggestion.tsx
  packages/x/components/sender/index.tsx
  packages/x/components/sender/interface.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/demo/slot-with-suggestion.md
  packages/x/components/sender/demo/slot-with-suggestion.tsx
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
  packages/x/components/sender/style/slot-textarea.ts
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: sender
  packages/x/.dumi/hooks/useLocale.ts
Due: biome check --write --files-ignore-unknown=true

feat: sender
  packages/x/components/sender/index.en-US.md
  packages/x/components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: lint
  packages/x/components/file-card/List.tsx
  packages/x/components/sender/__tests__/slot.test.tsx
  packages/x/components/sender/demo/slot-filling.tsx
  packages/x/components/sender/demo/slot-with-suggestion.tsx
  packages/x/components/sources/demo/basic.tsx
  packages/x/components/sources/demo/icon.tsx
  packages/x/components/x-provider/demo/theme.tsx
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/playground/copilot.tsx
  packages/x/docs/playground/independent.tsx
  packages/x/docs/playground/ultramodern.tsx
  packages/x/docs/x-markdown/demo/components/custom.tsx
Due: biome check --write --files-ignore-unknown=true

test: lint
  packages/x/docs/playground/ultramodern.tsx
Due: biome check --write --files-ignore-unknown=true

fix: tbox
  packages/x-sdk/src/x-chat/index.ts
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

test: snapshots
  packages/x/components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sender/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: snapshots
  packages/x/docs/playground/agent-tbox.tsx
Due: biome check --write --files-ignore-unknown=true

test:slot test
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test:slot test
  packages/x/components/sender/SlotTextArea.tsx
  packages/x/components/sender/index.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

test: snapshots
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

test:slot
  packages/x/components/sender/SlotTextArea.tsx
Due: biome check --write --files-ignore-unknown=true

test:slot
  packages/x/components/sender/__tests__/slot.test.tsx
Due: biome check --write --files-ignore-unknown=true

fix: skip render animation text when parent is custom component
  packages/x-markdown/src/XMarkdown/__test__/__snapshots__/index.test.tsx.snap
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x-markdown/src/XMarkdown/core/Renderer.ts
Due: biome check --write --files-ignore-unknown=true

feat: 来源引用组件
  packages/x/components/sources/Sources.tsx
  packages/x/components/sources/components/CarouselCard.tsx
  packages/x/components/sources/demo/inline.tsx
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.zh-CN.md
  packages/x/components/sources/style/index.ts
  packages/x/docs/x-markdown/components-sources.en-US.md
  packages/x/docs/x-markdown/components-sources.zh-CN.md
  packages/x/docs/x-markdown/demo/components/sources.tsx
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

feat: 来源引用组件
  packages/x/components/sources/Sources.tsx
Due: biome check --write --files-ignore-unknown=true

feat: 来源引用组件
  packages/x/docs/x-markdown/demo/components/sources.tsx
Due: biome check --write --files-ignore-unknown=true

feat: CustomParagraph
  packages/x-markdown/src/XMarkdown/__test__/index.test.tsx
  packages/x/components/bubble/demo/markdown.tsx
  packages/x/components/sources/__tests__/index.test.tsx
  packages/x/components/sources/components/CarouselCard.tsx
Due: biome check --write --files-ignore-unknown=true

feat: CustomParagraph
  packages/x/components/sources/Sources.tsx
Due: biome check --write --files-ignore-unknown=true

feat: CustomParagraph
  packages/x/docs/playground/_utils/local.ts
Due: biome check --write --files-ignore-unknown=true

feat: CustomParagraph
  packages/x/components/sources/__tests__/__snapshots__/demo-extend.test.ts.snap
  packages/x/components/sources/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: 新增docs
  packages/x/docs/x-markdown/demo/codeDemo/plugin.md
  packages/x/docs/x-markdown/demo/codeDemo/plugin.tsx
  packages/x/docs/x-markdown/demo/codeDemo/renderer.md
  packages/x/docs/x-markdown/demo/codeDemo/renderer.tsx
  packages/x/docs/x-markdown/demo/codeDemo/tokenizer.md
  packages/x/docs/x-markdown/demo/codeDemo/tokenizer.tsx
  packages/x/docs/x-markdown/demo/codeDemo/walkTokens.md
  packages/x/docs/x-markdown/demo/codeDemo/walkTokens.tsx
  packages/x/docs/x-markdown/examples.en-US.md
  packages/x/docs/x-markdown/examples.zh-CN.md
Due: biome check --write --files-ignore-unknown=true, prettier --ignore-unknown --write

docs: 新增docs
  packages/x/components/sources/index.en-US.md
  packages/x/components/sources/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update text
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/bubble/demo/_semantic-list.tsx
  packages/x/components/bubble/demo/list-scroll.tsx
  packages/x/components/bubble/demo/list.tsx
  packages/x/components/bubble/interface.ts
Due: biome check --write --files-ignore-unknown=true

bubble.list
  packages/x/components/bubble/demo/list-extra.tsx
  packages/x/components/bubble/demo/variant-and-shape.tsx
  packages/x/components/bubble/style/list.ts
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

feat: bubble.lost
  packages/x/components/bubble/BubbleList.tsx
  packages/x/components/think/style/index.ts
  packages/x/docs/playground/agent-tbox.tsx
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

feat: bubble.list
  packages/x/docs/x-markdown/demo/streaming/animation.tsx
Due: biome check --write --files-ignore-unknown=true

feat: bubble.list
  packages/x/components/bubble/BubbleList.tsx
Due: biome check --write --files-ignore-unknown=true

feat: bubble.lost
  packages/x/components/bubble/BubbleList.tsx
Due: biome check --write --files-ignore-unknown=true
